# **What is Python?**

Python is aprogramming language and was first found in 1991 by Guido Rossum.

**What Python can do?**


*   Python can create web applicaton on client as well as server side
*   Python can be used to create software applications
*   Python can be used to connect databases and can modify
*   Python can be used to perform big data to perform mathematical calculations   

**Why Python?**

*  Python works on different platforms like windows,Mac,Linux.
*  It has simple syntax like english
*  It helps to programmers to write program in fewer lines
*  python prototyping is very quick means it runs on an interpreter system means code can be executed as soon as it written.
*  it works on OOPs as well as functional way.

**What is an interpreter system?**

Interpreter system works on lne by line. for eg. if we write a code it executes the source code line by line in dynamic way and gives result immediately.

where as in other languages we need to write the code in particular programing language, then it converts that entire entire source code using a compiler to machine langauge before executing, then it executes.

**Python code of syntax.**
to completion of a command in python we use new line. where as in other programng languages semicolon(;) will be used.

in python we use indentation using whitespaces to define functions, classes etc.. where as in other programmng laguages we use parenthesis {}

**Python Installation**

visit the website https://www.python.org/
and download latest version...

**How to start Python**

After installing python from above website open commandline from windows OS, by typing **cmd** then enter . then we need to type **python** or **python --version**  or **py**. it will show the verson which was installed on your system..like 3.11.5

In python we need to work on any text editor. Most popular are Jupyter Notebook, Google Collab etc..

Python fles are stored wth an extension of **.py**   

for eg.  welcome.py.... welcome is fle name and .py represents as extension of python file.

In [ ]:
# In python we use indentation to represent block of code

if 4 > 2: #line 1
  print('bigger is', 4) #line 2
# in line 2 ther is a space thats called indentation in python.

bigger is 4

#**Comments**

In python we use comments

* To explain the python code
* To make it  more readable to understand
* Prevent executon of code

In python comments are symbolised as #  and """   """

In [ ]:
# this is the example of sngle line comment
# Second single line comment
""" Multilne comments"""

print("Hello World")

""" Multilne comments"""

print("Hello World")

Hello World
Hello World

#Python keywords

In [13]:
import keyword

for i in keyword.kwlist:
    print(i)

False
None
True
and
as
assert
async
await
break
class
continue
def
del
elif
else
except
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield

In [ ]:
#and
#logical operator

a=4
b=5

print(a and b)  # Here a and b both are true hence latest value will be printed

x=0
y=5

print( x and y) # here output is false hence it returns 1st operand value

a1=5
a2=0

print(a1 and a2)  # here output is false hence it returns 1st operand value

5
0
0

In [ ]:
#as
#' as'  is aliasing

import pandas as pd # Aliasing

In [ ]:
#Assert
#Will be used in debugging code. If condition not true raises exception

var1="HELLO"
assert var1=="HELLO","var1 Matched"
assert var1=="HELLo", "var1 MisMatched"

AssertionError: var1 MisMatched

In [ ]:
#break

# Used to comeout from loops

i=1

while i != 3:
    print(i)
    i += 1
    break    # Stops execution even though condition not satisfied

1

In [ ]:
#continue
#continues a iteration

a=1

while a <= 4:

    a +=1
    if a ==3:
        continue  # Here the continue keyword continues the loop by dropping the value when i =3
    print(a,end="  ") #Output prints as 2,4,5

2  4  5

In [ ]:
#class
# Defines a class

class hello:  #to define a class we use class <classname> then :(colon)
    print("Hello")

Hello

In [ ]:
#def
#defines a function

def fun():  # to define a function we use keyword 'def' then <function_name> then :(colon)
    print("Hello Python")
fun()  # To run a function a we need tocall the function by its function name

Hello Python

In [ ]:
#del
# deletes an object

my_string="Hello"
print(my_string)  #prints my_string value"Hello"

del my_string  #Deleting the strng 'my_string'
print(my_string) # Throws Nameerror exception

Hello

NameError: name 'my_string' is not defined

In [ ]:
#elif
#elif  to loop a condition

if a > 5:
    print("Condition not satisfied")
elif a > 4:  #If multiple conditions we use "elif"
    print("condition Not Satisfied")
else:
    print("Value of a is::", str(a))

a=3

Value of a is:: 3

In [ ]:
#else
# Used in conditional statement
#Format: 'else' then :(colon)

A= 33

if A==3 :  #Checks the condition
    print(" A equal to 3")
else:    # If conditions not satisfied else will execute
    print("A not equal to 3")

A not equal to 3

In [ ]:
#except
#used with try
#try except commonly used in file operation like  to open a file or to write into a file

x=input("Enter Value of x::")

try:
    x>5
    print(x)
except:
    print("Value not traced")

Enter Value of x::6
Value not traced

In [ ]:
#False
# Returns boolean value if condition fails

print(5==6)
print( 5==6 or 5==7)

False
False

In [ ]:
#finally
#especially used with try..exception..

try:
    x == int(x)
    print("X is a integer::", int(x))

except:
    print("Entered Value is not a integer")

else:
    if   x >5:
        print("X value is greater than 5")

finally:
    print("The Entered value of X is ::",x)  #Always executes finally statement irrespective of conditions

x=3

X is a integer:: 3
The Entered value of X is :: 3

In [ ]:
#Finally
try:
    x == int(x)
    print("X is a integer::", int(x))

except:
    print("Entered Value is not a integer")

else:
    if   x >= 5:
        print("X value is greater than 5")

finally:
    print("The Entered value of X is ::",x)  #Always executes finally statement irrespective of conditions

x=5

X is a integer:: 5
X value is greater than 5
The Entered value of X is :: 5

In [ ]:
#Finally

try:
    x == int(x)
    print("X is a integer::", int(x))

except:
    print("Entered Value is not a integer")

else:
    if   x >5:
        print("X value is greater than 5")

finally:
    print("The Entered value of X is ::",x)  #Always executes finally statement irrespective of conditions

x="Hello"

Entered Value is not a integer
The Entered value of X is :: Hello

In [ ]:
#for
#Used to execute loop of condition

for x in range(2,44,2): #prints x starting from to 44 with step value of 2
    print(x,end="  ")

2  4  6  8  10  12  14  16  18  20  22  24  26  28  30  32  34  36  38  40  42

In [ ]:
#from
# used to import from library

from math import sqrt  #from math module sqrt method will be imported
print(sqrt(4)) #Here sqrt() method will perform square root of  4

2.0

In [14]:
#global
#Declares global variable to access anywhere

def fun():
    global x  #x is defined as global inside a function
    x=10  # x value is defined inside a function
    print("XValue::",x) #printing insides function


fun()
print("Global Access::",x) #Calling x outside function

#When a varibale not declared as global, throws an error

def fun():

    y=10  # y value is defined inside a function
    print("Y Value::",y) #printing insides function


fun()
print("Global Access denied::",y) #Calling y outside function

XValue:: 10
Global Access:: 10
Y Value:: 10

NameError: name 'y' is not defined

In [ ]:
#If  statement in python
#To create a conditional statement

a=3
b=3
if a==b:
    print("A and B are same")

A and B are same

In [ ]:
#import
# To import a module

import math

print(math.sqrt(4))

2.0

In [ ]:
# in
# to check  if the given value presents

li=["Apples","Bananas"]
print('Bananas' in li)  #Checks if "Bananas"  present in list li,if so prints True
print('Banana' in li)
print([] in li)

True
False
False

In [ ]:
# is
# To refer or asssign or compare two variables

x=10
y=5
z=11

if x is y:  #Compares x and y
    print("X and Y are same")
elif x is z:
    print("X and Z are same",x,z)
else:
    y = x
    print(x,y,z)
    print(x is y,y is z)
    print(x,y,z)

10 10 11
True False
10 10 11

In [ ]:
#LAMBDA
#Its a single line anonymous function

x=lambda a,b: (a+b)*2  # a,b are input variables and output is x

print(x(2,3))
print(x(4,5))
print(x(8,9))
print(x)

10
18
34
<function <lambda> at 0x7c726b79ab90>

In [ ]:
#None  represents no value
x= None
print(x)
print(bool(x))  # None Value  hence prints False
print( x is True)

None
False
False

In [ ]:
#nonlocal
# To access varaible inside nested functions when we declare scope of a variable we use nonlocal
def fun():

    x=10

    print(x)
    def fun1():

        nonlocal x
        x=5

        print(x**2)

    fun1()


fun()

10
25

##Difference between **global** and **nonlocal**

Global varibale can be accessible from anywhere in the porgram once we decared as global. We can change its value from anywhere inside the program

where as nonlocal is acceptable at thatparticular instance. once it come out of its scope we can not access

In [ ]:
#not
# returns logical  value hence it is logical operator

x=True
y=6
z=0
print(not x)   #prints opposite of true
print(not y)
print(not z)

False
False
True

In [ ]:
#or
#logical operator either of the condition is true returns true
x=5
y=4
z=None
a=True
b='Hello'

print(type(x),type(y),type(z),type(a),type(b))

print(x or y) #returns highest value either is true

print(x>y or y>x)  #either of the condition is true returns true

print(x or z, z or a, a or b)

<class 'int'> <class 'int'> <class 'NoneType'> <class 'bool'> <class 'str'>
5
True
5 True True

In [ ]:
#pass
#pass without executing any code

def fun(x):
    if x==5:
        pass

    else:
        print("x Not equal to  5")
fun(5)  # Here it will pass without any execution
fun(6)  # Here it will execute else statement

x Not equal to  5

In [ ]:
#raise
#raises an exception if any error
x=-1

if x < 0:
    raise Exception("X less than 0")

Exception: X less than 0

In [ ]:
#return
#To exit a function and return a value
def fun(x):
    x= (x*3)**3
    return x  # returns x after calculation

print(fun(3))

729

In [ ]:
#True
#Returns boolean value if true or false

print(5 ==5)
print(print(5 >=5)  == True)

True
True
False

In [ ]:
#try
#to perform execution of  some coding. if try block fails to perform it transfers control  to except

a='3'
b=5

try:
    print(a + b)
    pass

except:
    print(" Cant perform ")

 Cant perform

In [ ]:
#while loop
#while loop used to continue set of instructions until condition is satisfies

i=1

while i < 10:
    print(i,end=" ")
    i +=1

1 2 3 4 5 6 7 8 9

In [ ]:
#with
#Used for exception handling
#Here we used to  read a file

with open("/content/sample_data/README.md", 'r') as file:
    print(file.read())

This directory includes a few sample datasets to get you started.

*   `california_housing_data*.csv` is California housing data from the 1990 US
    Census; more information is available at:
    https://developers.google.com/machine-learning/crash-course/california-housing-data-description

*   `mnist_*.csv` is a small sample of the
    [MNIST database](https://en.wikipedia.org/wiki/MNIST_database), which is
    described at: http://yann.lecun.com/exdb/mnist/

*   `anscombe.json` contains a copy of
    [Anscombe's quartet](https://en.wikipedia.org/wiki/Anscombe%27s_quartet); it
    was originally described in

    Anscombe, F. J. (1973). 'Graphs in Statistical Analysis'. American
    Statistician. 27 (1): 17-21. JSTOR 2682899.

    and our copy was prepared by the
    [vega_datasets library](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/_data/anscombe.json).

In [ ]:
#yield
#Used a s a generator to generate output as single value
# It stops iterate and generate in one shot

def yld(val):
    i=0
    while i <val:
        yield i
        i +=1

for x in yld(5):
    print(x, end=" ")

0 1 2 3 4

In [ ]:
print(print(True))

True
None

#**VARIABLES**

* In python variables are used as containers to store the data

* for eg.. x = 5, here x is variable whch is ussed to store the value 5

In [ ]:
x =5  # x is a varibale
y = "ram" # y is a  variable
print(x,y)

5 ram

In [ ]:
#python is case sensitive
"""Will not Overwrite"""
c=3
C=5
print(c,C)

3 5

**Rules to use python variables**

* varibale name must start with a letter or underscore(_)
* **Variable name can not start with a number**
* Variable name can contain with alpha numeric character and underscore e.gg a-z , A-Z, 0-9 and _
* variable names afer case sensitive  eg.. a  and A  both are deifferent variables
* **varibale name can not be python keywords**

In [ ]:
#example of varibale names acceptable
my_var= "SS"
myvar = "SS"
_my_var = "SS"
myVar=  "SS"
MYVAR= "SS"
myvar2  = "SS"
print(my_var,myvar,_my_var,myVar,MYVAR,myvar2)

SS SS SS SS SS SS

In [ ]:
# Non Acceptable Variable Names
2myvar  = "SS"
my var  = "SS"
my-var  = "SS"
print(2myvar)
print(my var)
print(my-var)

SyntaxError: invalid decimal literal (<ipython-input-36-0844a7b3b712>, line 2)

#****Variable Naming Methods****

We can use following popular variable naming methods

**Camel Case**
In this except starting word remaining all start with Capital Letter
eg.. myVarName   =  "Python"

**Pascal Case**
Each word start with a capital letter
eg..  MyVarName=  "Python"

**Snake Case**
each word seperated by underscore(_)
eg.. my_var_name= "Python"

As a programmer we must use multiple words as variable names for easy understanding

In [ ]:
# In python we can assign multiple values to different variables in sngle line
"""
 We represent strings in double quote ("") or single quote('')
"""
x,y,z = "Apple", "Banana", "Mango"

print(x,y,z)

Apple Banana Mango

In [ ]:
# We use print() function for output a variable

x =4
print(x)

4

# **Global Variables**

Variable that is created outside a function is called global variable

In [ ]:
#here x is defned outside of a function , thastwhy its called as global variable
# A global variable can be accessed
x = "Welcome"

def function():
  print(x)

function()

Welcome

In [ ]:
# One more example of global variable and local variable
# local variables can be accessed inside a function and it will be lapsed its assigned value within the function

x = "Welcome"

def fun():
  x = "India is great"
  print(x)


  """ Here it will print "India is great" because it is defined as local variable
                inside the function and its life span ends once come out of the function.
  """

fun()
print(x) # Here it will print "Welcome" because x is defned as global variable, it can be accessed from anywhere

India is great
Welcome

#**Change a local variable to global using keyword **global**

example

In [ ]:
def fun():
  global x
  x = "Welcome"
fun()
print(x)  # here we are calling x globally even though it is inside a function as a local variable

Welcome

In [ ]:
# How to change the value of a global avriable inside a function
# changed value of global variable inside a function overwrites actual value of global variable

x = "India is Great"

def fun():
  global x # declared x as global variable
  x = "Welcome to India"

  """ here x inside the function fun() will be treated as global
   x is overwritten
  """

  print(x) #prints changed value of its new value as "Welcome to India"

fun()
print(x) # orginal value of x is overwritten by declarng as global inside the function

Welcome to India
Welcome to India

In [ ]:
#Variable Exercises

#Create a variable named carname and assign the value Volvo to it.

carname = "Volvo"

In [ ]:
carname

'Volvo'

In [ ]:
#Create a variable named x and assign the value 50 to it

x = 50
x

50

In [ ]:
#Display the sum of 5 + 10, using two variables: x and y.

x = 5
y = 10
print(x + y)

15

In [ ]:
#Create a variable called z, assign x + y to it, and display the result  x=5 y=10

x = 5
y = 10
z = x+y
print(z)

15

In [ ]:
# Removes invalid variable names in gven below variable

#2my-first_name = "John"

myfirst_name  = "John"
print(myfirst_name)

John

In [ ]:
#from traitlets.config.application import ApplicationError
#Insert the correct syntax to assign the same value to all three variables in one code line.
# x  y z  = apple

x = y = z = 'Apple'
x

'Apple'

In [ ]:
# insert the correct keyword to make the variable x belong to the global scope.
# def fun():
#    x = 'Hello World'
# print(x)

def fun():
  global x
  x = "Hello World"

fun() # caling function
print(x)  # prints x after changing its value to global

Hello World

#**DATA TYPES**
To store different types of data in variables we need to define different data types

1. text Type ____  **str**
2. Numeric Types__ **int, float, complex**
3. Sequence Type__ **list,tuple,range**
4. mapping type___ **dict**
5. set type_______ **set, frozenset**
6. Boolean Type __ **bool**
7. Binary Types___ **bytes,bytearray, memoryview**
8. None Type_______**NoneType**

In [ ]:
x1 = "Hello World"   #String  str
x2 = 3 #int
x3 = 3.0 #float
x4 = 1j # complex
x5 = ["apple", "mango","cherry"]
x6 = ["apple",3,1j] #list  #list represents in []
x7 = ("apple","banana","cherry") #tuple  #tuple represents in ()
x8 = range(6)
x9 = {'Name':'SP','Age':36}  #Dictionary
x10 = {'Apple',"Jamun",'Banana'} #set
x11 = frozenset({'Apple',"Jamun",'Banana'})  #frozenset
x12 = True  #bool
x13 = b"Hello"  #bytes
x14 = bytearray(5)
x15 = memoryview(bytes(5))
x16 = None #NoneType

In [ ]:
print(x1,x2,x3,x4,x5,x6,x7,x8)
print(x9,x10,x11,x12)
print(x13,x14,x15,x16)

Hello World 3 3.0 1j ['apple', 'mango', 'cherry'] ['apple', 3, 1j] ('apple', 'banana', 'cherry') range(0, 6)
{'Name': 'SP', 'Age': 36} {'Banana', 'Apple', 'Jamun'} frozenset({'Banana', 'Apple', 'Jamun'}) True
b'Hello' bytearray(b'\x00\x00\x00\x00\x00') <memory at 0x7f9c8713ca00> None

**What is the difference between frozensets() and tuples()?**

Frozensets() and tuples() both  are unmutable , but the major diffenrce is frozensets() maintain uniqueness of its elements, where as tuples() maintain orderness of elements and can hold differenet data types.

In [ ]:
#example of frozensets

colours = frozenset(['red','geen','blue','red'])

print(colours) #prints by removing duplicates

frozenset({'blue', 'geen', 'red'})

In [ ]:
#example of frozensets

colours = frozenset(['red','geen','blue','red'])
colours.add('blue')
print(colours) #prints by removing duplicates

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
#example of frozensets

colours = frozenset(['red','geen','blue','red',1,2.4])

print(colours) #prints by removing duplicates

frozenset({1, 2.4, 'blue', 'red', 'geen'})

In [ ]:
#example of tuple

types = ('red','green','red',33,3.4,33)
print(types) # prints even though have duplicates

('red', 'green', 'red', 33, 3.4, 33)

In [ ]:
#example of tuple

types = ('red','green','red',33,3.4)
print(types) # prints even though have duplicates
types.add(3) # throws error bcoz tuple cant take new value

('red', 'green', 'red', 33, 3.4)

AttributeError: ignored

**type() function**

type() function returns type of data type of a variable

In [ ]:
#type() example

a=5
type(a) #int
print(type(a)) #<class 'int>

<class 'int'>

In [ ]:
b =2.3
type(b)

float

In [ ]:

c='Python'
type(c)

str

In [ ]:
x = ['mango','banana',5]
type(x)

list

In [ ]:
x = ('mango','banana',5)
type(x)

tuple

In [ ]:
x = {'Name':'SS','Age':55}
type(x)

dict

In [ ]:
x = True
type(x)
y = False
type(y)

bool

In [ ]:
# bytes is data types which used to store binary data non type of text .
# bytes is immuatable non changeable data
x = bytes(5)
type(x)
print(x)

b'\x00\x00\x00\x00\x00'

In [ ]:
# to store sequence of bytes or non text data.
#bytearray is mutable can change
x =bytearray(5)
type(x)
print(x)

bytearray(b'\x00\x00\x00\x00\x00')

In [ ]:
#
x = memoryview(bytes(5))
print(type(x))
print(x)

<class 'memoryview'>
<memory at 0x7c05cbbec400>

#**Number Types in Python**

**int** > integer

**float** > float

**complex** > complex type

In [ ]:
x =1
y = 2.2
z = 1j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
#integer example
x = 5
y = 54654867636
z = -646
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
#float example
x = 1.2
y=  22e88
z = -25.25
c = -25e44

print(type(x))
print(type(y))
print(type(z))
print(type(c))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
#complex numbers
# in ython complex number are denoted with letter "J" as imaginary part also known as -1

x =3j
y = 3+5j
z = -3j
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

#**RANDOM Numbers**

Random comss froma bulit in odule called random to print random numbers

In [ ]:
import random
print(random.randrange(5))
print(random.randrange(1,6))
print(random)

3
2
<module 'random' from '/usr/lib/python3.10/random.py'>

#**Casting in Python**

Changing data type from in python

In [ ]:
#Casting to integer

x = int(1)
y = int(2.0)
z = int("3")

type(x), type(y), type(z)
print("x is type of",type(x))
print("y is type of" , type(y))
print("z is type of", type(z))
print()
print(z+3)
print(x+y-z)
print("\n",x,"\n",y,"\n",z) #\n prints new line

x is type of <class 'int'>
y is type of <class 'int'>
z is type of <class 'int'>

6
0

 1
 2
 3

In [ ]:
# Casting float
x = float(1)
y = float(2.0)
z = float("3")
type(x), type(y), type(z)
print("x is type of",type(x))
print("y is type of" , type(y))
print("z is type of", type(z))
print()
print("\n",x,"\n",y,"\n",z)

x is type of <class 'float'>
y is type of <class 'float'>
z is type of <class 'float'>


 1.0
 2.0
 3.0

In [ ]:
#Casting string
x = str(1)
y = str(2.0)
z = str(3)

type(x), type(y), type(z)
print("x is type of",type(x))
print("y is type of" , type(y))
print("z is type of", type(z))
print()
print(x+y+z) #Concates strings

print("\n",x,"\n",y,"\n",z)
print("\n",x,"\r",y,"\n",z)

x is type of <class 'str'>
y is type of <class 'str'>
z is type of <class 'str'>

12.03

 1
 2.0
 3

 2.0
 3

#**String in Python**

In python strings are denoted by single quotation(' ') or double quoation(" ") for single line comments

  or three single quotes('''   ''') or three double quotes("""    """) for multi line comments

In [ ]:
print("Hello")
print('hello')

Hello
hello

In [ ]:
a = "welcome"
b = 'PYTHON'
print(a,b)

welcome PYTHON

In [ ]:
#double quotes
a = """  Welcome to python classes,
python is the most programing language now a days
and python is very simple and
not like other programmng languages it is a interpreter language.
"""

print(a)

  Welcome to python classes,
python is the most programing language now a days
and python is very simple and
not like other programmng languages it is a interpreter language.

In [ ]:
#single quotes, prints as per given format
a = ''' Welcome to python classes,
python is the most programing language now a days
and python is very simple and
not like other programmng languages it is a interpreter language.
'''

print(a)

 Welcome to python classes,
python is the most programing language now a days
and python is very simple and
not like other programmng languages it is a interpreter language.

In python there is no 'character' dataype. Where as we use strings as arrays to evaluate the character data type.

We can sue square brackets [] as syntax..

Index starts from 0..

For eg HELLO  = [0],[1],[2],[3],[4],[5] ettc..
>[0]=  H

>[1]=  E

>[2]=  L

>[3]=  L

>[4]=  O

In [ ]:
a = 'Hello'
a[0],a[4]

('H', 'o')

In [ ]:
for a in 'hello':
    print(a,end='')

hello

In [ ]:
#String Length

a = "Hello"
print(len(a))

5

In [ ]:
a = "Hello"
for x in enumerate(a):
  print(x)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')

In [ ]:
#Check certain charater or word using "in" in a string
# Returns boolean value
# Python is case sensitive

a = "Welcome to Python World"

print("Python" in a)  #Checks if the string value present
print("python" in a)  # Case sensitive

True
False

In [ ]:
a = "Welcome to Python World"
print("welcome" not in a)
print("Welcome" not in a)

True
False

*italicized text*#**Slicing**
>
Slicing is used to return some range of characters in a string
>Index start from 0
In slicing index prints from **start value** to **(end-1)** value

**x=  hello
x[1:5]**

here 1 value is **e** 5 value 5-1=(4) i.e **o**

it prints startng value as given index value, but where as it omits end index value  **n-1**

INDEX
>0 1 2 3 ... +ve side

>-1 -2 -3 -4...-ve side

eg.. 5 4 3 2 1 0 -5 -4 -3 -2 -1

In [ ]:
#Slicing
x = "Hello World"
# H E L L O   W O R L D
# 0 1 2 3 4 5 6 7 8 9 10

print(x[2:6])

llo

In [ ]:
#Slicing
x = "Hello World"
print(x[:5]) #start from zero index [0]  to [5-1=4] , space( ) will also be counted

Hello

In [ ]:
x=  'hello'
print(x[1:])

ello

In [ ]:
x = 'Hello World'
print(x[-5:-2]) # from left starts '-1'

# from left starts -1   , but here -2 is l and -5 is w . it prints wor before the letter of -2 poistion i.e.l

Wor

#**String Modifiers**

In [ ]:
#upper case

x = "hello world"
print(x.upper())

HELLO WORLD

In [ ]:
#Lower Case
x = "HELLO WorlD"
print(x.lower())

hello world

In [ ]:
#strip() to remove white spaces before starting the string or at the end of the string.
# Note: Will  ot remove between the string

x = "   Hello : World  "
print(x.strip())

Hello : World

In [ ]:
#String replace
#Replaces given charcter with existed character

x = "Hello Python"
print(x.replace("h","P")) # case sensitive
print(x.replace("H","J"))

Hello PytPon
Jello Python

In [ ]:
#split string
x = "Hello. World"
print(x.split('.'))
print(x.split("W")) #splits by removing 'W'

['Hello', ' World']
['Hello. ', 'orld']

In [ ]:
#split string
x = "Hello, World"

print(x.split("r")) #splits by removing "r"

['Hello, Wo', 'ld']

In [ ]:
#String Concatenation
x = 'hello'
y = 'python'

z = x+y
print(z)

hellopython

In [ ]:
z = x+ "  "+y
print(z)

hello  python

In [ ]:
a = 3
b = 5
c = str(a)+ str(b) #converts int to str
print(c)

35

In [ ]:
  a = 3
  b = 5
  c = str(a)+ "  "+str(b) #prints a and b by separting with spaces
  print(c)

3  5

#**String Formats**

We can concatenate strings only. But we can not concatenate strings with integers or other data types.

for this we need to use format() method.

We need to use {} wehere ever we want to insert datatypes in between strings..

We need to place the values according indexing

In [ ]:
#String Format
# We can concatenate strings only. Bt we can not concatenate strings with integers or other data types

age = 33
text  = "I am Shiva, and my age is:"+age
print(text)

TypeError: can only concatenate str (not "int") to str

In [ ]:
#String Format method

age = 33
text  = "My age is {}"
print(text.format(age)) #format method to concatenate string with other data types

My age is 33

In [ ]:
# Placement of values according to indexing

item_no  = 5   # index 0 [0]
item_quantity = 55         # index 1 [1]
item_price =  5000   # index 2 [2]

myorder  = 'I want to place item number {0} of quantity {1} with an average price of {2}'
print(myorder.format(item_no,item_quantity,item_price) )

myorder1="I want to place item number {1} of quantity {0} with an average price of {2} "
print(myorder1.format(item_quantity,item_no,item_price))

I want to place item number 5 of quantity 55 with an average price of 5000
I want to place item number 5 of quantity 55 with an average price of 5000

In [ ]:
#without indexing
myorder = 'I want to place quantity of {} item number {} with an average price of {}'
print(myorder.format(item_quantity,item_no,item_price))

I want to place quantity of 5 item number 55 with an average price of 5000

#**Escape Character**

To insert a set of characters or words in between strings we can use escape character..

In [ ]:
x = "Welcome to "python" world" # throws error because insertion not allowed inside the string
print(x)

SyntaxError: ignored

In [ ]:
#Either method we can use

x = "Wlecome to \'python world" # we've used \' to insert
print(x)

Wlecome to 'python world

# **List of escape Characters**

*   List item

*   List item
*   List item


*   List item



1. \ (backslash)        to insert list of characters
1. \\\ (double backslash)    to insert a backslash
1. \n           insert newline
1. \r         carraige return
1.  \           insert tab
1.  \b        insert backspace
1.  \f      form feed
1. \ooo   octal value
1.  \xhh  insert hexa value

In [ ]:
#Examples of above
x = "Welcome to  World"
print(x)
x = "welcome to \'python world"  #insert a string
print(x)
x = "Welcome to \\python  world" #backslash insertion
print(x)
x = "welcome to \n world" #cursor moves to new line
print(x)
x = "Welcome to \r world  of \r python" # cursor removes whatever bfore the \r carriage return
print(x)
x = "Welcome to \t world" # tab space of 8 characters
print(x)
x = "Welcome \bto \bpython \bworld" # backspace>  removes spaces before \b
print(x)
x = "\154" #converts to octagon(base of8)
print(x)
y = "\x48\x49\x63" #Hexcode  represented by \x
print(y)

Welcome to  World
welcome to 'python world
Welcome to \python  world
welcome to
 world
 python
Welcome to 	 world
Welcome to python world
l
HIc

In [ ]:
import time

for i in range(5):
    print(f"Progress: {i + 1}/5, end='\r',hello")
    time.sleep(1)

print("Done!")

',hello
',hello
',hello
',hello
',hello
Done!

#**Built in methods of Strings**

**Capitalize()**

capitalize()  
Converts first letter in the sentence to capital

In [ ]:
#capitalize()
#Converts first letter in the sentence to capital

x = "welcome to python world"
text =x.capitalize()
print(text)
print(x.capitalize())  #direct

Welcome to python world
Welcome to python world

**casefold()**
  
Makes string to lower case

In [ ]:
#casefold()
#Makes string to lower case

x = "WelCOME TO PYTHON world"
print(x.casefold())

welcome to python world

**center()**

returns centred string

make the string centre as per given length

In [ ]:
#center()
# returns centred string
# make the string centre as per given length

x = "Welcome to Python World"
print(x.center)  # Retruns memory location
print(x.center(50)) # Centers in between 50 characters. bydefault emtpy character prints in both sides of center .

<built-in method center of str object at 0x7bf4ca95eba0>
             Welcome to Python World

In [ ]:
# center(string length,"character")
# center the string into given length of characters and prints the character given

x = "Welcome to World"
x = x.center(50,"*")
print(x)

*****************Welcome to World*****************

In [ ]:
# example 2
x = "Welcome to python World"
print(x.center(50,'*')) #  fills empty space with  *
print(x.center(50," ")) #  fills emprty space with blank space

*************Welcome to python World**************
             Welcome to python World

**count()**

Counts the given string appeared number of times.

string.count()

In [ ]:
x = "Welcome to python world. python is now trending language. learn python"
print(x.count('python'))

3

In [ ]:
x = "Welcome to Python world. python is now trending language. learn python"
print(x.count('python')) # case sensitive

2

** *string_name*.count(value, start, end)**

value=  search value

start=  search from the given starting position

end=    search upto the end value given

In [ ]:
x = "Welcome to python world. python is now trending language. learn python"
print(x.count('python',3,130)) # searches from 0 to 130 character
print(x.count('python',15,150))# seacrhes from 1 to 150 characters
print(x.count("python",0,0))  # searches complete string

3
2
0

**encode()**

encodes the string into specified given format  

default is UTF-8 format

In [ ]:
x = "Welcome to python  world" # converts to hexcode
print(x.encode())

b'Welcome to python \xc3\x80 world'

**encode()**

string.encode(encoding=encoding,errors=errors)

In [ ]:
x = "Welcome to python p world"
print(x.encode(encoding="ascii",errors="backslashreplace"))  #replaces ascii code with backslash
print(x.encode(encoding="ascii",errors="ignore")) # ignores
print(x.encode(encoding="ascii",errors="namereplace"))# explains with menaning
print(x.encode(encoding="ascii",errors="replace"))  # replace with queston mark
print(x.encode(encoding="ascii",errors="xmlcharrefreplace")) # replace with xml character

b'Welcome to python \\xc0\\xd6p\\xe0 world'
b'Welcome to python p world'
b'Welcome to python \\N{LATIN CAPITAL LETTER A WITH GRAVE}\\N{LATIN CAPITAL LETTER O WITH DIAERESIS}p\\N{LATIN SMALL LETTER A WITH GRAVE} world'
b'Welcome to python ??p? world'
b'Welcome to python &#192;&#214;p&#224; world'

**expandtabs()**
expand the tab sze to number of white characters as given

In [ ]:
#expandtabs()

x = "h\tel\tlo"   #we need to mentiion \t where we want to insert tab size
print(x)        # default sze  8
print(x.expandtabs())   #default size is 8
print(x.expandtabs(4))  #expads to tab size as 4

h	el	lo
h       el      lo
h   el  lo

**endswith()**
to check whether the tab ends with given value. if so returns true .

endswith(value.start,end)  

to check the given value ends in between start and end positions index

In [ ]:
# endswith
x = "Hello Python.."
print(x.endswith(".."))  # true or false
print(x.endswith("Python")) # checks the string ends with given value
print(x.endswith("Python.."))

True
False
True

In [ ]:
#endswith(value,start,end)
x = "Welcome to Python World"
y = x.endswith("Welcome",0,7) # checks the value "Welcome" is in between start index[0] and end index[7]
print(y)
print(x.endswith("Welcome",0,7)) # check fallen between
print(x.endswith("to", 0,10)) # checks the word "to" fallen between [0] to [10]

True
True
True

**find()**

Fnds the first occurance of specified value

In [ ]:
x = "welcome to Python world"

print(x.find("to")) # tells the position of first occurance

8

In [ ]:
x = "welcome to python world"
print(x.find("a"))  # returns -1 if not found
print(x.find("e", 5,10))  # returns first occurance of e  between 5 to 10 index positions

-1
6

#**Difference between find() and index()  if value not found**

in find() it throws -1 as return if not found
in index() functon it throws an exception

In [ ]:
x = "welcome to python"
print(x.find("q"))  # returns -1
print('\n\n')     # prints 2 new lines with blank
print(x.index("q")) # throws an error

-1

ValueError: ignored

**FORMAT()**
format string formats the specified value inside the string in a placeholder with the given value...

place holder specified with curly brackets {}

In [ ]:
x = "Welcome to {} World"
print(x.format("python"))

Welcome to python World

In [ ]:
data  = "My first name is {} and my last name is {} and my age is {}"  # takes values given as placegolders
print(data.format("SHIVAPRRASAD","SKNM" ,45))

data1 = "My first Name is {fname} and my last name is {lname} and my age is {age}" # takes values as named indexes
print(data1.format(fname="SHIVAPRRASAD",lname="SKNM", age=45))

data2 = "My first Name is {0} and my last name is {1} and my age is {2}"   # takes values as numbered index
print(data2.format("SHVAPRRASAD","SKNM",45) )

My first name is SHIVAPRRASAD and my last name is SKNM and my age is 45
My first Name is SHIVAPRRASAD and my last name is SKNM and my age is 45
My first Name is SHVAPRRASAD and my last name is SKNM and my age is 45

In [ ]:
# change of order in FORMAT()
data  = "My first name is {} and my last name is {} and my age is {}"  #Unordered
print(data.format(45,"SKNM","SHIVAPRRASAD"))

data1 = "My first Name is {fname} and my last name is {lname} and my age is {age}"
print(data1.format(lname="SKNM", age=45, fname='SHIVAPRRASAD'))

data2 = "My first Name is {0} and my age is {2} and my last name is {1}"
print(data2.format("SHVAPRRASAD","SKNM",45) )

My first name is 45 and my last name is SKNM and my age is SHIVAPRRASAD
My first Name is SHIVAPRRASAD and my last name is SKNM and my age is 45
My first Name is SHVAPRRASAD and my age is 45 and my last name is SKNM

**Place holders or white spaces in format()**

In [ ]:
x = "We have {:<9} baloons wth us"  #left of 9 characters
print(x.format(22))

We have 22        baloons wth us

In [ ]:
x = "We have {:>9} baloons wth us"  #right of 9 characters
print(x.format(22))

We have        22 baloons wth us

In [ ]:
x = "We have {:^9} baloons wth us"  #center of 9 characters
print(x.format(22))

We have    22     baloons wth us

In [ ]:
x = "We have {:=9} baloons wth us"  #left most position of 9 characters
print(x.format(-22))

We have -      22 baloons wth us

In [ ]:
x = "We must insert value between  {:+} and {:+} only"  #+ sign to indicate result
print(x.format(-1,+1))
print(x.format(+1,-1))
print(x.format(-1,-7))
print(x.format(1,5))

We must insert value between  -1 and +1 only
We must insert value between  +1 and -1 only
We must insert value between  -1 and -7 only
We must insert value between  +1 and +5 only

In [ ]:
x = "We must insert value between  {:-} and {:-} only"  #- to indicae negatve numbers only. positive numbers dsplay without +
print(x.format(-1,+1))
print(x.format(+1,-1))
print(x.format(-1,-7))
print(x.format(+1,+5))

We must insert value between  -1 and 1 only
We must insert value between  1 and -1 only
We must insert value between  -1 and -7 only
We must insert value between  1 and 5 only

In [ ]:
# to insert space before numbers

x = "We must insert value between  {: } and {: } only"
print(x.format(-1,1))

print(x.format(+1,-1))
print(x.format(-1,-7))
print(x.format(+1,+5))

We must insert value between  -1 and  1 only
We must insert value between   1 and -1 only
We must insert value between  -1 and -7 only
We must insert value between   1 and  5 only

In [ ]:
#{:,}  thousand seperator

x = "earth is {:,} years old" # , as thousand sepearatr
print(x.format(150000000))

# _ underscore as thousand seperator
x = "earth is {:_} years old" # _ as thousand sepearator
print(x.format(int(input("Enter the Value::"))))

earth is 150,000,000 years old
Enter the Value::150000
earth is 150_000 years old

In [ ]:
#f  converts to fixed point decimals .

x1= "Area is {:f}  square meters"  # by default it prints 6 decimals
x2= "Area is {:.3f} square meters" # restricted to print 3 decimals
x3= "Area is {:.9f} square meters" # restricted to print 9 decimals
print(x1.format(50))
print(x2.format(50))
print(x3.format(50))

Area is 50.000000 square meters
Area is 50.000 square meters
Area is 50.000000000 square meters

In [ ]:
#percentage
#value should be 0 to 1

x = "X value is {:%}"
print(x.format(1))
x1 = "X value is {:.0%}"
print(x1.format(.55))
x1 = "X value is {:.2%}"
print(x1.format(.98))

X value is 100.000000%
X value is 55%
X value is 98.00%

**index() method find the specified value**

index() method throws an exception if error raises

In [ ]:
#index exaple

x = "Welcometo python world"
print(x.index("python"))

print(x.index("o",2,15)) # finds the o between 2 to 15. index starts from [0]
print(x.index("o",15))  # finds o first occurance index after 15th index
print(x.index("o",2,9)) # finds first occurance between 2 to 9

10
4
18
4

**isalnum()  returns true or false if all charaters are alpha numeric**

letters from a to z and numbers between 0-9

In [ ]:
x = "Welcometopythonworld" # pure alpha numeric
y = "Welcome to python2 world" # whitespace is not an alphanumeric
z = "welcome to @Python world" # @  is not alphanumeric
a = "welcometo*pythonworld"  # * is not alphanumeric
print(x.isalnum())
print(y.isalnum())
print(z.isalnum())
print(a.isalnum())

True
False
False
False

**#isalpha()**

**function if all the characters in the string are alphabets i.e a-z or A-Z**

In [ ]:
#isalpha() function if all the characters in the string are alphabets i.e a-z or A-Z
x = "Python"
print(x.isalpha())
y = "python3.4"
print(y.isalpha())

True
False

In [ ]:
#isascii()
#checks if ascii characters are in the string
x = "python122*"
print(x.isascii())

True

# ASCII Codes Link

https://www.w3schools.com/charsets/ref_html_ascii.asp

In [ ]:
#isdigit()  Checks if all characters are digits . if so returns true

x = "5000"
y = "python 3.14"
z = "python"
print(x.isdigit())
print(y.isdigit())
print(z.isdigit())

True
False
False

In [ ]:
#isidentifier()

# checks whether given string is identifier.
# an identifier can not start with number and cant contain any spaces

x=  "python"
y = "python3.14"
z = "2python"
a = "python 3.14"
b=  "python314"

print(x.isidentifier())
print(y.isidentifier())
print(z.isidentifier())
print(a.isidentifier())
print(b.isidentifier())

True
False
False
False
True

In [ ]:
#islower()
#checks if given string is lower charater all

x = "python"
y = "python123"
z = "Python"
print(x.islower())
print(y.islower())
print(z.islower())

True
True
False

In [ ]:
#isnumeric()
#checks if string is numeric

x = "1234"
y = "str123"
z = "-1234"  #- is not numeric
a = "23.3"  #. is not numeric
print(x.isnumeric())
print(y.isnumeric())
print(z.isnumeric())
print(a.isnumeric())

True
False
False
False

In [ ]:
#isprintable()
#checks if all characters are printable

x = "welcome python"
y = "welcome \n python"  #\n newline feed
z = "welcome to \r python" #\r caraige return
print(x.isprintable())
print(y.isprintable())
print(z.isprintable())

True
False
False

In [ ]:
#isspace()
#checks if all characters are spaces

x = "     "
y = "    f  "
z = "    5  "
print(x.isspace())
print(y.isspace())
print(z.isspace())

True
False
False

In [ ]:
#istitle()
# Checks if all characters in each word starts with capital letter

x = "Welcome To Python"
y = "WELCOME TO PYTHON"
z = "Welcome 123"
print(x.istitle())
print(y.istitle())
print(z.istitle())

True
False
True

In [ ]:
#isupper()
# checks if all characters in the string are upper case letters

x = "WELCOMETO PYTHON"
y=  "Welcome "
z = "PYTHON 3"
print(x.isupper())
print(y.isupper())
print(z.isupper())

True
False
True

In [ ]:
#join()
#Joins the given strings with given operator

x = ["SHiva","Prrasad"]
y = ("Shiva","Prrasad")
z = {"F_Name":"Shiva","L_Name":"Prrasad"}
a = "Shiva"
b = '123'
c = ("Hello", "World", "Enter", "Python")

print("".join(x))
print('*'.join(x))
print("_".join(y))
print('+'.join(z))
print(" ".join(z.values()))
print('/'.join(a))
print('*'.join(b))
print(" ".join(c))

SHivaPrrasad
SHiva*Prrasad
Shiva_Prrasad
F_Name+L_Name
Shiva Prrasad
S/h/i/v/a
1*2*3
Hello World Enter Python

In [ ]:
#ljust
#ALign the string left alignemnt with given seperator

x = "mango"
print(x.ljust(10))    #prints left justified and fills remaing characters with bydefalt spaces
print(x.ljust(15),"Is so sweetest fruit")  # prints left justified with 15 characters length bydefault with spaces
print(x.ljust(20,"#")) # fills let justified with 20 character length filling blank spaces with #

mango
mango           Is so sweetest fruit
mango###############

In [ ]:
# lower()
# returns string by converting with lower case

x = "Welcome to the Python World"
y = 'WELCOME TO PYTHON'
z = "Welcome Python @#-*3.14"

print(x.lower())
print(y.lower())
print(z.lower())

welcome to the python world
welcome to python
welcome python @#-*3.14

**The difference between casefold() and lower()  methods**

Both will convert into lower case characters , where as lower() method converts into aphabets into lower case letters, where as casefold() converts some special characters also convert to its equivalent ascii

In [ ]:
x = "Welcome python  "
print(x.lower())
print(x.casefold())

welcome python
welcome python ss

In [ ]:
#lstrip()
# Removes left strip of characters

x = ";;';p5gv,   Welcome to pyhton world"
print(x.lstrip(";p5gv ,'"))

Welcome to pyhton world

**maketrans()**

Here are 2 steps.

1. create a mapping table by replacing given characters
2. stores those exchange characters in a dictionary in the form of key and keyvalues
3. apply this translation to actual text

In [ ]:
#maketrans()

x = "Hello hython"  # actual string
y = str.maketrans("h","P")  # creates new string by replacing h with P  using "maketrans()"
print(y)
print(type(y))  # creates a dictionary
print(x.translate(y)) # apply these changes to actual string using translate()
# Python is case sensitive

{104: 80}
<class 'dict'>
Hello PytPon

In [ ]:
#example 2

text = "Hello shiva"  # actual string
x = "aishv"   #set of characters
y = "ntpyo"   # set of characters

z = str.maketrans(x,y) # creates a  dictionary internally by assigning keys and key values to x and y.
print(z)               # {'a':'n','i':'t','s':'p','h':'y','v:'o'}
final = text.translate(z) # translates actual string by replacing characters as  per given z
print(final)

{97: 110, 105: 116, 115: 112, 104: 121, 118: 111}
Hello pyton

In [ ]:
#example 3

actual_text  = "Kython is vew ade prodramming landuade"

x = "Kvd"
y = "Png"

new_str = str.maketrans(x,y)  # creates a dictionary by assigning characters of each "\n"
                              #  in X as keys to characters of y as key_values also called as mapping
print(type(new_str))

final_text  = actual_text.translate(new_str) # translates the actual text with new string as dictionary , by replacing key and keyvalues
print(type(final_text))

print("\n",final_text)

<class 'dict'>
<class 'str'>

 Python is new age programming language

In [ ]:
# maketrans(a,b,c)
""" Here a is first parameter
    b is replaceable parameters
    c is removable parameters
"""
text = "Welcome Ram"

a = "amR"
b = "oeN"
c = "coe"

text1 = str.maketrans(a,b,c)
print(text1)

print(type(text1))

final=  text.translate(text1)   # finally replace "a""m""R" with "o""e""N" and then removes "c""o""e" where ever exists
print(final)

{97: 111, 109: 101, 82: 78, 99: None, 111: None, 101: None}
<class 'dict'>
Wle Noe

**partition()**

Partition() string partititon the given string into three parts according the given string  in a tuple() format

. String before the partition string

. parititon string

. string after partition string

In [ ]:
# Partition()
x ="Welcome to python World"
print(x.partition("python"))      # tuple
print(list(x.partition("python")))  # list

('Welcome to ', 'python', ' World')
['Welcome to ', 'python', ' World']

**why partition() returns tuple() instead of list().?**

when we are partitoning the particular string using partition() method the output comes into tuple(). it is designed for secure the source data, because tuple() is immutable can not alter the data. if output is list(). list() is mutable so there is a scope of insecurity  of source data. if so we want toutput in list we can convert it using the list() method.

In [ ]:
# example 2
x = "welcome to python World"
print(x.partition("Python")) # returns if the given string not found. Here P is case sensitive . thatswhy 2nd and 3rd printed empty

('welcome to python World', '', '')

**replace()**

Replaces specified string with another string

In [ ]:
# replace()

x = "Welcome to python world"

print(x.replace("python","Java"))

Welcome to Java world

In [ ]:
#replace(text1,text2,no.of first occurances)

x=  "I have two thousand two hundred two mangoes"
print(x.replace("two","three",3)) # Alters the "two" with "three" with first 3 occurances
print(x.replace("two","three",2)) # Alters two with three first 2 occurances

I have three thousand three hundred three mangoes
I have three thousand three hundred two mangoes

**rfind()**

Finds the last occurance of the given text or string

rfind("string")
rfind(string, start_value,end_value)

In [ ]:
#rfind()

x =  "Welcome to python world"
print(x.rfind("t")) # index starts from [0]  # fnds last occurance of 't'
print(len(x))
print(x.rfind("o",3,)) # find last occurance of 'o' starts from 3 position to last position
print(x.rfind("o",6,10)) # finds last occurance of 'o' from 6 to 9
print(x.rfind("Java"))  # returns -1 if not found

13
23
19
9
-1

**rindex()**

rindex() returns the first occurance of given string or value

In [ ]:
#rindex()
x="Welcome to python"

print(x.index("t"))  # first occurance of 't'
print(x.index("python")) # first occurance of string "python"
print(x.index("t",3,10))  # first occurance of t from start index 3 to end index 10
print(x.index("ajav")) # throws exception if not found

8
11
8

ValueError: ignored

**Difference between rindex() and rfind() is if value not found rfind() returns -1 and   rindex() throws an exception error..**

**rjust()**

rjust(10)..  fills 10 characters with given character as right justified...

In [ ]:
x = "python"
print(x.rjust(20)) # print python by leaving 20-6(python is 6 characters) =14 . by default it prints white spaces

              python

In [ ]:
x = "python"
print(x.rjust(20,"#"))

##############python

**rpartition()**
sepeartes as three strings by given string right most as **LAST OCCURANCE** .

returns as tuple

In [ ]:
#rpartition()
x = "Welcome to python world. python is popular language. python was found in the year 1991"
#right most occurance of the given word will be split.
print(x.rpartition("python"))

('Welcome to python world. python is popular language. ', 'python', ' was found in the year 1991')

In [ ]:
#rpartition()
x = "Welcome to python world. python is popular language. python was found in the year 1991"
#right most occurance of the given word will be split.
print(x.rpartition("Java"))

('', '', 'Welcome to python world. python is popular language. python was found in the year 1991')

**rsplit()  Split a string into a list**

In [ ]:
#rsplit()
x = "Welcome to python world"
print(x.rsplit(" "))  # split at each word at whitespace
print(x.rsplit("python"))   # splits by removing before and after the string 'python'
print(x.rsplit(" ", 1))   # split to 2 elements in  a list
print(x.rsplit(" ", -1))   # -1 indicates all splits with whitespaces

['Welcome', 'to', 'python', 'world']
['Welcome to ', ' world']
['Welcome to python', 'world']
['Welcome', 'to', 'python', 'world']

**rstrip()  removes white space from right justfied***

In [ ]:
#rstrip

x = "      apple     "
text  = x.rstrip()  #removes right side of whitespaces
print("My favourite fruit is",text,'fruits')

y = "     mango      ..."
z = y.rstrip() # will not remove whitespaces after mango, bcoz some characters are there
print(z,"fruits")

My favourite fruit is       apple fruits
     mango      ... fruits

In [ ]:
#rstrip
x = "    ...,:Bananas    .,;: "  # removes all special characters after Bananas
print(x.rstrip(" ,.;:"),'fruits')

    ...,:Bananas fruits

**split()  Split the given string into a list**

split(seperator, maxitem)

In [ ]:
#split()

x = "Welcome to python  world"
print(x.split())  # splits each word to list
print(x.split(" ")) # splits at every whitespace, if we observe there are 2 whitespaces begtween python and world string.
                    # so it considers as seperate item of whitesapce
print(x.split(" ",-1))  # split at everywhite space, -1 denotes all
print(x.split(" ",2))  # split @ every whitespace maximum of 3 items

y = "Welcom#e to #python #world"
print(y.split("#"))  # splits @ every # symbol

['Welcome', 'to', 'python', 'world']
['Welcome', 'to', 'python', '', 'world']
['Welcome', 'to', 'python', '', 'world']
['Welcome', 'to', 'python  world']
['Welcom', 'e to ', 'python ', 'world']

**Difference between split() and partition()**

split() returns in list() where as partition() returns tuple()

In [ ]:
# example of split() and partition()
text = "Hello,World"
result = text.split(",")
result1 = text.partition(",")

print(result)  # prints result as LIST[]
print(result1)  # prints result1 as TUPLE()

print(result.append("python"))  # Here we can add a new item, because split() method returns list
print(result)
print(result1.append("python")) # Here we are getting error , becasue partition() method returns tuple()

['Hello', 'World']
('Hello', ',', 'World')
None
['Hello', 'World', 'python']

AttributeError: ignored

**splitlines()..  splits each new line item \n as an item in the list**

In [ ]:
x = "Welcome to \npython \n world"
print(x.splitlines())   # splits each line at \n

['Welcome to ', 'python ', ' world']

In [ ]:
x = "Welcome to \npython \n world"
print(x.splitlines(True)) # here if we set to true it print new line character and splits at each item in th list as \n . if false by default omits \n

['Welcome to \n', 'python \n', ' world']

**startswith()**  Check if gven string starts with specified range

startswith(value, start_value, end_value)

In [ ]:
x = "Welcome to python world"
print(x.startswith('Welcome')) # checks starts with given string
print(x.startswith("welcome")) # case sensitive
print(x.startswith("to",8,13)) # check if value "to" starts in search index 7 and ends with index 13
print(x.startswith("to",8,))   # start index at 8 end index is upto last
print(x.startswith("to",-1,))

True
False
True
True
False

**strip() Removes any whitespaces and unwanted characters**

trimmed version string

strip(value to remove characters)

In [ ]:
#strip()

x = "            python       "   # removes whitespaces
print(x.strip())

y = "   -_ dgd  python    968"    # Removes given set of characters
print(x.strip(" -_dgd968"))

python
python

**swapcase()   converts in a string uppercase letter to lowercase letters and viceversa

In [ ]:
#swapcase()

x = "weLCoMe tO pYTHON"  # converts upper to lower and lower to upper
print(x.swapcase())

WElcOmE To Python

**title()   converts first letter in each word to upper**

In [ ]:
#title

x=  "welcome to Python world"  # converts each word of first letter to upper case
print(x.title())

y = "2welcome to PythOn world"  # After numeric value the next coming alphabet converts to Upper
print(y.title())
z = "welcom to p2y3tho8n world3.0   n***2/*n" #converts after special characters to upper
print(z.title())

Welcome To Python World
2Welcome To Python World
Welcom To P2Y3Tho8N World3.0   N***2/*N

**translate()**

translates the gven set of string with given values into mapping table or dictionary

it sore the data into mapping table or dictionary

In [ ]:
x=  "Hi Ram"
y = {82:83}   # dictionary is identified as y with ascii code.  R in ascii 82  S in ascii as 83
print(x.translate(y)) # translates original string x  by replacing with y value

Hi Sam

In [ ]:
x = "Ram"

y = {82:83}
print(x.translate(y))

Sam

In [ ]:
x = "python"

y = {112: 99 ,121: 115 ,116: 104 ,104: 97  ,111: 114  ,110: 112 }
# ascii values of python " 112,121,116,104,111,110"
# ascii values of csharp  "99,115,104,97,114,112"

print(x.translate(y))

csharp

In [ ]:
x = "Welcome to python world"
y = "pyt"
z = "Jav"
a = "hon"

text  = str.maketrans(y,z,a)  # stores data in a dictionary method with ascii values after replaceing 'y' values with 'z' values.
                              # 'a' used here to remove a identifier value
print(text)
text1 = x.translate(text)     # now translate the original string "x" with "text"
print(text1)

{112: 74, 121: 97, 116: 118, 104: None, 111: None, 110: None}
Welcme v Jav wrld

**upper()**

converts a string to upper

In [ ]:
x = "welcome to python world"
y = "Welcome TO PYThon WOrld"
z = "2welcOME to python WOrLD"
print(x.upper())
print(y.upper())
print(z.upper())

WELCOME TO PYTHON WORLD
WELCOME TO PYTHON WORLD
2WELCOME TO PYTHON WORLD

**zfill()**

fills the string with zeros at beginng of the string

zfill(value)   fills beginning with zeros until the given value including string length

In [ ]:
x = "Welcome"
y = "2python"
z = "'15.20'"

print(x.zfill(10))  # fills remianing 2 chracters with zeros before welcome. welcome is length of 7
print(y.zfill(20))
print(z.zfill(10))

000Welcome
00000000000002python
000'15.20'

**Boolean()**

Returns if given condition is True or False

* Any string is True , except empty string
* Any number is True except 0
* Any list, tuple, dictionary, set are True if not empty
* Any function or class or method that returns '0' is False

In [ ]:
# Example of Boolean

a = ""
b = "Python"
c = []
d = ("Mangoes")
e = {'Fruit1':'Apple'}

print(bool(123))
print(bool("Python"))
print(bool(["Apple","Mangoes"]))
print(bool(("Apple","Mangoes")))
print(bool({'Fruit1':'Apple', 'Fruit2':'Mango'}))
print(bool(a))
print(bool(c))
print(bool(d))
print(bool(e))
print(bool(False))
print(bool(None))
print(bool(True))
print(bool(0))
print(bool(1))

True
True
True
True
True
False
False
True
True
False
False
True
False
True

**Python Operators**

+, -, *, / are basic operators addition, substration,multiplication, division

%     modulus

**   exponent

//   floor division

In [ ]:
# Arithmetic Operators
#Addition
x = 3
y =2
print(x+y)

5

In [ ]:
#modulus
x = 5
print(x%2)  # reminder after dividing by 2

1

In [ ]:
# exponent
x = 3
print(x**3)  # 3  multiplies 3 times
print(x**0)  # any non zero number raises by 0  becomes 1
print(x**-2)  # 3 ** -2 = 1/3**2= 1/(3 x 3)= 1/9 = 0.111

27
1
0.1111111111111111

In [ ]:
# // floor division

x = 10
y   = 3

print("1)",x//y)

x = 10.23
y = 3.4
print("2)",x //y)  # 10.23/3.4 = 3.0023 . so nearest round to be 3

x = 14
y = 2.5
print('3)',x //y)  # nearest round of division value

x = 2.5
y = 14.3

print(x //y)  # nereast divsion rounded is 0

1) 3
2) 3.0
3) 5.0
0.0

**Assignment Operators**

In [ ]:
x = 5
y = 3
z = 6
x += 5  # x= x+5
print(x)
y -=  5 # y= y-5
print(y)
z *= 5  # z = z*5
print(z)

x = 5
x /=  5 # x = x/5
print(x)

x = 5
x %= 5 # x = x%5  #reminder
print(x)

x =5
x //= 5 # x = x //5  # nearest floor value
print(x)

x = 5
x **= 5 # x = x **5
print(x)

10
-2
30
1.0
0
1
3125

#**Python Comparison Operators**

==, !=, >=, <=, >, <

In [ ]:
# == equaal to

x = 5
y = 6
print(x == y)  # check if x equal to y True else False
print(x > y)
print( x < y)
print( x >= y)
print( x <= y)

False
False
True
False
True

In [ ]:
# != Not Equal to

x = 6
y = 6
z = 7

print( x != y)
print( x != z)

False
True

#**Logical Opertors**

* and
* or
* not

In [ ]:
x =5
y =6
print(x == 5  and x <= 5)
print(x ==5 or y ==5)
print(not(x == y) )
print(not(x == 5))

True
True
True
False

In [ ]:
# not operator
x =3
y =47

while(not(x==y)):
    x += 1
    y -= 1

print(x)

25

#**Identity Operators**

* is
* is not

In [ ]:
# Identity Operators

x = 5
y = 5
a = ["Python","Java"]
b = ["Python","Java"]
z = ["Python","C++"]
check = ["",""]
check2  = [" "," "]
c = ("Python","Java")

print( x is y)  # returns True if both are same
print(a ==  b)  # both are same
print(a ==  c)  # both are different data types
print(a ==  z)  # Not same values even same data types
print(check == check2) # same data type but check is empty string and check2 is whitespaces

True
True
False
False
False

In [ ]:
# isnot

x = 5
y = 4
a = ["Python","Java"]
b = ["Python","Java"]
z = ["Python", "C++"]
check = ["",""]
check2  = [" "," "]
c = ("Python","Java")

print(x is not y )  # x=5 is not y =4  return  True
print( a is not b)  # a != b
print( a is not z)  # a != b
print( check is not check2) # check is empty list where as check2 is whitespaces
print( a is not c) # a is list c is tuple.. different data types

True
True
True
True
True

In [ ]:
x = 5
y = 5
print( x != y)
print(x is not y)

False
False

In [ ]:
x = ["mango", "orange"]
y = ["mango", "orange"]

print( x != y)  # x and y same values.
print(x is not y)# x and y are 2 different objects refers 2 different memory locations

False
True

In [ ]:
x = ["mango", "mango"]
y = ["mango", "mango"]
print( x != y)
print( x == y)
print( x is not y)

False
True
True

In [ ]:
x = ["mango", "mango"]
y = ["mango", "orange"]
print( x != y)
print( x== y)
print( x is not y)

True
False
True

In [ ]:
x = ["mango", "orange"]
y=  ("mango", 'orange')

print( x!= y)  # different data types
print(x is not y) # different objects

True
True

**Difference between "is not" and  "!="**


!=  .......checks the values are same or not

is not  ...checks  object memory location..

In [ ]:
x = ["mango", "orange"]
y=  ["mango", 'orange']

a = 5
b = 5

t1  = 257
t2  = 257

"""
In this example x and y are lists with same elements.
x != y checks values of list . if both are not same return true
x is  not y    checks whether the object location of x and y are not in same memory location. if same memory location returns false else true
a != b    check values of a and b are not same. if not same returns true
a is not b    checks a and b are in same memory location  .  if in same meory location returns False. else true
t1 != t2    returns false becasue t1=257 and t2=257
t1 is not t2    return true because here in python upto 256  i.e. for smaller values treats same memroy location.
for bigger value it stores different memory locations hence different objects
"""



print( x!= y)
print(x is not y)
print( a != b)
print( a is not b)
print( t1 != t2)
print(t1 is not t2)

False
True
False
False
False
True

**Python Membership Operators**

in     returns true if value exists

not in  returns true if value not exists

In [ ]:
x = "Welcome to python world"
print( "to" in x)
print( "to" not in x)

l1 = ["Apples", "Mangoes"]
t1 = ("Apples", "Banana")

print("Apples" in l1)
print("Apples" not in l1)

print("Banana" in t1)
print("Banana" not in t1)

print("apples" not in l1)  # case sensitive
print("apples" not in t1) # case sensitive

True
False
True
False
True
False
True
True

**Bit-Wise Operators**
Binary values of each number

Decimal numbers and their binary values:

 0 = 0000000000000000

 1 = 0000000000000001

 2 = 0000000000000010

 3 = 0000000000000011

 4 = 0000000000000100

 5 = 0000000000000101

 6 = 0000000000000110

 7 = 0000000000000111

 8 = 0000000000001000

 9 = 0000000000001001

10 = 0000000000001010

11 = 0000000000001011

12 = 0000000000001100

In [ ]:
# AND &
x = 2
y = 4

print(x & y)

#x  = 0010    y = 0100   x+y  = 0010 + 0100=    0000    both bits must be 1 then 1 if either is 1 is 0

0

In [ ]:
# OR |
x = 2
y = 4
print( x| y)

6

In [ ]:
# ^ XOR

x = 2
y = 4
print(x^y)   # if either of bit is 1 then only 1. else both are 1 and both are 0 then 0

6

In [ ]:
# ~  INVERT

x = 2  # 0000000000000010
y = 4  # 0000000000000110
print(~x)
print(~ y)   # here 1 inverts to 0  ; 0 inverts to 1     ;  ~y= 1111111111111001

-3
-5

In [ ]:
# zero fills from left   shift <<

x = 2
y = 4
print(x << y)   # x =  0010   x zero fills left of 4 zeros..   x= 00100000

32

In [ ]:
# right shift each bit     >>
x = 24
y=  2
print( bin(x))  # binary of x 011000
print(bin(y))   # binary of y 000010

print( x >> y) # moves each bit of x  by y times right. x  = 011000  shifts by 2 tmes each bit. 000110
print(bin(x >> y)) # 0110= 6

0b11000
0b10
6
0b110

#**Operator Precedence***

Operators priority

. ()	Parentheses

. **	Exponentiation

. +x  -x  ~x	  Unary plus, unary minus, and bitwise NOT

. *  /  //  %	  Multiplication, division, floor division, and modulus

. +  -	    Addition and subtraction

. <<     >>	  Bitwise left and right shifts

. &	  Bitwise AND

. ^	  Bitwise XOR

. |	  Bitwise OR

. ==  !=  >  >=  <  <=  is  is not  in  not in 	Comparisons, identity, and

**Membership operators**

. not	Logical NOT

. and	AND

. or	OR

In [ ]:
print(2+3+9-8)
print((2+3)+(9-8))

6
6

#**Python Lists**

* Lists are one of the data types in python
* List are used to store multiple data types
* List are symboled by []
* data stored in lists are ordered, changeable
* list can store dupicate values
* index starts from [0]  and last index is [end-1]
* Items are ordered means if we add the item it adds to end of the list

list= [str,int,float, boolean]

In [ ]:
#Lists

list1 = ["fruits",'vegetables',"chocolates"]
list2 = [1,2,3,4]
list3 = [True, True, False, False]

print(list1,list2,list3)
len(list1)
len(list2)
len(list3)
print()
print(type(list1))
print(type(list2))
print(type(list3))

['fruits', 'vegetables', 'chocolates'] [1, 2, 3, 4] [True, True, False, False]

<class 'list'>
<class 'list'>
<class 'list'>

**list()  constructor used in python to convert any data type into list**

In [ ]:
tp = ("Apple", 1.2, True)
New = list(tp)

print(New)

['Apple', 1.2, True]

In [ ]:
thislist = list(("apple", "banana", "cherry"))
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
# Creating an empty list
empty_list = list()

# Converting a tuple to a list
my_tuple = (10, 20, 30)
my_list = list(my_tuple)

print(empty_list)  # Output: []
print(my_list)     # Output: [10, 20, 30]

[]
[10, 20, 30]

In [ ]:
list1  = ('24')
print(type(list1))
print(list1,"\n\n")

list2 = list(list1) #converts list1 into list2 with each character  24 as [2,4]
print(type(list2))
print(list2)

<class 'str'>
24


<class 'list'>
['2', '4']

In [ ]:

list1 = [input("enter Value:::")]
list2 = list(list1)

print(list2)
print(type(list2))

enter Value:::255
['255']
<class 'list'>

#***Ordered and Un-Ordered***

Lists are ordered,
sets and dictonaries are unordered. where as in the 3.7 python version dictionaries are also ordered

ORDERED means we can access the elements by their index position, they are not changeable. if we add any new item adds to end of the list

UNORDERED means items are not fixed position so that we can not access the item by its index postion

In dictionaries we can access by its by its key value...

**Indexing**

5 4 3 2 1 0 -5 -4 -3 -2 -1

In [ ]:
list1  = ["Apples","Bananas","Mangoes",2,22]

print(list1[0], list1[2], list1[-1])

Apples Mangoes 22

In [ ]:
print(list1[1:4]) # prints [1],[2],[3].  Will not print [4].

['Bananas', 'Mangoes', 2]

**in python indexing works from i to [i-1]**

**index[i: (i-1)]**

In [ ]:
list  = ["Apples","Bananas","Mangoes",2,True,22]
print(list[:4]) # prints [0] to [4-1]
print(list[0:])  # prints[0]  to end
print(list[-4:-1])  # prints [-4] to [(index-1)=(-1-1)=[-2]]
print(list[-4:-3])
print(list[-4:-4]) # empty set

['Apples', 'Bananas', 'Mangoes', 2]
['Apples', 'Bananas', 'Mangoes', 2, True, 22]
['Mangoes', 2, True]
['Mangoes']
[]

In [ ]:
# Checks if item exists
list  = ["Apples","Bananas","Mangoes",2,True,[22]]
print(2 in list)  # in checks the value 2 present in list.
print([2] in list) # here  "in" checks whther the sub-list [2] presents
print([22] in list) # here in check sublst [22] present in the list
print(list[2] in list) # in checks whether in list at index [2] presents
print(list[7] in list)# throws error because index[7] not available

True
False
True
True

IndexError: list index out of range

In [ ]:
# change item in a list
list  = ["Apples","Bananas","Mangoes",2,True,22]

list[1] = "Jamun"  # replaces Bananas with Jamun
print(list)

list[3:5] = ["Tomato","Potato"] # replace index[3] and index[5-1=4] with Tomato and Potato
print(list)

list[3:4] = ["Orange","cherry"]  # here we hae given index range [3] to [4-1=3].


"""so here it replace Tomato and adds orange and cherry total 2 items at index[3]
So python interpreter inserted 2 items at gven index position"""

print(list)

['Apples', 'Jamun', 'Mangoes', 2, True, 22]
['Apples', 'Jamun', 'Mangoes', 'Tomato', 'Potato', 22]
['Apples', 'Jamun', 'Mangoes', 'Orange', 'cherry', 'Potato', 22]

In [ ]:
my_list  = ["Apples","Bananas","Mangoes",2,True,22]
my_list[3:] = ["Orange","cherry"]
print(my_list)

['Apples', 'Bananas', 'Mangoes', 'Orange', 'cherry']

In [ ]:
# Remove multiple items
list = ["Apples","Bananas","Mangoes",2,True,22]
list[1:3] = ["Blackberry"]
print(list)

['Apples', 'Blackberry', 2, True, 22]

In [ ]:
#Negative Indexing
data_list  = ["Apples","Bananas","Mangoes",2,True,22]

print(data_list[-3:-1])
print(data_list[-1:-3])

[2, True]
[]

In [ ]:
#Add items
#Append

**Append()  to append items in list**

In [ ]:
data_list  = ["Apples","Bananas","Mangoes",2,True,22]
data_list.append("Orange")    # Adds at the end fthe list
print(data_list)

['Apples', 'Bananas', 'Mangoes', 2, True, 22, 'Orange']

**insert()**
Inserts at given index

In [ ]:
data_list  = ["Apples","Bananas","Mangoes",2,True,22]
data_list.insert(1,"Cherrys")  #inserts at 2nd position i.e index[1], items at index[1] will  be pushed to [2]
print(data_list)
print(data_list[2])

['Apples', 'Cherrys', 'Bananas', 'Mangoes', 2, True, 22]
Bananas

**extend()**

append items from one list to another list

In [ ]:
# extend()
data_list1  = ["Apples","Bananas",2,True,22]
data_list2  = ["city","state",58,True,24]

data_list1.extend(data_list2)  # Output will be a single list
print(data_list1)

['Apples', 'Bananas', 2, True, 22, 'city', 'state', 58, True, 24]

In [ ]:
# extend()
# using extend() we can add tuple(), dictionary,lists
data_list  = ["Apples","Bananas",2,True,22]
tup2  = ("city","state",58,True,24)
dic3    =   {"city": "bangalore", 'state': 'Karnataka'}

data_list.extend(tup2)
print(data_list)

data_list.extend(dic3)
print(data_list)

['Apples', 'Bananas', 2, True, 22, 'city', 'state', 58, True, 24]
['Apples', 'Bananas', 2, True, 22, 'city', 'state', 58, True, 24, 'city', 'state']

In [ ]:
#Difference between append() and extend()

data_list1  = ["Apples","Bananas",2,True,22]
data_list2  = ["city","state",58,True,24]
data_list3=["India","America"]
print(data_list1.append(data_list2))   #Adds as a list to data_list1
print(data_list3.extend(data_list2))  #Adds as an element to data_list3 hence its a single list

print(data_list1)
print(data_list3)

print(data_list1[5]) #prints 5th index as list
print(data_list3[5])  #prints 5th index as an element

None
None
['Apples', 'Bananas', 2, True, 22, ['city', 'state', 58, True, 24]]
['India', 'America', 'city', 'state', 58, True, 24]
['city', 'state', 58, True, 24]
True

**remove()**

removes specfied item

In [ ]:
data_list1  = ["Apples","Bananas",2,True,22]
data_list1.remove("Bananas")  # removes name specified
data_list1.remove(2)
print(data_list1)

['Apples', True, 22]

In [ ]:
#pop()
#removes element at particular index

data_list1  = ["Apples","Bananas",2,True,22]
data_list1.pop()  # by default removes last element

print(data_list1)
print(data_list1.pop()) # returns boolean value
print(data_list1.pop) # returns memory location

['Apples', 'Bananas', 2, True]
True
<built-in method pop of list object at 0x7b9bb94fe4c0>

In [ ]:
data_list1  = ["Apples","Bananas",2,True,22]
popped=data_list1.pop(2) # removes 3rd element  in index
print(data_list1)  # returns list after popped item
print(popped)   # prints popped value
print(data_list1.pop(2)) # returns successfully removed

['Apples', 'Bananas', True, 22]
2
True

In [ ]:
#del()  to delete the item in the list

data_list1  = ["Apples","Bananas",2,True,22]
del data_list1[2] # delete the index at 2 i.e 3rd element in the list
print(data_list1)

['Apples', 'Bananas', True, 22]

In [ ]:
#del()  to delete the item in the list

data_list1  = ["Apples","Bananas",2,True,22]
value=del data_list1[2] # throws error because del will not store deleted value to assign
print(value)

SyntaxError: ignored

In [ ]:
#del
data_list1  = ["Apples","Bananas",2,True,22]
print(data_list1)  # prints list
del data_list1      # deletes entire list
print(data_list1)  # throws exception NameError because no list exists.

# Note; del will delete entire list from memory, but not empty list like data_list=[]

['Apples', 'Bananas', 2, True, 22]

NameError: ignored

**difference between del  and pop keywords**

del will permanently delete the values from memroy hence it will not store deleted values..

pop will return the removed value through an assigment variable. even through we popped the va;ue, but still we can access ,because it will not remove the value from memory

**clear()**

Clear will empty the list...

In [ ]:
data_list1  = ["Apples","Bananas",2,True,22]

data_list1.clear()
print(data_list1)

[]

**loop() through a list**

In [ ]:
val_list    =   ["fruits","cities",234,True]

for var in val_list:  # prints all items in the list thorugh a loop.
    print(var)

fruits
cities
234
True

In [ ]:
val_list    =   ["fruits","cities",234,True]

for  var in val_list:  # prints list number of indexed times
    print(val_list)

['fruits', 'cities', 234, True]
['fruits', 'cities', 234, True]
['fruits', 'cities', 234, True]
['fruits', 'cities', 234, True]

In [ ]:
#range()  and len()

val_list    =   ["fruits","cities",234,True]

for var in range(len(val_list)):

    print(val_list[var])

fruits
cities
234
True

In [ ]:
#while loop

val_list    =   ["fruits","cities",234,True]
i=0

print("length of list::", len(val_list),'\n')

while i < len(val_list):
    print(val_list[i],"    ", "value of index is::", i,'\n')

    i +=1

length of list:: 4

fruits      value of index is:: 0

cities      value of index is:: 1

234      value of index is:: 2

True      value of index is:: 3

In [ ]:
#while loop

val_list    =   ["fruits","cities",234,True]
i=0

print("length of list::", len(val_list),'\n')

while i != len(val_list):
    print(val_list[i],"    ", "value of index is::", i,'\n')

    i +=1

length of list:: 4

fruits      value of index is:: 0

cities      value of index is:: 1

234      value of index is:: 2

True      value of index is:: 3

#**List comprhension**

Its a shorter syntax  to create a new list based on existing list

syntax = [expression ***for***  value  ***in***   iterable expression condition]

In [ ]:
#List Comprehension

val_list    =   ["fruits","cities",234,True]

[print(i) for i in val_list]   #   []    represents list comprehension.. collects each data

fruits
cities
234
True

[None, None, None, None]

In [ ]:
val_list    =   ["fruits","cities",234,True]
(print(i) for i in val_list)

#  here ()   brackets are denotes generators ,
#it will ceate generator object but not the value"
# prints memory location

In [ ]:
val_list    =   ["fruits","cities",234,True]
output=(print(i) for i in val_list)

print(output) #  we store the generator object in output then we print

<generator object <genexpr> at 0x7aa863317e60>

In [ ]:
#example

val_list    =   ["fruits","cities", "bananas","apple"]   # List Comprehension

[print(x)  for x in val_list  if 'i'  in x] #prints only letter 'i' in presents in elements

fruits
cities

[None, None]

In [ ]:
# creates new list from old list

old_list =["Apples","Bananas","citrus","mangoes","kiwis"]

new_list=[print(x) for x in old_list  if "i" in x ]  #Creates new list using comprehension technique for all "i" string values

print(new_list)

['citrus', 'kiwis']

In [ ]:
# example2

old_list =["Apples","Bananas","citrus","mangoes","kiwis"]

new_list=[x for x in old_list  if "i" not in x ]   # prints all values "i" not exists

print(new_list)

['Apples', 'Bananas', 'mangoes']

In [ ]:
#example 3
old_list =["Apples","Bananas","citrus","mangoes","kiwis"]

[print(x,end=", ")  for x in old_list  if x != "Apples"]    # prints all values except Apples

Bananas, citrus, mangoes, kiwis,

[None, None, None, None]

In [ ]:
#example4

[print(x,end="  ") for x in range(5) ]

0  1  2  3  4

[None, None, None, None, None]

In [ ]:
[print(x, end=" ") for x in range(50)  if (x %2) == 0]

"""op=[x for x in range(50) if x%2 == 0]
print("\n\n",op)"""
print()

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48

In [ ]:
# to remove None
output=[x for x in range(50)  if (x %2) == 0]
print(output)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [ ]:
old_list =["Apples","Bananas","citrus","mangoes","kiwis"]

[print(x.upper(),end=", ")  for x in old_list  if x != "Apples"]   # Upper Case

BANANAS, CITRUS, MANGOES, KIWIS,

[None, None, None, None]

**sort()**   

sorts data   ...

syntax....    

exp= exp.sort()  Sorts in Ascending

exp=exp.sort(reverse=True)   Sorts in descending

In [ ]:
#Sort

old_list =["Apples","Bananas","citrus","mangoes","kiwis"]

old_list.sort()   # Ascending sort

print(old_list)

['Apples', 'Bananas', 'citrus', 'kiwis', 'mangoes']

In [ ]:
#descending sort

old_list =["Apples","Bananas","citrus","mangoes","kiwis"]

old_list.sort(reverse=True)
print(old_list)

['mangoes', 'kiwis', 'citrus', 'Bananas', 'Apples']

In [ ]:
#  Number sort

data=[10,34,23,57,122]

data.sort()
print(data)

data1=[10,34,23,57,122]

data1.sort(reverse=True)
print(data1)

[10, 23, 34, 57, 122]
[122, 57, 34, 23, 10]

In [ ]:
#Tuple has no attribute sort()

data=(10,34,23,57,122)   # We can not sort() tuples because they are immutable.can't alterable

data.sort()
print(data)

AttributeError: ignored

In [ ]:
#example

data=[10,34,23,57,122]

data.sort()
print(data)

data.sort(reverse=True)
print(data)

[10, 23, 34, 57, 122]
[122, 57, 34, 23, 10]

In [ ]:
#example

data=[10,34,23,57,122]

data1=data.sort()  # Sort method sorts and stores vales in same list, so we can not assign sorted data to new list using sort()
print(data1)

None

In [ ]:
#Dictionaries are not sortable because unordered

dataset={"One":1,"Two":2,"Three":3}

dataset.sort()  # Dictionary has no sort() attribute
print(dataset)

AttributeError: ignored

**sorted()**  


To store sorted values in new list   

Useful for tuples and dictionaries

In [ ]:
#Lists using sorted()

data=[10,34,23,57,122]

data1=sorted(data)  # Sorted data in Ascending and stored in data1
print(data1)

data1= sorted(data,reverse=True) # sort the data in reverse  order
print(data1)

[10, 23, 34, 57, 122]
[122, 57, 34, 23, 10]

In [ ]:
#Tuples

data=(10,34,23,57,122)
print(sorted(data))
data1=sorted(data) # prints tuple in sorted in new variable
print(data1,'\n')

print(sorted(data,reverse=True))
data1=sorted(data,reverse=True)  # reverse order
print(data1)

[10, 23, 34, 57, 122]
[10, 23, 34, 57, 122]

[122, 57, 34, 23, 10]
[122, 57, 34, 23, 10]

In [ ]:
# Dictionaries

dataset= {"a":1,"b":2,"c":3}

# by default prints sorted with keys only
print(sorted(dataset))
print(sorted(dataset,reverse=True))

print(sorted(dataset.items()))
print(sorted(dataset.keys()))  # sort keys
print(sorted(dataset.values())) # sort key with value

['a', 'b', 'c']
['c', 'b', 'a']
[('a', 1), ('b', 2), ('c', 3)]
['a', 'b', 'c']
[1, 2, 3]

In [ ]:
# Dictionaries

dataset= {"c":1,"d":2,"b":3}

print(sorted(dataset))
print(sorted(dataset,reverse=True))

print(sorted(dataset.items()))
print(sorted(dataset.keys()))  # sort keys
print(sorted(dataset.values())) # sort key with value

['b', 'c', 'd']
['d', 'c', 'b']
[('b', 3), ('c', 1), ('d', 2)]
['b', 'c', 'd']
[1, 2, 3]

In [ ]:
# Dictionaries

dataset= {"c":5,"d":2,"b":3}

# by default sorts key only
print(sorted(dataset))
print(sorted(dataset,reverse=True))

print(sorted(dataset.items())) # sorts and prints by key order
print(sorted(dataset.keys()))  # sort keys
print(sorted(dataset.values())) # sort key with value

['b', 'c', 'd']
['d', 'c', 'b']
[('b', 3), ('c', 5), ('d', 2)]
['b', 'c', 'd']
[2, 3, 5]

**Case Senstive sorting**

by default sort() function willsort Upper case letters first then lower case letters

In [ ]:
old_list=['Apples',"Bible","APPLES",'citrus',"KIWIS",'Kiwis','kiwis']

old_list.sort() # Upper case letters willbe sorted first.
print(old_list)

# Here While considering upper case letetr it follows sorting method first for upper case letetrs in alphabetic order

['APPLES', 'Apples', 'Bible', 'KIWIS', 'Kiwis', 'citrus', 'kiwis']

In [ ]:
# Use key in sort()

# key will sort according to alphabets

old_list=['Apples',"Bible","APPLES",'citrus',"KIWIS",'Kiwis','kiwis']

old_list.sort(key=str.lower)
print(old_list)

['Apples', 'APPLES', 'Bible', 'citrus', 'KIWIS', 'Kiwis', 'kiwis']

In [ ]:
old_list=['Apples',"Bible","APPLES",'citrus',"KIWIS",'Kiwis','kiwis']


old_list.sort(key=str.upper)
print(old_list)

['Apples', 'APPLES', 'Bible', 'citrus', 'KIWIS', 'Kiwis', 'kiwis']

In [ ]:
# List reverse()

old_list=['Apples',"Bible","APPLES",'citrus',"KIWIS",'Kiwis','kiwis']

old_list.reverse()
print(old_list)

['kiwis', 'Kiwis', 'KIWIS', 'citrus', 'APPLES', 'Bible', 'Apples']

In [ ]:
#List copy()
old_list=['Apples',"Bible","APPLES",'citrus',"KIWIS",'Kiwis','kiwis']

new_list=old_list.copy()
print(new_list)

['Apples', 'Bible', 'APPLES', 'citrus', 'KIWIS', 'Kiwis', 'kiwis']

In [ ]:
#List copy

orl_list=['Apples',"Bible","APPLES",'citrus',"KIWIS",'Kiwis','kiwis']

cpy_list=orl_list
print(cpy_list)
print(orl_list)

['Apples', 'Bible', 'APPLES', 'citrus', 'KIWIS', 'Kiwis', 'kiwis']
['Apples', 'Bible', 'APPLES', 'citrus', 'KIWIS', 'Kiwis', 'kiwis']

In [ ]:
orl_list=['Apples',"Bible","APPLES",'citrus',"KIWIS",'Kiwis','kiwis']

cpy_list=orl_list.copy()

print("Original List is  ORL_LIST")
print("2nd List is   CPY_LIST")
print()

print("Original List;;",orl_list)
print("Assigned list;;",cpy_list)
print()

cpy_list.append("Bananas")
print("After Append to 2nd list;;",orl_list)
print("After Append to 2nd List::",cpy_list)
print()

orl_list.append("lemon")
print("After Append to original List..:",orl_list)
print("After Append to originalList::",cpy_list)

Original List is  ORL_LIST
2nd List is   CPY_LIST

Original List;; ['Apples', 'Bible', 'APPLES', 'citrus', 'KIWIS', 'Kiwis', 'kiwis']
Assigned list;; ['Apples', 'Bible', 'APPLES', 'citrus', 'KIWIS', 'Kiwis', 'kiwis']

After Append to 2nd list;; ['Apples', 'Bible', 'APPLES', 'citrus', 'KIWIS', 'Kiwis', 'kiwis']
After Append to 2nd List:: ['Apples', 'Bible', 'APPLES', 'citrus', 'KIWIS', 'Kiwis', 'kiwis', 'Bananas']

After Append to original List..: ['Apples', 'Bible', 'APPLES', 'citrus', 'KIWIS', 'Kiwis', 'kiwis', 'lemon']
After Append to originalList:: ['Apples', 'Bible', 'APPLES', 'citrus', 'KIWIS', 'Kiwis', 'kiwis', 'Bananas']

In [ ]:
orl_list=['Apples',"Bible","APPLES",'citrus',"KIWIS",'Kiwis','kiwis']

cpy_list=orl_list

print("Original List is  ORL_LIST")
print("2nd List is   CPY_LIST")
print()

print("Original List;;",orl_list)
print("Assigned list;;",cpy_list)
print()

cpy_list.append("Bananas")
print("After Append to 2nd list;;",orl_list)
print("After Append to 2nd List::",cpy_list)
print()

orl_list.append("lemon")
print("After Append to original List..:",orl_list)
print("After Append to originalList::",cpy_list)

Original List is  ORL_LIST
2nd List is   CPY_LIST

Original List;; ['Apples', 'Bible', 'APPLES', 'citrus', 'KIWIS', 'Kiwis', 'kiwis']
Assigned list;; ['Apples', 'Bible', 'APPLES', 'citrus', 'KIWIS', 'Kiwis', 'kiwis']

After Append to 2nd list;; ['Apples', 'Bible', 'APPLES', 'citrus', 'KIWIS', 'Kiwis', 'kiwis', 'Bananas']
After Append to 2nd List:: ['Apples', 'Bible', 'APPLES', 'citrus', 'KIWIS', 'Kiwis', 'kiwis', 'Bananas']

After Append to original List..: ['Apples', 'Bible', 'APPLES', 'citrus', 'KIWIS', 'Kiwis', 'kiwis', 'Bananas', 'lemon']
After Append to originalList:: ['Apples', 'Bible', 'APPLES', 'citrus', 'KIWIS', 'Kiwis', 'kiwis', 'Bananas', 'lemon']

**The Differecen between copy() and assigned list**

**when we use copy() method, what ever the values to append to list that list only append. second list will not affect.   where as if we assign a list to another list , whatever the chnages made in any of the list, both lists will be affected**

In [ ]:
# JOIN LISTS

list1=["Apple","Mango","Banana"]
list2=[1,2,3,4]

list3=list1 + list2  #Joins 2 lists
print(list3)

['Apple', 'Mango', 'Banana', 1, 2, 3, 4]

**extend()**

extends()   adds 2 lists

In [ ]:
#extend()

L1=["Apples","Mangoes","Bananas"]
L2=[12,234,43,22]
L3=[True,False]

L1.extend(L2) # Adds L2 to L1
L1.extend(L3) # Adds L3 to L1
print(L1)

['Apples', 'Mangoes', 'Bananas', 12, 234, 43, 22, True, False]

In [ ]:
#extend()
L1=["Apples","Mangoes","Bananas"]
L2=[12,234,43,22]
L3=[True,False]

L1.extend(L2+L3) # Adds L2 and L3 to L1

print(L1)

['Apples', 'Mangoes', 'Bananas', 12, 234, 43, 22, True, False]

In [ ]:
#extend()

L1=["Apples","Mangoes","Bananas"]
L2=[12,234,43,22]
L3=[True,False]

combo= L1.extend(L2)  # extend() doesnot assign to store outcome to new variable.
#Hence it returns none .It stores outcome to same moemroy location i.e.L1
print(combo)

None

In [ ]:
#extend()

L1=["Apples","Mangoes","Bananas"]
L2=[12,234,43,22]
L3=[True,False]

L1.extend(L2[0:1]+L3[0:1])  # Adds values at position [0] from L2,L3 to L1
print(L1)

['Apples', 'Mangoes', 'Bananas', 12, True]

#**List Methods**

In [ ]:
#append()   Appends value or list

L1=["Apples","Mangoes","Bananas"]
L2=[12,234,43,22]
L3=[True,False]

L1.append(L2)
print(L1)
L2.append(L3)
print(L1)

L1.append("Oranges")
print(L1)

['Apples', 'Mangoes', 'Bananas', [12, 234, 43, 22]]
['Apples', 'Mangoes', 'Bananas', [12, 234, 43, 22, [True, False]]]
['Apples', 'Mangoes', 'Bananas', [12, 234, 43, 22, [True, False]], 'Oranges']

In [ ]:
#Append()

print(L2)
L2.append(L1)
print(L2)

[12, 234, 43, 22, [True, False]]
[12, 234, 43, 22, [True, False], ['Apples', 'Mangoes', 'Bananas', [...], 'Oranges']]

In [ ]:
L1=["Apples","Mangoes","Bananas"]
L2=[12,234,43,22]
L3=[True,False]

L1.append(L2+L3)
print(L1)
print()
print(L1[2:4])

['Apples', 'Mangoes', 'Bananas', [12, 234, 43, 22, True, False]]

['Bananas', [12, 234, 43, 22, True, False]]

In [ ]:
L1=["Apples","Mangoes","Bananas"]
L2=[12,234,43,22]
L3=[True,False]


L1.extend(L2+L3)
print(L1)
print(L1[2:4])

['Apples', 'Mangoes', 'Bananas', 12, 234, 43, 22, True, False]
['Bananas', 12]

**Diference between is extend() method and append()**

extend() combines all list elements into single list   

append() combines all list into single list by keeping each list seperately

In the above example L appended by combining L2,L3. so here L2,L3 are combined as one list and L1 as one list total 2 lists.

In [ ]:
#clear()

# clears list elements

L1=["Apples","Mangoes","Bananas"]
L2=[12,234,43,22]
L3=[True,False]

print(L1)
L1.clear()   #  clears list elements
print(L1)  # clears list

memloc=id(L1)
print(memloc)

len(L1)

#Even thoguh data cleared but it still exists in memory location

['Apples', 'Mangoes', 'Bananas']
[]
136844395405504

0

In [ ]:
del L1    # Removes from memory location

print(L1)

NameError: ignored

In [ ]:
#clear()

# Removes elements from list

L1=["Apples","Mangoes","Bananas"]

L1.clear() # clears elements in the list

print(L1)

[]

In [ ]:
#copy
#retruns copy of the list

L1=["Apples","Mangoes","Bananas"]
print(L1.copy)
L1=L1.copy()
print(L1)
x=L1.copy()
print(x)

<built-in method copy of list object at 0x7fdb02247580>
['Apples', 'Mangoes', 'Bananas']
['Apples', 'Mangoes', 'Bananas']

In [ ]:
#count()

# counts the given value appeared number of times

# syntax expression.count(value)

L1=["Apples","Mangoes","Bananas"]

print(L1.count("Apples"))  # Returns number

exp=[2,3,2,3,24,32,33,44,33,44,4]

print(exp.count(33))

print(exp.count(44))

print(exp.count(2,3)) # Takes one argument

1
2
2

TypeError: list.count() takes exactly one argument (2 given)

In [ ]:
l=["Shiva","Karthik","Prrasad"]
for y in enumerate(l):
    print(y)

(0, 'Shiva')
(1, 'Karthik')
(2, 'Prrasad')

In [ ]:
#extend()

#Extends any value, tuple, list,dict..  at the end

L1=["Apples","Mangoes","Bananas"]
L2=[12,234,43,22]
L3=[True,False]

tp=("Python",23,True)
dct={"x":3,"y":4,"z":6}

print(L1,L2,L3)
print()

L1.extend('Citrus') # adds each character as string
L1.extend(['citrus']) # adds as a single element
print(L1)
print()

L2.extend(L1) #extends 2 lists
print(L2)
print()


print('\n')
L3.extend(L2)  #extends 2 lists
print(L3)
L1.extend(tp)  # extends tuplewith list
print(L1)
print()

L1.extend(dct) # extends list with dictionary
print(L1)

print(L1.extend(tp)) # returns None

['Apples', 'Mangoes', 'Bananas'] [12, 234, 43, 22] [True, False]

['Apples', 'Mangoes', 'Bananas', 'C', 'i', 't', 'r', 'u', 's', 'citrus']

[12, 234, 43, 22, 'Apples', 'Mangoes', 'Bananas', 'C', 'i', 't', 'r', 'u', 's', 'citrus']



[True, False, 12, 234, 43, 22, 'Apples', 'Mangoes', 'Bananas', 'C', 'i', 't', 'r', 'u', 's', 'citrus']
['Apples', 'Mangoes', 'Bananas', 'C', 'i', 't', 'r', 'u', 's', 'citrus', 'Python', 23, True]

['Apples', 'Mangoes', 'Bananas', 'C', 'i', 't', 'r', 'u', 's', 'citrus', 'Python', 23, True, 'x', 'y', 'z']
None

In [ ]:
L3.extend(L2,'\n')  # extend takes only one argument
print(L3)

TypeError: ignored

In [ ]:
print(L3)
L3.extend('\n')  # takes as new character
print(L3)

[True, False, 12, 234, 43, 22, 'Apples', 'Mangoes', 'Bananas', 'C', 'i', 't', 'r', 'u', 's', 'citrus', '\n', '\n']
[True, False, 12, 234, 43, 22, 'Apples', 'Mangoes', 'Bananas', 'C', 'i', 't', 'r', 'u', 's', 'citrus', '\n', '\n', '\n']

In [ ]:
#index
#Retuirn the index value in the list of given value
#syntax is  expression.index(value)

L1=["Apples","Mangoes","Bananas"]
inx=L1.index("Bananas")
print(inx)

L1=["Apples","Mangoes","Bananas", "Apples"]
inx=L1.index("Apples") # Index returns only first occurance
print(inx)

2
0

In [ ]:
#insert()
#inserts the value at given index
# syntax   exp.insert(index,value)

L1=["Apples","Mangoes","Bananas"]
L1.insert(1,"Oranges") # inserts at 2nd postion i.e [index1]
print(L1)
print(L1.insert(2,"CHerry")) # inserts 3rd position
print(L1)

['Apples', 'Oranges', 'Mangoes', 'Bananas']
None
['Apples', 'Oranges', 'CHerry', 'Mangoes', 'Bananas']

In [ ]:
#pop
#picks the value at given index

L1=["Apples","Mangoes","Bananas"]
print(L1.pop(1)) # pops at index[1]

print(L1.pop())  # by default pops last value of list

Mangoes
Bananas

In [ ]:
#remove()
#removes the given value
#exp.remove(value)

L1=["Apples","Mangoes","Bananas"]
L1.remove("Mangoes")
print(L1)
print(L1.remove("Bananas")) # returns none
print(L1)

['Apples', 'Bananas']
None
['Apples']

In [ ]:
# reverse()
# reverses the list

L1=["Apples","Mangoes","Bananas"]
print(L1.reverse())
print(L1)

L1.reverse()
print(L1)

None
['Bananas', 'Mangoes', 'Apples']
['Apples', 'Mangoes', 'Bananas']

In [ ]:
#sort()
#sorts elements in list

L1=["Apples","Mangoes","Bananas"]

L1.sort() #Ascending order
print(L1)

['Apples', 'Bananas', 'Mangoes']

In [ ]:
L1.sort(reverse=True) # descending order
print(L1)

['Mangoes', 'Bananas', 'Apples']

#**Tuple()**


Tuples are represented with ()

Tuples are used to store multiple values  together.

Tuples are collection of items and ordered and  unchangeable/unmutable

Ordered means We can not change its order of elements from its position

Unchangeable/Unutable means we can not add or delete elements

Tuples are indexed. we can access tuple items by its index values

tuples can have duplicate values

In [ ]:
L1=("Apples","Mangoes","Bananas")

print(L1)

('Apples', 'Mangoes', 'Bananas')

In [ ]:
tup= ("Apples","Mangoes","Bananas",'Apples',"Bananas")

print(tup) # duplicate elements

('Apples', 'Mangoes', 'Bananas', 'Apples', 'Bananas')

In [ ]:
#len()
# length of tuple

tup= ("Apples","Mangoes","Bananas",'Apples',"Bananas")
print(len(tup))

5

In [ ]:
#tuple with one element
# must use  comma (,)

tup1=("Apple",)  # tuple with one element
print(tup1)
print(type(tup1))

print()
#Non tuple
ntup=("Apple") # its a string , not a tuple
print(ntup)
print(type(ntup))

('Apple',)
<class 'tuple'>

Apple
<class 'str'>

** to differentiate one element tuple with string, we use comma(,)  in tuple**

In [ ]:
#tuple with multiple data types
tup= ("Apples","Mangoes","Bananas",'Apples',"Bananas")
tup1=("Cherry",)
tup2=(1,3,4,5)
tup3=(True,False,True)
multup=("Apples",1,True)
print(multup)

('Apples', 1, True)

In [ ]:
tup.extend(tup1)  # gives error becasue we cant modify tuple
print(tup)

AttributeError: ignored

In [ ]:
#errors in tuple

tup= ("Apples","Mangoes","Bananas",'Apples',"Bananas")
tup.append("Cherry")
print(tup)   # can not add, becasue its ordered

AttributeError: ignored

In [ ]:
#errors in tuple

tup= ("Apples","Mangoes","Bananas",'Apples',"Bananas")

tup.remove([2]) can not remove bacasue its immutabe
print(tup)

AttributeError: ignored

In [ ]:
#Tuple constructor
#to create new tuple
# syntax is tuple(())

tup= ("Apples","Mangoes","Bananas",'Apples',"Bananas")
new_tup=tuple(("Apples","Mangoes","Bananas",'Apples',"Bananas"))
print(new_tup)
print(tup)

('Apples', 'Mangoes', 'Bananas', 'Apples', 'Bananas')
('Apples', 'Mangoes', 'Bananas', 'Apples', 'Bananas')

**Access Tuples**

Tuples can be added using indexing

In [ ]:
tup= ("Apples","Mangoes","Bananas",'Apples',"Bananas")

print(tup[2]) #3rd element

print(tup[1:4]) # slicing method to accesss elements from 2nd element to 4-1=3rd element

print(tup[-3:-1]) # negative indexing i.e prints 3rd elemnt and 2nd element  i.e.-1-1=-2

print(tup[0:]) #start at[0] to end of the tuple

print(tup[:3]) # access upto 3rd index i.e 2 values

print(tup[:-2])  # access from [0]  to next to 2nd last element in reverse. dont prints 2nd last element

Bananas
('Mangoes', 'Bananas', 'Apples')
('Bananas', 'Apples')
('Apples', 'Mangoes', 'Bananas', 'Apples', 'Bananas')
('Apples', 'Mangoes', 'Bananas')
('Apples', 'Mangoes', 'Bananas')

In [ ]:
#checks item exists

tup= ("Apples","Mangoes","Bananas",'Apples',"Bananas")

print(tup[3])

Apples

In [ ]:
tup= ("Apples","Mangoes","Bananas",'Apples',"Bananas")

if "Apples" in tup: print("Yes")

Yes

In [ ]:
#tuple Comprehension
# Also called as generator

lis=["a","b","c"]

tup= tuple(lis)
print(tup)
print(lis)

('a', 'b', 'c')
['a', 'b', 'c']

**To convert a list into tuple we use () .also callled as generators**

a generator ()  converts a list to tuple

In [ ]:
#converts a list to tuple

lis= ["a","b","c"]
tup=(lis)
print("Tuple conversion using generator::",tup)

#OR

tup1=tuple(lis)
print("tuple conversion using tuple() constructor::",tup1)

Tuple conversion using generator:: ['a', 'b', 'c']
tuple conversion using tuple() constructor:: ('a', 'b', 'c')

In [ ]:
#ex2

l1=[1,2,3,4]
t1=tuple((i**2) for i in l1) # square roots l1
print(t1)

(1, 4, 9, 16)

**Even thoouh tuples are immutable or unchangeble, we can use some methods to change tupple**

list()  .using list method we convert tuple into list , then by using

tuple() method we can convert the list to same tuple again

In [ ]:
tup= ("Apples","Mangoes","Bananas",'Apples',"Bananas")
print("Original Tuple::",tup)
print(type(tup))
new=list(tup)   # converted tuple to list using list() method
print(type(new))  # tuple converted to list

new.append("cherrys")   # new value added to list
print(new)

tup=tuple(new)  # now converted list to tuple using tuple() method
print("New item added to tuple::",tup)
print(type(tup)) # tuple added new value

Original Tuple:: ('Apples', 'Mangoes', 'Bananas', 'Apples', 'Bananas')
<class 'tuple'>
<class 'list'>
['Apples', 'Mangoes', 'Bananas', 'Apples', 'Bananas', 'cherrys']
New item added to tuple:: ('Apples', 'Mangoes', 'Bananas', 'Apples', 'Bananas', 'cherrys')
<class 'tuple'>

In [ ]:
#Adding 2 tuples

tup= ("Apples","Mangoes","Bananas",'Apples',"Bananas")
tup2=(2,)

tup += tup2  #adds 2 tuple
print(tup)

tup -= tup2  # error can not remove
print(tup)

('Apples', 'Mangoes', 'Bananas', 'Apples', 'Bananas', 2)

TypeError: ignored

In [ ]:
# Removing Tuple items

tup= ("Apples","Mangoes","Bananas",'Apples',"Bananas")
print("Before removing", tup, type(tup))

new = list(tup)  # convert to list
new.remove("Apples")
print("List::",new, type(new))

tup=tuple(new)  # converts list to  tuple
print("After remvoing ::", tup, type(tup))

Before removing ('Apples', 'Mangoes', 'Bananas', 'Apples', 'Bananas') <class 'tuple'>
List:: ['Mangoes', 'Bananas', 'Apples', 'Bananas'] <class 'list'>
After remvoing :: ('Mangoes', 'Bananas', 'Apples', 'Bananas') <class 'tuple'>

#**Unpacking and Packing**

packing >> tup= ("Apples","Mangoes","Bananas",'Apples',"Bananas")

Here we packed all value sinto a tuple called named as tup

Unpacking >> (a,b,c)=tup

Here we are accessing each variable from tuple to access seperately

This is useful when weare working with fucntions, when we receving multiple values from a function()  as tuples  and we want to collect those values into sperate variables, we use this.

In [ ]:
tup= ("Apples","Mangoes","Bananas",'Apples',"Bananas") # packed

print(tup[2])

(a,b,c,d,e)  = tup   # unpacked the tuple
# here a = "Apples" b= "Mangoes" c="Bananas" d="Apples" e="Bananas"
print(a)  #unpacked tuple 1st element
print(b)
print(c,d,e)
print(*a)  # converts to seperate itemeach character

(a,*val)=tup   #extract allvalues fromt tuple
print(val)  # here except 2st value remainign are all converted a list. also called as extended unpacking
print(a,*val) # Extracts all variable seperately,  but not list

Bananas
Apples
Mangoes
Bananas Apples Bananas
A p p l e s
['Mangoes', 'Bananas', 'Apples', 'Bananas']
Apples Mangoes Bananas Apples Bananas

In [ ]:
print(*"Apples")  #prints each character to sepearte variable

A p p l e s

In [ ]:
# Actual usage of unpacking in tuple

def my_fun(a,b,c):
    t1=(a*2,a**3,a/1)   # creating tuple
    print(type(t1))

    t2=(b*2,b**3,b/1)
    print(type(t2))

    t3=(c*2,c**3,c/1)
    print(type(t3))

    return(t1,t2,t3)


tup=(my_fun(5,6,7))

print(type(tup))
print(tup)

(x,y,z)=tup
print("\n","1st tuple::",x,'\n',"2nd tuple::",y,'\n',"3rdtuple::",z)

(a0,b0,c0)=x
print(a0)
print(b0)
print(c0)
print()
print()

(a1,a2,a3)=y
print(a1)
print(a2)
print(a3)
print()
print()

(b1,b2,b3)=z
print(b1)
print(b2)
print(b3)

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
((10, 125, 5.0), (12, 216, 6.0), (14, 343, 7.0))

 1st tuple:: (10, 125, 5.0)
 2nd tuple:: (12, 216, 6.0)
 3rdtuple:: (14, 343, 7.0)
10
125
5.0


12
216
6.0


14
343
7.0

**Loops in Tuple**

In [ ]:
# for Loop

tup= ("Apples","Mangoes","Bananas",'Apples',"Bananas")

for i in tup:
    print(i)

Apples
Mangoes
Bananas
Apples
Bananas

In [ ]:
# using  range() and len() functions

tup= ("Apples","Mangoes","Bananas",'Apples',"Bananas")

print("length::",len(tup))

for i in range(len(tup)):
    print(tup[i],end="  ")

length:: 5
Apples  Mangoes  Bananas  Apples  Bananas

In [ ]:
# using  range() and len() functions

tup1= ("Apples","Mangoes","Bananas",'Apples',"Bananas")

print("length::",len(tup1))

for i in range(0,len(tup1)):
    print(tup1[i],end="  ")

length:: 5
Apples  Mangoes  Bananas  Apples  Bananas

In [ ]:
# using  range() and len() functions

tup1= ("Apples","Mangoes","Bananas",'Apples',"Bananas")

print("length::",len(tup1))

for i in range(0,len(tup1[:-2])):
    print(tup1[i],end="  ")

length:: 5
Apples  Mangoes  Bananas

In [ ]:
# tuples using while loop

# using  range() and len() functions

tup1= ("Apples","Mangoes","Bananas",'Apples',"Bananas")

print("length::",len(tup1))

i=0

while i < len(tup1):
    print(tup1[i],end="  ")
    i += 1

length:: 5
Apples  Mangoes  Bananas  Apples  Bananas

In [ ]:
# Join 2 tuples

tup1= ("Shiva", "Karthkeya", "Nandhini")
tup2=("Prrasad", "Sunkaranoam", "Sunkaranom")

print(tup1+tup2)

('Shiva', 'Karthkeya', 'Nandhini', 'Prrasad', 'Sunkaranoam', 'Sunkaranom')

In [ ]:
tup3=(2,3,4)
print(tup3*3)
print(2*tup3)

(2, 3, 4, 2, 3, 4, 2, 3, 4)
(2, 3, 4, 2, 3, 4)

In [ ]:
tup3=(2,3,4)

value=tuple(x*2 for x in tup3)
print(value)

(4, 6, 8)

In [ ]:
# Count() in tuple

# Returns no of times the value appeard in tuple

tup3=(2,3,4,5,5,5,3,3,333,3)
print(tup3.count(3))

4

In [ ]:
# index()

# returns first occurance of indexed value position

tup3=(2,3,4,5,5,5,3,3,333,3)

print(tup3.index(3))  # returns first occurance value of index
print(tup3.index(5))
print(tup3.index(6))  # returns error if  not found

1
3

ValueError: ignored

In [ ]:
fruits = ("apple", "banana", "cherry")

print(fruits[0])

(a,b,c) =fruits

print(a)

apple
apple

In [ ]:
val=(1,2,3)
(a,b,c)=val

print(a+b+c)

6

In [ ]:
fruits = ("apple", "banana", "cherry")

(a,b,c) =fruits

(a1,*b1)= fruits

print(a1)
print(b1)

print(*(a+b+c))

apple
['banana', 'cherry']
a p p l e b a n a n a c h e r r y

# **SETS**

sets are one of four most important data types in python.

sets are denoted by {}

Sets are unordered..Means everytime it displays items in different order.
Sets are non INDEXED. We cant not access the items using indexing[]
sets are unmutable or unchangeable . hence we can not chnage
Sets do  not allow duplicates

In [ ]:
fruits = {"apple", "banana", "cherry"}

print(fruits)   # unordered
print(fruits)
print(fruits)

{'apple', 'cherry', 'banana'}
{'apple', 'cherry', 'banana'}
{'apple', 'cherry', 'banana'}

In [ ]:
fruits = {"apple", "banana", "cherry","Apple","apple"}

print(fruits) # removes duplicates.but case sensitive

{'apple', 'cherry', 'banana', 'Apple'}

In [ ]:
# Sets are considered as 1 and True as True

fruits = {"apple", "banana", "cherry",True,1,2,0,False}
print(fruits)  # removes False and 1, False=0 True=1  duplicated removed

{0, True, 2, 'apple', 'cherry', 'banana'}

In [ ]:
#len()

fruits = {"apple", "banana", "cherry",True,1,2,0,False}
print(len(fruits)) #removes duplicates before counting

6

In [ ]:
setstr={"Apple","Banana","Mangoes"}
setbool={True,False,True,False}
setnum={1,2,3.0,4.7}
setmix={'Apple',True,1.2,4}

print(setstr,setbool,setnum,setmix)

{'Banana', 'Mangoes', 'Apple'} {False, True} {1, 2, 3.0, 4.7} {True, 4, 1.2, 'Apple'}

In [ ]:
#type()

setstr={"Apple","Banana","Mangoes"}
setbool={True,False,True,False}
setnum={1,2,3.0,4.7}
setmix={'Apple',True,1.2,4}

print(type(setstr),type(setbool),type(setnum),type(setmix))

<class 'set'> <class 'set'> <class 'set'> <class 'set'>

**Set()  constructor**

creates a set from other data types

In [ ]:
ls1=["Apple","Banana","Mangoes", "Apple"]
tup=(True,False,True,False)

setmake=set(ls1)  # creates set data type from list, by removing duplicate
print(setmake, type(setmake))

settup=set(tup)  # creates a set datatype from tuple, by rmeoving duplicates
print(settup,type(settup))

{'Banana', 'Mangoes', 'Apple'} <class 'set'>
{False, True} <class 'set'>

In [ ]:
# Access the items

print( 3.0 in setstr)  # returns boolean value

for x in setstr:
    print(x,end=" ")

True
False True 2 3.0 4.7 Mangoes Apple Banana

In [ ]:
setstr={True,False,True,False,2,3.0,4.7,"Apple","Banana","Mangoes"}
{print(x,end=" ") for x in setstr}

False True 2 3.0 4.7 Mangoes Apple Banana

{None}

In [ ]:
# Add Items

setstr={True,False,True,False,2,3.0,4.7,"Apple","Banana","Mangoes"}

setstr.add("Cherrys")
print(setstr)

{False, True, 2, 3.0, 4.7, 'Mangoes', 'Apple', 'Banana', 'Cherrys'}

In [ ]:
# Update values from other set

setnum={1,2,3.0,4.7}
setmix={'Apple',True,1.2,4}
setnum.update(setmix) # updates setnum with  setmix by removing duplicates
print(setnum)

{1, 2, 3.0, 4.7, 4, 1.2, 'Apple'}

In [ ]:
#update other data types

ls1=["Apple","Mango","Banana"]
tp1=("Apple","banana", "Apple",2.0,55)
st1={"Apple","banana",35}

st1.update(ls1)  # updates st1 with ls1 by removing duplicates
print(st1)

st1.update(tp1)
print(st1)

{'Apple', 35, 'Banana', 'Mango', 'banana'}
{'Apple', 35, 2.0, 'Banana', 'Mango', 'banana', 55}

In [ ]:
#update other data types

ls1=["Apple","Mango","Banana"]
tp1=("Apple","banana", "Apple",2.0,55)
st1={"Apple","banana",35}

st1.update(ls1,tp1)  # updates st1 with ls1,tp1 by removing duplicates
print(st1)

{2.0, 35, 'Apple', 'Banana', 'Mango', 55, 'banana'}

**In LISTS we use append() to add other data types to list, where as SETS  we use update to add other data types**

The difference between append() and update()  update will remove duplicates and append() cant

In [ ]:
# remove

# to remove an item from set

strm={2.0, 35, 'Apple', 'Banana', 'Mango', 55, 'banana'}
strm.remove('Banana')
print(strm)

{2.0, 35, 55, 'Apple', 'banana', 'Mango'}

In [ ]:
strm.remove(10) #  throws an error
print(strm)

KeyError: ignored

In [ ]:
#discard()

#discards the item

strm={2.0, 35, 'Apple', 'Banana', 'Mango', 55, 'banana'}
print(strm)
strm.discard("Apple")  # removes

print(strm)

strm.discard(10)  # if item not found will not throw error
print(strm)

{2.0, 35, 55, 'Apple', 'Banana', 'banana', 'Mango'}
{2.0, 35, 55, 'Banana', 'banana', 'Mango'}
{2.0, 35, 55, 'Banana', 'banana', 'Mango'}

In [ ]:
strm={2.0, 35, 'Apple', 'Banana', 'Mango', 55, 'banana'}

val=strm.pop() # here pop can also  be used.but we cant predict the popped value
print(strm)
print(val)

{35, 55, 'Apple', 'Banana', 'banana', 'Mango'}
2.0

In [ ]:
val1=strm.pop   # here withoit bracketswill  return the address
print(strm)
print(val1)

{35, 55, 'Apple', 'Banana', 'banana', 'Mango'}
<built-in method pop of set object at 0x786fc55a6180>

In [ ]:
#clear()

#empty the set

strm={2.0, 35, 'Apple', 'Banana', 'Mango', 55, 'banana'}
print(strm)

strm.clear()
print(strm)

{2.0, 35, 55, 'Apple', 'Banana', 'banana', 'Mango'}
set()

In [ ]:
strm={2.0, 35, 'Apple', 'Banana', 'Mango', 55, 'banana'}

print(strm)
del strm
print(strm)  # throws error because set deleted from meory

{2.0, 35, 55, 'Apple', 'Banana', 'banana', 'Mango'}

NameError: ignored

In [ ]:
#Loop i sets
strm={2.0, 35, 'Apple', 'Banana', 'Mango', 55, 'banana'}
for x in strm:
    print(x)

2.0
35
55
Apple
Banana
banana
Mango

In [ ]:
strm={2.0, 35, 'Apple', 'Banana', 'Mango', 55, 'banana'}
print( "Banana" in strm)

True

In [ ]:
# Set COmprehension

strm={2.0, 35, 'Apple', 'Banana', 'Mango', 55, 'banana'}

{print(x) for x in strm}

2.0
35
55
Apple
Banana
banana
Mango

{None}

**Join multiple sets**

In [ ]:
# union()

#Union used to join 2 sets

set1={"Apple","Mangoes",123,34.54,True}
set2={"bamboo","Table",True,False,45}

set3=set1.union(set2)  #Join set2  with set1 and return new set to set3 by keeping duplicated elements in either of the set..
print(set1)
print(set3)

{True, 34.54, 'Apple', 'Mangoes', 123}
{False, True, 34.54, 'Apple', 'bamboo', 45, 'Table', 'Mangoes', 123}

In [ ]:
#update()
#updates the set

set1={"Apple","Mangoes",123,34.54,True}
set2={"bamboo","Table",True,False,45}

set1.update(set2) # update set1 wth set2 by removing duplicates
print(set1)

{False, True, 34.54, 'Apple', 'Mangoes', 45, 'bamboo', 'Table', 123}

In [ ]:
#intesrction_update()
# keeps duplicates

set1={"Apple","Mangoes",123,34.54,True}
set2={"bamboo","Table",True,False,45,123}

set1.intersection_update(set2) # keeps duplicate in both sets in set1
print(set1)
print(set2)

{True, 123}
{False, True, 'bamboo', 'Table', 123, 45}

In [ ]:
#intersection()
#intersection will return duplicates in new set

set1={"Apple","Mangoes",123,34.54,True}
set2={"bamboo","Table",True,False,45,123}

set3=set1.intersection(set2) # creates new set with all duplicates
print(set3)

{True, 123}

In [ ]:
#symmetric_difference_update()
# updates set with the differnece values in given sets

set1={"Apple","Mangoes",123,34.54,True}
set2={"bamboo","Table",True,False,45,123}

set1.symmetric_difference_update(set2)
print(set1)   # updates the set with non common values

{False, 34.54, 'Apple', 'Mangoes', 45, 'bamboo', 'Table'}

In [ ]:
#Symmetric difference()

# returns to new set with symmetric difference

set1={"Apple","Mangoes",123,34.54,True}
set2={"bamboo","Table",True,False,45,123}

set3=set1.symmetric_difference(set2)
print(set3)

{False, 'bamboo', 34.54, 'Apple', 'Mangoes', 45, 'Table'}

**Difference Between union(), symmetric_difference(), intersection()**

union()  will join 2 sets by removing duplicates in either of the set

intersection() will result common/duplicate values

symmetric_difference()  will result by removing all duplicate elements

In [ ]:
# example

a={1,2,3,4}
b= {4,5,6,7}

print(a.union(b))  # prints value 4 only once

print(a.intersection(b))  # prints 4 only

print(a.symmetric_difference(b)) # prints all values from both sets except 4

{1, 2, 3, 4, 5, 6, 7}
{4}
{1, 2, 3, 5, 6, 7}

In [ ]:
set1={"Apple","Mangoes",123,34.54,True}
set2={"bamboo","Table",True,1,False,45,123}

set1.symmetric_difference(set2)  #True and 1 will be same.
print(set1)

{True, 34.54, 'Apple', 'Mangoes', 123}

**set methods**

In [ ]:
#add()

set1={"Apple","Mangoes",123,34.54,True}
set2={"bamboo","Table",True,False,45,123}

set1.add("Cherry")# adds an element to set
print(set1)

{True, 34.54, 'Apple', 'Mangoes', 'Cherry', 123}

In [ ]:
set1.add(set2)

add can add element only

TypeError: ignored

In [ ]:
#clear()

set1={"Apple","Mangoes",123,34.54,True}

x=set1.clear()  # clears allelements in set

print(x)

None

In [ ]:
#copy()

set1={"Apple","Mangoes",123,34.54,True}
x=set1.copy()  # Returns copies of set
print(x)
print(set1.copy())

{True, 34.54, 'Apple', 'Mangoes', 123}
{True, 34.54, 'Apple', 'Mangoes', 123}

In [ ]:
#difference()

#differences betweeen sets.

set1={"Apple","Mangoes",123,34.54,True}
set2={"bamboo","Table",True,False,45,123}

x=set1.difference(set2)  # Returns the difference items in set1 only, not in set2
y=set2.difference(set1) # Returns the difference items in set 2 only, not in set1

print(x)
print(y)

{34.54, 'Apple', 'Mangoes'}
{False, 'Table', 45, 'bamboo'}

In [ ]:
# difference_update()

set1={"Apple","Mangoes",123,34.54,True}
set2={"bamboo","Table",True,False,45,123}

set1.difference_update(set2)
# difference values are removed and remainign values are stored in set1
print(set1)
x=set1.difference_update(set2)
#cant store.t=returns null
print(x)

set2.difference_update(set1)
#difference values are stored in set2
print(set2)

{34.54, 'Apple', 'Mangoes'}
None
{False, True, 'bamboo', 'Table', 123, 45}

**The major difference between  difference() and difference_update()**

difference() method stores output in a variable

difference_update() cant store values in , where as it stores the target set by replacing its originalvalues

In [ ]:
#discard()
# removes the particular itemin the set

set1={"Apple","Mangoes",123,34.54,True}

set1.discard(123) # removes from set
print(set1)

{True, 34.54, 'Mangoes', 'Apple'}

In [ ]:
set1={"Apple","Mangoes",123,34.54,True}
set2={"bamboo","Table",True,False,45,123}

set1.discard("Apple")
set1.remove("Mangoes")
print(set1)

{True, 34.54, 123}

In [ ]:
set1={"Apple","Mangoes",123,34.54,True}
#set2={"bamboo","Table",True,False,45,123}

x=set1.discard(55)  # prints none
print(x)

None

In [ ]:
set1={"Apple","Mangoes",123,34.54,True}
#set2={"bamboo","Table",True,False,45,123}

x=set1.remove(55) # throws error
print(x)

KeyError: ignored

In [ ]:
#intersection()
# returns similar values in sets

set1={"Apple","Mangoes",123,34.54,True,45}
set2={"bamboo","Table",True,False,45,123}
set3={54,45}

x=set1.intersection(set2,set3) # sends the output as common value
print(x)

{45}

In [ ]:
set1={"Apple","Mangoes",123,34.54,True}
set2={"bamboo","Table",True,False,45,123}
set3={54,45}

print(set1.intersection(set2,set3)) # no common value

set()

In [ ]:
#intersection update

set1={"Apple","Mangoes",123,34.54,True,45}
set2={"bamboo","Table",True,False,45,123}
set3={54,45}

print(set1)
print(set2)
print(set3)
print()

set1.intersection_update(set2,set3)
print(set1)

{True, 34.54, 'Mangoes', 123, 'Apple', 45}
{False, True, 'Table', 123, 'bamboo', 45}
{45, 54}

{45}

**The difference between intersection() and intersection_update()**

intersection() returns comon value in new set

intersection_update() returns the common value in target existed set by removing its native values

In [ ]:
#isdisjoint()
# If no common items in givens sets it returns true

set1={"Apple","Mangoes",123,34.54,True}
set2={"bamboo","Table",True,False,45,123}
set3={"a','b",'c'}

x=set1.isdisjoint(set2)  # returns False if common elements are there
print(x)

y=set2.isdisjoint(set3)  # returns true if common elements are not there
print(y)

False
True

In [ ]:
#issubset()

# Returns true if a set is subset of another set, else False

set1={"Apple","Mangoes",'Bananas'}

set3={"Bananas","Mangoes"}

x=set1.issubset(set3)
y=set3.issubset(set1)
print(x)
print(y)

False
True

In [ ]:
x   =   {1,2,3,4,5,6}
y   =   {2,3,4}

print(x.issubset(y))  # Returns False because all elements in x are not present in y
print(y.issubset(x))    # Returns True becaue allelements in y are present in x

False
True

In [ ]:
#issuperset()

#Checks if a set is superset of given set

In [ ]:
#issubset()

# Returns true if a set is subset of another set, else False

x   =   {1,2,3,4,5,6}
y   =   {2,3,4}

a=x.issuperset(y)  # checks is x is super set of y, here true  becasue all elements in y are present in x
b=y.issuperset(x)   # False because all  elements in x are not present in y
print(a)
print(b)

True
False

In [ ]:
#pop
#Returns the removed item from the set

x   =   {1,2,3,4,5,6}
y   =   {2,3,4}

print(x.pop())  # Returns randomgly selected item removed from set. It willnot take any argument

1

In [ ]:
x   =   {1,2,3,4,5,6}
y   =   {2,3,4}

z=y.pop(2)  #Throw error,becasue dont take any argument
print(z)

TypeError: ignored

In [ ]:
# Remove
#Remove method removes specific element form the given set


x   =   {1,2,3,4,5,6}
y   =   {2,3,4}

print(x)
z=x.remove(4) # removes 4 from x
print(z)
print(x)

{1, 2, 3, 4, 5, 6}
None
{1, 2, 3, 5, 6}

In [ ]:
x   =   {1,2,3,4,5,6}
y   =   {2,3,4}

z=x.discard(4)
print(z)

None

In [ ]:
#Difference between discard() and remove() methods

# discard() dont throw error if item not found
# remove() throws error if item not found

x   =   {1,2,3,4,5,6}
y   =   {2,3,4}


a=y.discard(44)


print(a)

None

In [ ]:
z=x.remove(44)  # thorws error if item not  found
print(z)

KeyError: ignored

In [ ]:
#symmetric_difference

set1={"Apple","Mangoes",'Bananas'}

set2={"Bananas","Mangoes"}

z=set1.symmetric_difference(set2)  # All itemsexcept common items
print(z)

{'Apple'}

In [ ]:
set1={"Apple","Mangoes",'Bananas'}

set3={"Bananas","Mangoes"}

print(set1)
set1.symmetric_difference_update(set2)  #Replaces original set1 with   by difference items by removing common items
print(set1)

{'Bananas', 'Mangoes', 'Apple'}
{'Apple'}

In [ ]:
#union()

set1={"Apple","Mangoes",123,34.54,True}
set2={"bamboo","Table",True,False,45,123}
set3={"a','b",'c'}

result=set1.union(set2,set3) # combines set1 with set2 and set3 by removing duplicates occurance more than once
print(result)

{False, True, 34.54, 'Apple', 'bamboo', 'c', 45, 'Mangoes', "a','b", 123, 'Table'}

In [ ]:
#update

set1={"Apple","Mangoes",123,34.54,True}
set2={"bamboo","Table",True,False,45,123}
set3={"a','b",'c'}

print(set1)
set1.update(set2,set3) #updates set1 with set2,set3
print(set1)

{True, 34.54, 'Apple', 123, 'Mangoes'}
{False, True, 34.54, 'Apple', 'bamboo', 'c', 45, 'Mangoes', "a','b", 123, 'Table'}

# **Dictionaries**

dictionaries are used to store data values in key: key value pair . Also called it as mapping.

After python 3.7 dictionaries are ordered  means the sequence cant be changed and can  be accessible using indexing[].

Dictionaries are  mutable or changeable  means we can add,delete items

Dictionaries are not allow duplicates means we can not be have same key:keyValue pair notmorethan once

Syntax: {key:keyvalue}

**Dictionaries are ordered, changeable/mutable , not allow duplicates**

In [ ]:
my_dct={"Brand":"Honda","Model":"City","year":2023,"Green_cert":True}

print(my_dct)

{'Brand': 'Honda', 'Model': 'City', 'year': 2023, 'Green_cert': True}

In [ ]:
#len()
my_dct={"Brand":"Honda","Model":"City","year":2023,"Green_cert":True}
print(len(my_dct))  #length of dictionary

4

In [ ]:
#type()

my_dct={"Brand":"Honda","Model":"City","year":2023,"Green_cert":True}
print(type(my_dct))

<class 'dict'>

In [ ]:
#dictionary Constructor
#dict()...  create a dictionary

my_dct=dict(Name="Raj",Age=36)
print(my_dct)

{'name': 'Raj', 'Age': 36}

**Data Types in Python**

![2023-10-24 (1).png]()

In [ ]:
#Access Items

my_dct={"Brand":"Honda","Model":"City","year":2023,"Green_cert":True}

x=my_dct['Model']   # Here we are calling using index value []
print(x)
print(my_dct['Model'])

City
City

In [ ]:
#get()
#To access the Value

my_dct={"Brand":"Honda","Model":"City","year":2023,"Green_cert":True}
[print(my_dct.get("Model"))]
x=my_dct.get('year')  # Here we are calling instead of index , we are using get() method
print(x)

City
2023

**Difference between my_dct['Model']  and my_dct.get("Model")**

my_dct['Model']   >> If values exists it returns value else returns error

my_dct.get("Model")  >> if value doesnot exists it wiont throw error. Just retuns NONE

```
# This is formatted as code
```

In [ ]:
my_dct={"Brand":"Honda","Model":"City","year":2023,"Green_cert":True}

x=my_dct.get('month')  # Here it sends output as none, because month doesnot exists
print(x)

y= my_dct['month']  # here output throws error, because month doesnot exists
print(y)

None

KeyError: ignored

In [ ]:
#keys()
# To Accessthe keys

my_dct={"Brand":"Honda","Model":"City","year":2023,"Green_cert":True}
x=my_dct.keys()  #Toaccess the keys
print(x)

dict_keys(['Brand', 'Model', 'year', 'Green_cert'])

In [ ]:
# Add an element to dictionary

my_dct={"Brand":"Honda","Model":"City","year":2023,"Green_cert":True}

my_dct['color'] ='red'   #Adds new key with keyValue
print(my_dct)

{'Brand': 'Honda', 'Model': 'City', 'year': 2023, 'Green_cert': True, 'color': 'red'}

In [ ]:
#values()

#values() method returns keyvalue


my_dct={"Brand":"Honda","Model":"City","year":2023,"Green_cert":True}

print(my_dct.values())

print(my_dct['Brand'] == 'Honda')

x=(my_dct['Brand'] == 'Honda')

y=my_dct['Brand'] == 'Honda'

print(y)
print(x)

dict_values(['Honda', 'City', 2023, True])
True
True
True

In [ ]:
#By default it checks key only

spam={'x':'cat'}
print('cat' in spam)     #By default it checks key only
print('cat' in spam.keys()) #By default it checks key only

spam={'cat':'x'}
print('cat' in spam)
print('cat' in spam.keys())

False
False
True
True

In [ ]:
#By default it checks key only

spam={'x':'cat'}

spam['cat'] ='dog'
print(spam)

spam1={'cat':'x'}
spam1['cat'] ='fox'
print(spam1)

{'x': 'cat', 'cat': 'dog'}
{'cat': 'fox'}

In [ ]:
#By default it checks key only

spam={'x':'cat'}
print('cat' in spam)     #By default it checks key only
print('cat' in spam.values()) # it checks key values only

spam={'cat':'x'}
print('cat' in spam)   # By defaultit checks keys only
print('cat' in spam.values())  # Here it checks key value

False
True
True
False

In [ ]:
#By default it checks key only

spam={'x':'cat'}

spam['x'] ='dog'   #Changing key value
print(spam)

spam1={'cat':'x'}
spam1['cat'] ='fox' #Changing key value
print(spam1)

{'x': 'dog'}
{'cat': 'fox'}

In [ ]:
# Change dictionary values

my_dct={"Brand":"Honda","Model":"City","year":2023,"Green_cert":True}

my_dct['Green_cert'] ='False'  # Changes value
my_dct['engine cc'] = 3230 #Adds item

print(my_dct)
print()
print(my_dct.keys)
print()
x=my_dct.keys()
print(x)


print(my_dct.values)
print()
y=my_dct.values()
print(y)

{'Brand': 'Honda', 'Model': 'City', 'year': 2023, 'Green_cert': 'False', 'engine cc': 3230}

<built-in method keys of dict object at 0x7e9d0fc48400>

dict_keys(['Brand', 'Model', 'year', 'Green_cert', 'engine cc'])
<built-in method values of dict object at 0x7e9d0fc48400>

dict_values(['Honda', 'City', 2023, 'False', 3230])

In [ ]:
#Items()

#Returns dictionary as tuple

my_dct={"Brand":"Honda","Model":"City","year":2023,"Green_cert":True}

print(my_dct.items())  #prints dictionary as tuple

dict_items([('Brand', 'Honda'), ('Model', 'City'), ('year', 2023), ('Green_cert', True)])

In [ ]:
#converts dictionary to tuple then list

my_dct={"Brand":"Honda","Model":"City","year":2023,"Green_cert":True}

t1=my_dct.items()  # converted to tuple
print(*t1)  #Prints tuple
print(type(t1))

(a,*b)=t1  #  Accesing all tuple items from dictionary
print(a)
print(type(a))
print(b)   #Access all items to list
print(type(b))

('Brand', 'Honda') ('Model', 'City') ('year', 2023) ('Green_cert', True)
<class 'dict_items'>
('Brand', 'Honda')
<class 'tuple'>
[('Model', 'City'), ('year', 2023), ('Green_cert', True)]
<class 'list'>

In [ ]:
my_dct={"Brand":"Honda","Model":"City","year":2023,"Green_cert":True}

my_dct['country'] ='Japan'

print(my_dct)

{'Brand': 'Honda', 'Model': 'City', 'year': 2023, 'Green_cert': True, 'country': 'Japan'}

In [ ]:
my_dct={"Brand":"Honda","Model":"City","year":2023,"Green_cert":True}

x=my_dct.items()
print(type(x))

my_dct['country']='Japan'

print(my_dct)
print()

print(x)

<class 'dict_items'>
{'Brand': 'Honda', 'Model': 'City', 'year': 2023, 'Green_cert': True, 'country': 'Japan'}

dict_items([('Brand', 'Honda'), ('Model', 'City'), ('year', 2023), ('Green_cert', True), ('country', 'Japan')])

In [ ]:
#Checks if key exists

my_dct={"Brand":"Honda","Model":"City","year":2023,"Green_cert":True}
{"Brand" in my_dct}
{'brand' in my_dct}

{False}

In [ ]:
#Change Items in dictionary

my_dct={"Brand":"Honda","Model":"City","year":2023,"Green_cert":True}
print(my_dct)
print()

my_dct['year'] =2021

print(my_dct)

{'Brand': 'Honda', 'Model': 'City', 'year': 2023, 'Green_cert': True}

{'Brand': 'Honda', 'Model': 'City', 'year': 2021, 'Green_cert': True}

In [ ]:
#Update dictionary

my_dct={"Brand":"Honda","Model":"City","year":2023,"Green_cert":True}

print(my_dct)
print()
my_dct.update({"Model":"City VTZ"})

print(my_dct)

{'Brand': 'Honda', 'Model': 'City', 'year': 2023, 'Green_cert': True}

{'Brand': 'Honda', 'Model': 'City VTZ', 'year': 2023, 'Green_cert': True}

**Remove Items**

Removes items fro the dictionary

In [ ]:
#pop()
#Removes specific KEY from the dictionary
#Syntax pop(item)

my_dct={"Brand":"Honda","Model":"City","year":2023,"Green_cert":True}

x=my_dct.pop("Green_cert")   #removes  KEY
print(my_dct)
print(x)
print()

y=my_dct.pop("City")   # Error because pop only accept KEY only not Value
print(y)
print(my_dct)

{'Brand': 'Honda', 'Model': 'City', 'year': 2023}
True

KeyError: ignored

In [ ]:
#popitem()
#Removes last inserted Item only

my_dct={"Brand":"Honda","Model":"City","year":2023,"Green_cert":True}

my_dct.update({"Brand":"Hyundai"}) # updates dictionary

print(my_dct)
print(my_dct.popitem())  #Removes last item from dictionary

{'Brand': 'Hyundai', 'Model': 'City', 'year': 2023, 'Green_cert': True}
('Green_cert', True)

In [ ]:
#clear()

my_dct={"Brand":"Honda","Model":"City","year":2023,"Green_cert":True}

my_dct.clear()   # clears item in dictioanry
print(my_dct)

{}

In [ ]:
#del

my_dct={"Brand":"Honda","Model":"City","year":2023,"Green_cert":True}
del(my_dct)  # Deletes dictioary from memory

print(my_dct) #throw error

NameError: ignored

In [ ]:
#del

my_dct={"Brand":"Honda","Model":"City","year":2023,"Green_cert":True}

del my_dct['Brand'] # removes specified KEY


my_dct

KeyError: ignored

In [ ]:
#LOOP in Dictionaries
#By default it prints key only

my_dct={"Brand":"Honda","Model":"City","year":2023,"Green_cert":True}

for i in my_dct:  #print key only
    print(i)

Brand
Model
year
Green_cert

In [ ]:
#LOOP

my_dct={"Brand":"Honda","Model":"City","year":2023,"Green_cert":True}

for i in my_dct.keys():
    print(i)

Brand
Model
year
Green_cert

In [ ]:
#LOOP

my_dct={"Brand":"Honda","Model":"City","year":2023,"Green_cert":True}

for i in my_dct.values():  #prints keyValues() only
    print(i)

Honda
City
2023
True

In [ ]:
#LOOP

my_dct={"Brand":"Honda","Model":"City","year":2023,"Green_cert":True}

for i in my_dct.items():  # prints items only
    print(i)

('Brand', 'Honda')
('Model', 'City')
('year', 2023)
('Green_cert', True)

In [ ]:
#LOOP

my_dct={"Brand":"Honda","Model":"City","year":2023,"Green_cert":True}

for x,y in my_dct.items():
    print(x,y)

Brand Honda
Model City
year 2023
Green_cert True

In [ ]:
#LOOP

my_dct={"Brand":"Honda","Model":"City","year":2023,"Green_cert":True}

for x,y in my_dct.items():
    print("Keys are::",x,end="   ")
    print("Key Values are::",y)

Keys are:: Brand   Key Values are:: Honda
Keys are:: Model   Key Values are:: City
Keys are:: year   Key Values are:: 2023
Keys are:: Green_cert   Key Values are:: True

In [ ]:
#copy()
#copies one dictionary to another

my_dct1={"Brand":"Honda","Model":"City","year":2023,"Green_cert":True}



my_dct2=my_dct1.copy()
print(my_dct1)
print(my_dct2)

print(id(my_dct1))  # Different memory locaiton
print(id(my_dct2))  # different memory location

del my_dct1
print(my_dct2)

{'Brand': 'Honda', 'Model': 'City', 'year': 2023, 'Green_cert': True}
{'Brand': 'Honda', 'Model': 'City', 'year': 2023, 'Green_cert': True}
139213039476864
139213038834368
{'Brand': 'Honda', 'Model': 'City', 'year': 2023, 'Green_cert': True}

In [ ]:
my_dct1={"Brand":"Honda","Model":"City","year":2023,"Green_cert":True}

my_dct2=my_dct1
print(my_dct2)

my_dct1["Country"] ='Japan'

print(my_dct1)
print(my_dct2)

print(id(my_dct1))  # same memory location
print(id(my_dct2))  #same memory location


del my_dct1

print(my_dct2)

{'Brand': 'Honda', 'Model': 'City', 'year': 2023, 'Green_cert': True}
{'Brand': 'Honda', 'Model': 'City', 'year': 2023, 'Green_cert': True, 'Country': 'Japan'}
{'Brand': 'Honda', 'Model': 'City', 'year': 2023, 'Green_cert': True, 'Country': 'Japan'}
139213038096000
139213038096000
{'Brand': 'Honda', 'Model': 'City', 'year': 2023, 'Green_cert': True, 'Country': 'Japan'}

**Difference between copy()  and assignment(=)operator**

copy method create new varibale with 2 different seperaate memory location.

=  will refernce same memory location

In [ ]:
#dict()
# Dictionary Constructor
# create dictionary

my_dct1={"Brand":"Honda","Model":"City","year":2023,"Green_cert":True}

my_dct2=dict(my_dct1)  #creates a new dictionary

print(my_dct1)
print(my_dct2)

x=id(my_dct1)
y=id(my_dct2)

print(x,"\n",y)

{'Brand': 'Honda', 'Model': 'City', 'year': 2023, 'Green_cert': True}
{'Brand': 'Honda', 'Model': 'City', 'year': 2023, 'Green_cert': True}
139213038105920
 139213039471488

**Dictionary Constructor**

dict()  converts any list,tuple, dictionary, set to dictionary

But the format should be key() and value() pair

In [ ]:
#dict()  Constructor
#converts list to dictionary

ls=[['f_name','Shivaprrasad'],['l_name','Sunkarranam'],['m_name','nil']]

print(ls)

# converts to dictionary

dct=dict(ls)
print(dct)
print(type(dct))

print(dct.items())
print(dct.keys())
print(dct.values())

[['f_name', 'Shivaprrasad'], ['l_name', 'Sunkarranam'], ['m_name', 'nil']]
{'f_name': 'Shivaprrasad', 'l_name': 'Sunkarranam', 'm_name': 'nil'}
<class 'dict'>
dict_items([('f_name', 'Shivaprrasad'), ('l_name', 'Sunkarranam'), ('m_name', 'nil')])
dict_keys(['f_name', 'l_name', 'm_name'])
dict_values(['Shivaprrasad', 'Sunkarranam', 'nil'])

In [ ]:
#dict()
# converts tuple to dictionary

tp=(('f_name','Shivaprrasad'),('l_name','Sunkarranam'),('m_name','nil'))

print(tp)
print(type(tp))
print()

# converts to dictionary

dct=dict(tp)
print(dct)
print(type(dct))
print()

print(dct.items())
print(dct.keys())
print(dct.values())

(('f_name', 'Shivaprrasad'), ('l_name', 'Sunkarranam'), ('m_name', 'nil'))
<class 'tuple'>

{'f_name': 'Shivaprrasad', 'l_name': 'Sunkarranam', 'm_name': 'nil'}
<class 'dict'>

dict_items([('f_name', 'Shivaprrasad'), ('l_name', 'Sunkarranam'), ('m_name', 'nil')])
dict_keys(['f_name', 'l_name', 'm_name'])
dict_values(['Shivaprrasad', 'Sunkarranam', 'nil'])

In [ ]:
#Converts set to dictionary

st={('f_name','Shivaprrasad'),('l_name','Sunkarranam'),('m_name','nil')}

print(st)
print(type(st))
print()

# converts to dictionary

dct=dict(st)
print(dict(dct))
print(dct)
print(type(dct))
print()

print(dct.items())
print(dct.keys())
print(dct.values())

{('f_name', 'Shivaprrasad'), ('l_name', 'Sunkarranam'), ('m_name', 'nil')}
<class 'set'>

{'f_name': 'Shivaprrasad', 'l_name': 'Sunkarranam', 'm_name': 'nil'}
{'f_name': 'Shivaprrasad', 'l_name': 'Sunkarranam', 'm_name': 'nil'}
<class 'dict'>

dict_items([('f_name', 'Shivaprrasad'), ('l_name', 'Sunkarranam'), ('m_name', 'nil')])
dict_keys(['f_name', 'l_name', 'm_name'])
dict_values(['Shivaprrasad', 'Sunkarranam', 'nil'])

**Nested Dictionaries**

In [ ]:
#Nested Dictionaries

main_dc={
    "nd1":{"child1":"Ram", "born":2020},
    "nd2":{"child2":"Shyam","born":2019},
    "nd3":{"child3":"Krishn","born":2015}
    }

print(main_dc)

{'nd1': {'child1': 'Ram', 'born': 2020}, 'nd2': {'child2': 'Shyam', 'born': 2019}, 'nd3': {'child3': 'Krishn', 'born': 2015}}

In [ ]:
main_dc= {
    "nd1":{"child1":"Ram","born":2020},
    "nd2":{"child2":"Shyam","born":2019}
                }

print(main_dc["nd1"]["child1"],main_dc["nd1"]["born"])
print(main_dc["nd2"]["child2"],main_dc["nd2"]["born"])

Ram 2020
Shyam 2019

In [ ]:
main_dc={
    "nd1":{"child1":"Ram","born":2020},
    "nd2":{"child2":"Shyam","born":2019}
}

print(main_dc['nd1']['born'])

2020

**Dictionary Methods**

In [ ]:
#clear()    Removes allelements from the dictionary
main_dc={
    "nd1":{"child1":"Ram","born":2020},
    "nd2":{"child2":"Shyam","born":2019}
}

main_dc.clear() # clears elements from main_dc
print(main_dc)

{}

In [ ]:
#copy()

main_dc={
    "nd1":{"child1":"Ram","born":2020},
    "nd2":{"child2":"Shyam","born":2019}
}

dup=main_dc.copy()
print(dup)

{'nd1': {'child1': 'Ram', 'born': 2020}, 'nd2': {'child2': 'Shyam', 'born': 2019}}

In [ ]:
#fromkeys()

#Creates new dictionary from another dictionary with specified keys and values
#syntax  dict.fromkeys(key.value)

main_dc={
    "nd1":{"child1":"Ram","born":2020},
    "nd2":{"child2":"Shyam","born":2019}
}

x=dict.fromkeys(main_dc,9) # default value is 9

print(x)
print(type(x))

y=dict.fromkeys(main_dc,main_dc["nd2"]["child2"])
print(y)

{'nd1': 9, 'nd2': 9}
<class 'dict'>
{'nd1': 'Shyam', 'nd2': 'Shyam'}

In [ ]:
# get()
# Returns the key and value from a dictionary
# syntax   dictonary.get(key,value)

main_dc={
    "nd1":{"child1":"Ram","born":2020},
    "nd2":{"child2":"Shyam","born":2019}
}

print(main_dc.get('nd1'))

{'child1': 'Ram', 'born': 2020}

In [ ]:
#items()

dct1={'f_name':'Shivaprrasad','l_name':'Sunkarranam','m_name':'nil'}
print(type(dct1))

fetch=dct1.items()

print(type(fetch))
print(fetch)

dct1['m_name'] ='S'
print(dct1)

<class 'dict'>
<class 'dict_items'>
dict_items([('f_name', 'Shivaprrasad'), ('l_name', 'Sunkarranam'), ('m_name', 'nil')])
{'f_name': 'Shivaprrasad', 'l_name': 'Sunkarranam', 'm_name': 'S'}

In [ ]:
#keys
# returns keys of a dictionary as list

dct1={'f_name':'Shivaprrasad','l_name':'Sunkarranam','m_name':'nil'}

print(dct1.keys())

dict_keys(['f_name', 'l_name', 'm_name'])

In [ ]:
#values

dct1={'f_name':'Shivaprrasad','l_name':'Sunkarranam','m_name':'nil'}

print(dct1.values())  #sends output as tuplewith list format
print(type(dct1.values()))

dct1['m_name'] = 'S'
print(dct1)

dict_values(['Shivaprrasad', 'Sunkarranam', 'nil'])
<class 'dict_values'>
{'f_name': 'Shivaprrasad', 'l_name': 'Sunkarranam', 'm_name': 'S'}

In [ ]:
#pop

#Removes specified from dictionary

dct1={'f_name':'Shivaprrasad','l_name':'Sunkarranam','m_name':'nil'}

dct1.pop('m_name')
print(dct1)

{'f_name': 'Shivaprrasad', 'l_name': 'Sunkarranam'}

In [ ]:
dct1={'f_name':'Shivaprrasad','l_name':'Sunkarranam','m_name':'nil'}

x=dct1.pop('m_name')
print(x)

nil

In [ ]:
# popitem()
# Removes last item  from dictionary

dct1={'f_name':'Shivaprrasad','l_name':'Sunkarranam','m_name':'nil'}

print(dct1.popitem()) # returns last removed item

('m_name', 'nil')

In [ ]:
#setdefault()
#Setdefault() returns with the specified item

dct1={'f_name':'Shivaprrasad','l_name':'Sunkarranam','m_name':'nil'}

x=dct1.setdefault('m_name','nil')
print(x)

nil

In [ ]:
dct1={'f_name':'Shivaprrasad','l_name':'Sunkarranam','m_name':'nil'}

x=dct1.setdefault('Address','Vizag')
print("Default  Address for All is::",x)
print(dct1)
print(dct1['Address'])

Default  Address for All is:: Vizag
{'f_name': 'Shivaprrasad', 'l_name': 'Sunkarranam', 'm_name': 'nil', 'Address': 'Vizag'}
Vizag

In [ ]:
#update

dct1={'f_name':'Shivaprrasad','l_name':'Sunkarranam','m_name':'nil'}

dct1.update({'Address':'Vizag'})
print(dct1)

{'f_name': 'Shivaprrasad', 'l_name': 'Sunkarranam', 'm_name': 'nil', 'Address': 'Vizag'}

In [ ]:
spam={'cat':'x'}
spam.update({'color':'Black'})
print(spam)

spam1={'cat':'x','color':'white'}
spam1.update({'color':'Black'})
print(spam1)

{'cat': 'x', 'color': 'Black'}
{'cat': 'x', 'color': 'Black'}

In [ ]:
#update

dct1={'f_name':'Shivaprrasad','l_name':'Sunkarranam','m_name':'nil'}

dct1.update({"Address":"delhi"})
print(dct1)

{'f_name': 'Shivaprrasad', 'l_name': 'Sunkarranam', 'm_name': 'nil', 'Address': 'delhi'}

In [ ]:
#values()#

dct1={'f_name':'Shivaprrasad','l_name':'Sunkarranam','m_name':'nil'}
print(dct1.values())    #Values() returns output as list

dict_values(['Shivaprrasad', 'Sunkarranam', 'nil'])

In [ ]:
#Pretty print

from pprint import pprint

my_dict = {
    'name': 'John Doe',
    'age': 30,
    'address': {
        'street': '123 Main St',
        'city': 'Anytown',
        'zipcode': '12345'
    }
}

# Pretty print the dictionary
pprint(my_dict)

from pprint import pprint

my_dictin={'Name':'Shivaprrasad','Age':40,
           'Address':{
              'Street':'dwarakanagar','city':'Visakhapatnam','state':'Andhrapradesh'}}

pprint(my_dictin)

{'address': {'city': 'Anytown', 'street': '123 Main St', 'zipcode': '12345'},
 'age': 30,
 'name': 'John Doe'}
{'Address': {'Street': 'dwarakanagar',
             'city': 'Visakhapatnam',
             'state': 'Andhrapradesh'},
 'Age': 40,
 'Name': 'Shivaprrasad'}

#IF ..ELSE...ELIF#

**syntax....
if (exp):
    exp
elif:
    exp
else:
    exp
**

In [ ]:
#If ELse Elif

a=10
b=25

if a>b:
    print('a is greater than b')
elif a==b:
    print("A equals to B")
else:
    print('A less than B')

A less than B

In [ ]:
#If Else

a=input("enter Value of A::")
b=input("enter Value of B::")

if a>b:
    print("A is bigger")
elif a==b:
    print("A equals to B")
else:
    print("B greater than A")

enter Value of A::5
enter Value of B::8
B greater than A

In [ ]:
#If Else

a=int(input("enter Value of A::"))
b=int(input("enter Value of B::"))

if a>b:
    print("A is bigger")
elif a==b:
    print("A equals to B")
else:
    print("B greater than A")

print(str(a))
print(str(b))

enter Value of A::5
enter Value of B::8
B greater than A
5
8

In [ ]:
#If Else
# Oneline statement

a=int(input("enter Value of A::"))
b=int(input("enter Value of B::"))

print("A is bigger" if a>b else  "B greater than A")

enter Value of A::5
enter Value of B::8
B greater than A

#Ternary Operators or conditionalExpressions#

one line if  .. else.. staetement

In [ ]:
#Ternary Operators or Cnditional Expressions

a=int(input("enter Value of A::"))
b=int(input("enter Value of B::"))

print('A is bigger') if a >b  else print("A and B same") if a==b else print("B is Bigger")

enter Value of A::5
enter Value of B::8
B is Bigger

In [ ]:
# ex2
# By default value will be taken as string. we need to convert into integer
 #input method takes as string bydefault

a=int(input("Enter value of  A="))
b=int(input("Enter value of  B ="))

print("A is bigger") if a>b else print("A equals to B") if a==b   else  print("B is Bigger")

a=input("Enter value of  A=")
b=input("Enter value of  B =")

print("A is bigger") if a>b else print("A equals to B") if a==b   else  print("B is Bigger")

Enter value of  A=666
Enter value of  B =5555
B is Bigger
Enter value of  A=666
Enter value of  B =5555
A is bigger

In [ ]:
#and operator in if...else..

a=33
b=20
c=36

print("A is bigger") if a>b and a >c  else print("B is bigger") if b>a and  b>c  else print("c is bigger")

c is bigger

In [ ]:
# OR operator

a=18
b=30
c=6

print("eligible for Marriage") if a >25 or b >25 or c >25  else print("Age=",a,b,c)

eligible for Marriage

In [ ]:
#OR operator

a=6
b=9
c=6

if a == b or a >= b:
    print("A and B are same")

elif b == c or b>= c:
    print("B and C are same ")
else:
    print("Check the values>>",a,b,c)

B and C are same

In [ ]:
#NOT

a=26
b=9

if not a>b:
    print("The Bigger is..",b)
else:
    print("Bigger is..",a)

Bigger is.. 26

In [ ]:
#Nested If

a=15
b=9
c=5

if a>b:
    if b >c:
        print("Bigger is ",a)
    else:
        pass
else:
    print("The values are ..",a,b,c)

Bigger is  15

In [ ]:
#pass

#pass used to if there is no argument we use pass to stop throwing an error

a="Hello"
b="Hi"

if ascii(a)==ascii(b):
    print("Both are same")

else:
   pass

#WHILE loop#

To run a set of statement continuously we use while loop

BUt remember we should use increment condition to stop the loop, else it runs continuously

In [ ]:
# While Loop

a=1

while a<=6:

    print(a,end="  ")
    a +=1

1  2  3  4  5  6

In [ ]:
# while Loop

a=1


while a != 5:
    print(a*"*")
    a +=1

*
**
***
****

In [ ]:
#break
# to stop the loop we use  break statement

a=10

while a != 1:
    print(a)
    a -=1
    if a==6:
        break
print("Break Value is...",a)

10
9
8
7
Break Value is... 6

In [ ]:
#break
# to stop the loop we use  break statement

a=10

while a != 1:
    print(a)
    a -=1
    if a==6:

        print("Value is noticed at...",a)
        continue

10
9
8
7
Value is noticed at... 6
6
5
4
3
2

In [ ]:
#break
# to stop the loop we use  break statement

a=10

while a != 6:
    print(a)
    a -=1
else:

    print("loop stops at...",a)

10
9
8
7
loop stops at... 6

#FOR Loops

used to iterate a sequence  or set of statements

In [ ]:
#FOR Loop

fruits=["Apples","Cherrys","Mangoes",123,True]

for x in fruits:
    print(x)

Apples
Cherrys
Mangoes
123
True

In [ ]:
#FOR Loop

fruits=["Apples","Cherrys","Mangoes",123]

for x in fruits:
    print([x])   # Returns each element as list

['Apples']
['Cherrys']
['Mangoes']
[123]

In [ ]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [ ]:
#break
# break the for loop

fruits=["Apples","Cherrys","Mangoes",123]

for x in fruits:


    if x != 123:
        print([x])

    else:
        print("Break Point is..",x)
        break

['Apples']
['Cherrys']
['Mangoes']
Break Point is.. 123

In [ ]:
# continue

fruits=["Apples","Banana","Mangoes",123]

for x in fruits:
    if x != 123:

        continue
    else:
        print("Value of x is..",x)

Value of x is.. 123

In [ ]:
# range()
# iterate loop for renage of given sequence


for i in range(10): # Here range stops at i-1= 10-1=9
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# range

for i in range(2,22):
    print(i,end=" ")

2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21

In [ ]:
# range()

for i in range(1,50,3):
    print(i, end=" '")

1 '4 '7 '10 '13 '16 '19 '22 '25 '28 '31 '34 '37 '40 '43 '46 '49 '

In [ ]:
# else

for i in range(1,23):
    pass
    continue # pass, break and continue are same result.you can use either.
    break
else:
    print("Finshed")
    print("Last i value is..",i)

Finshed
Last i value is.. 22

In [ ]:
# Nested Loops

colors=["blue",'Green',"red"]
fruits=["berrys","apples","papaya"]

for i in range (len(colors)):

    for j in range(len(fruits)):

        print(colors[i]+"  "+fruits[j])
        j +=1
        i +=1
    break

blue  berrys
Green  apples
red  papaya

In [ ]:
colors=["blue",'Green',"red"]
fruits=["berrys","apples","papaya"]

for i in range (len(colors)):

    print(colors[i]+"  "+fruits[i])

blue  berrys
Green  apples
red  papaya

# Functions



*   Function is a block of code runs whenever we call it
*   We can pass data also called it as parameters
*   A function returns data as  a result
*   To create a function we sue a keyword **def**  with function name endng with **:**
*   syntax is **def fun_name():**
*   we must call the function using function name . eg.. **fun-name()**
*   Arguments can be passed inside a function as parameters.eg.. my_func(arg1,arg2,...)

In [ ]:
def my_func():
    print("Welcome to Python Functions")

my_func()

Welcome to Python Functions

In [ ]:
def my_func(a,b,c):
    print("a=",a,"b=",b,"c=",c)

my_func(3,5,7)

a= 3 b= 5 c= 7

In [ ]:
def my_func(a,b,c):
    print(a, b, c)

my_func('Ram', 'laxman','Sita')

Ram laxman Sita

**A parameter is a value which is inside a function**

**An Argument is a value we sent when we call  a function**

def my_func(a,b,c):
    print("a=",a,"b=",b,"c=",c)    # here a,b,c are parameters

my_func(3,5,7)  # 3,5,7 are arguments

In [ ]:
def my_func(a,b,c):
    print("a=",a,"b=",b,"c=",c)

my_func(3,5,'\')  # Will throw an error

SyntaxError: ignored

In [ ]:
# Argument as an expression
def my_func(a,b,c):
    print("a=",a,"b=",b,"c=",c)

my_func(3,5,3+5)

a= 3 b= 5 c= 8

In [ ]:
#Using input Function
def my_func(a,b,c):
    print("a=",a,"b=",b,"c=",c)

my_func(3,5,input("enter Value.."))

enter Value..Ram
a= 3 b= 5 c= Ram

In [ ]:
#Using input Function
def my_func(a,b,c):
    print("a=",a,"b=",b,"c=",c)

my_func(3,5,input('enter Value::'))

enter Value::55
a= 3 b= 5 c= 55

In [ ]:
#PAssing list as argument
def my_func(a,b,c):
    print("a=",a,"b=",b,"c=",c)
    print(c[0:1])
    print(c[0:])

my_func(3,5,["Ram","Shyam"])

a= 3 b= 5 c= ['Ram', 'Shyam']
['Ram']
['Ram', 'Shyam']

In [ ]:
#Passing dictionary as arguments
def my_func(a,b,c):
    print("a=",a,"b=",b,"c=",c)

    print(c.items())
    print(c.keys())
    print(c.values())

my_func(3,5,{"f_name":"Shiva","l_name":"Prrasad"})

a= 3 b= 5 c= {'f_name': 'Shiva', 'l_name': 'Prrasad'}
dict_items([('f_name', 'Shiva'), ('l_name', 'Prrasad')])
dict_keys(['f_name', 'l_name'])
dict_values(['Shiva', 'Prrasad'])

In [ ]:
#PAssing tuple as argument

def my_func(a,b,c):
    print("a=",a,"b=",b,"c=",c)
    print(c[0])

my_func(3,5,("Ram",123,True))

a= 3 b= 5 c= ('Ram', 123, True)
Ram

In [ ]:
#Set as an argument

def my_func(a,b,c):
    print("a=",a,"b=",b,"c=",c)
    print(type(c))
    print(c)   #Removes duplicate in sets

my_func(3,5,{"Ram",123,True,'true',123})

a= 3 b= 5 c= {True, 123, 'true', 'Ram'}
<class 'set'>
{True, 123, 'true', 'Ram'}

**Arbitary Argument *arg**

If we dont know how many arguments to a function we use ***arg** in function parameter

***arg**  returns output as tuple

In [ ]:
# Arbitary Arg

def my_func(*a):
    print("values...",a)

my_func(3,5,7)

values... (3, 5, 7)

In [ ]:
# Arbitary Arg

def my_func(*a):
    print("a=",a,"b=",b,"c=",c)

my_func(3,5,7)

a= (3, 5, 7) b= Hi c= 5

In [ ]:
# Arbitary Arg

def my_func(*a):
    print("a=",a)

my_func("RAM","Shyam","Sita"    )

a= ('RAM', 'Shyam', 'Sita')

In [ ]:
# Arbitary Arg

def my_func(*a):
    print(type(a))  # Tuple as output
    print("Value Accessed at index a[1]::",a[1])
    print(a[2])

my_func("RAM","Shyam","Sita"    )

<class 'tuple'>
Value Accessed at index a[1]:: Shyam
Sita

In [ ]:
# Arbitary Arg

def my_func(*a):
    print("a=",a)  #Tuple as output
    (a,b,c) =a  #unpacking tuple

    print(a)
    print(b)
    print(c)

my_func(input("Enter Name1.."),input("Enter Name2.."),input("Enter Name3..") )

Enter Name1..Ram
Enter Name2..Sita
Enter Name3..True
a= ('Ram', 'Sita', 'True')
Ram
Sita
True

****kwarg**

A keyword argument to send to function, if we dont know how many keywrod argument to passs.

Output returns as dictionary with **{key:keyvalue}**  format

In [ ]:
#**KWARG

In [ ]:
# kwarg

def my_func(**a):
    print("a=",a)  # Output is dictionary
    print()
    print("First Name is.."+a["f_name"])
    print("Last Name is..",a["l_name"])

    print()
    print( "Keys and Values are as..", a.keys(),a.values())
    print()
    print("full Name is..",a["f_name"] +" "+ a["l_name"])
    print()
    print(a.keys())
    print(a.values())

my_func(f_name="Shiva",l_name="Sunkaranam")

a= {'f_name': 'Shiva', 'l_name': 'Sunkaranam'}

First Name is..Shiva
Last Name is.. Sunkaranam

Keys and Values are as.. dict_keys(['f_name', 'l_name']) dict_values(['Shiva', 'Sunkaranam'])

full Name is.. Shiva Sunkaranam

dict_keys(['f_name', 'l_name'])
dict_values(['Shiva', 'Sunkaranam'])

In [ ]:
# Default parameter Value
# if we dont pass any value it will take as default paremeter isnide function

def my_func(country="India"):
    print("Country Accessed is:::",country)

my_func("America")
my_func()                        # By defaultit access country inside function i.e. INDIA
my_func("Germany")

Country Accessed is::: America
Country Accessed is::: India
Country Accessed is::: Germany

In [ ]:
#Return

def my_func(a):
    return a*3

result=my_func(3)
print(result)

9

In [ ]:
#pass
# If no value to return from a function just use pass

def my_func(a=1):
        x=a*3
        if x == 0:  # here x is 0 hence nothig will return .
            pass

        else:
            return x

result=my_func(0), my_func(3), my_func()   # here we didnt pass any value in 3rd function , hence bydefaultit willtake as 1

print(result)

(None, 9, 3)

#RECURSION

recursion is a technique to call a function itself with in the same function

In [ ]:
# Recursion

def my_recur(a):

    if a > 0:

        result=a*'*'
        my_recur(a-1)
        print(result)
    else:
        return ""

my_recur(6)

*
**
***
****
*****
******

In [ ]:
#Recursion

def my_recur(a):

    if a > 0:

        result="*"+str(my_recur(a-1))

        print(result)
    else:
        return ""
    return result
r=my_recur(6)

*
**
***
****
*****
******

In [ ]:
# Recursion

def my_recur(a):

    if a <= 6:

        result=a*"*"
        my_recur(a+1)
        print(result)
    else:
        pass


my_recur(1)

******
*****
****
***
**
*

#LAMBDA FUNCTION

A lambda is a anonymous function it can take any number of arguments,  but can have only one expression

syntax   :: LAMBDA arguments : expression

LAMBDA is a shorest form of a function, which takes any no of arguments   to perform a single operation

In [ ]:
x= lambda a:a+5
print(x(6))

11

In [ ]:
x=lambda a,b: a**b
print(x(3,3))

27

In [ ]:
#lambda function
def myfunc():
    return lambda a:(a+1.5)*(a**1.5)

value=myfunc()
print(value)    # value stores the location of lambda value.
print(value(4)) # outputs the actual value of calculation

<function myfunc.<locals>.<lambda> at 0x79ce518e0a60>
44.0

In [ ]:
#lambda function

def myfunc(n):

    return lambda a:(a+n)*(a**n)

value=myfunc(4) # Here we are storing in the value as lambda expression.

print(myfunc(4)) # Here it prints memory location of lambda value

print(value(4))
print(value(7))   # Here it stores the value of lambda function calculation..

<function myfunc.<locals>.<lambda> at 0x79ce367481f0>
2048
26411

In [ ]:
import math

def myfunc(x):
    n=x
    return lambda a:(a+n)*math.pow(a,n)

value=myfunc(7)  # Passing value of a as 7

print(value(6))  # here 6 is overwritng value of a .initially a=7 , but now a=6

3639168.0

In [ ]:
def myfunc(n):
    return lambda a: (a+n)*(a**n)

value1=myfunc(4)
value2=myfunc(5)

print(value1(1))
print(value2(7))

In [ ]:
#LAMBDA with Recursion

def astrik(num):

    if num > 0:
        x= lambda num:num* "*"+str(astrik(num-1))
        print(x(num))
    else:
        pass
    return ""

in_value=int(input("Enter Number::"))
r=astrik(in_value)

print(type(r))
print(r)

Enter Number::6
*
**
***
****
*****
******
<class 'str'>

In [ ]:
#LAMBDA example

print((lambda a,b: a+b)(3,5))

8

In [ ]:
#LAMBDA even odd

def even_odd(num):
    x=lambda num:((num)%2) == 0
    if x(num):
        print(num, "is even")
    else:
        print(num,"is odd")

even_odd(2)
even_odd(3)
even_odd(5)
even_odd(43)

2 is even
3 is odd
5 is odd
43 is odd

In [ ]:
#LAMBDA len() of string

x=lambda x: len(x)
print(x("helllo"))

6

In [ ]:
#concatenate lists using lambda

a=["ram","shyam"]
b=[111,222]

x=lambda x,y:x+y
print(x(a,b))

y=lambda x,y:len(x+y)
print(y(a,b))

['ram', 'shyam', 111, 222]
4

In [ ]:
#Dictionary using lambda

a={'f_name':"Ram",'l_name':"A"}

x=lambda val:val.values()
z=x(a)
print(z)

y=lambda val1:val1.items()
print(y(a))

dict_values(['Ram', 'A'])
dict_items([('f_name', 'Ram'), ('l_name', 'A')])

#ARRAYS

Python has no seperate arrays.But lists itself can be accessed as arrays. All list funciotnalities willbe same for arrays

#CLASSES

Python is Object Oriented programming

class is an object constructor of object or blueprint of object

class can be defined as **class**  and ends with **:**

In [ ]:
#create a class

class my_class:
    x="hello"

In [ ]:
#create an object

obj1=my_class
#obj1 is object of class named **my_class**

# CONSTRUCTORS

Constructors are specialmethods in python used to initialize objects of a class..  By default __init__()  and __str__() are used as constrcutors.

We can define our own constructors,. Whenever we call an object by default its constructors are invoked.

#  __ init___()   

__init __()  function is called automatically whenever we use class.we need to define all objects and variable s in this function

**self  parameter  represents the current instance of the class.**whenever wherever we define  variable inside a class we use self to define instance of variable  of that class

In [ ]:
#__init()__

class person:
    def __init__(self,name,age):  # self is instance variable of the class

        self.name=name
        self.age=age

p1=person("Ram",55)  # class person assigned to object p1
print(p1)
print(p1.name)
print(p1.age)

<__main__.person object at 0x7b8d60700e50>
Ram
55

#__string __()

string()  function cotrols what to return of an object represented as string.

By defaultit returns object refernece if we do not define string of the object


It defines in a custom class that the instances have been created in that class to be used.for  exampe is given below

In [ ]:
#string
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age

    def __str__(self):
        a=self.name
        b=self.age
        x= f"{a,b}"  # here we are sending the instances a and b to the obj to print
        return x
obj=person("Rama",35)
print(obj)

('Rama', 35)

In [ ]:
#string

class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age

    def __str__(self):
        a=self.name
        b=self.age
        c=a+str(b)
        x= f"{a,b,c}"  # here we are sending the instances a and b to the obj to print

        return x

obj=person("Rama",35)
print(obj)

('Rama', 35, 'Rama35')

In [ ]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age

    def __str__(self):
        return f"{self.name,self.age}"

obj=person("Shiva",35)
print(obj)

('Shiva', 35)

#OBJECT Methods


Methods create inside a class and that class represented by an object is called object methods

In [ ]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age

    def my_func(self):
        print("Name and Age is::"+self.name +"  "+str(self.age) )

obj=person("Shivaprrasad",36)

obj.my_func()

Name and Age is::Shivaprrasad  36

____ init____(self,parameter1,parameter2...)  

self can be anything. Here self represents instance of that class. the scope of that variable is with in the class only. instead of self we can use  any object.

_ __init_ _ _(abc,param1,param2..)

In [ ]:
#example

class person:
    def __init__(instance,param1,param2):
        instance.name=param1
        instance.age=param2
# here we used instance instead of self, and assigned name to param1, age to param2
    def my_func(value):
        print("My Name is::", value.name.upper(), "and Age is ::",value.age )

    '''Here value used instead of self and accessed name and age using value local instance.
                  Accessing name through value.name and age through value.age'''


obj=person("Shivaprrasad_sk",36)
obj.my_func()

My Name is:: SHIVAPRRASAD_SK and Age is :: 36

In [ ]:
#modifying object properties

class person:
    def __init__(instance,param1,param2):
        instance.name=param1
        instance.age=param2
        #print(value.name)  # throws error,becasue we cannot access local variable

    def my_func(value):
        print("My Name is::",value.name,"Age is::",value.age)
        #print("My Name is ::",value.param1)  cant accees.throws error
        # Here we are inheriting the instance variable from the class person name, age

obj=person("Shivaprrasad",36)
obj.age=40   # modifying values from 36 to 40

#obj.param2=39   cant use like this.

obj.my_func()

My Name is:: Shivaprrasad Age is:: 40

In [ ]:
# del
# delete objects

class person:
    def __init__(instance,param1,param2):
        instance.name=param1
        instance.age=param2

    def my_fun(value):
        a=value.name
        b=value.age

        print(a,b)

obj=person("shivaprrasad",36)
obj.my_fun()  # Here we are getting name and age

del obj.age  # deleting attribute age
#obj.my_fun()  # Here we are calling function , but rasie an error because cant print 'b' value.
#print(obj.age) # raises error

del obj
#print(obj) # raises error because obj deleted
print(id(person))  #Here we have deleted the refence obj , but not actual class "person".
# So in memory we can still have access
#print(id(obj))

shivaprrasad 36
100282997707312

In [ ]:
#Acccess the class person after deleting object reference obj

# here we need to access the class by referencing by new creating object.
# We need to passs the new values to  class again

obj2=person("Karthkeyaa",2.6)
obj2.my_fun()

Karthkeyaa 2.6

In [ ]:
#pass

# There is no value or expressions to define inside a class we can use pass.

class person1:
    def __init__(self):
        pass

obj3=person1()
print(obj3)

<__main__.person1 object at 0x7c1fb29f0190>

#Inheritance

Inheritance is the method to acuire all the abilties of another class is called inheritance

**parent class** is the class all properties being inherited from , also calledas base class

**child class** is the class which inherits all its properties from another classor parent class

In [ ]:
#example
# create super class
class inhrt:
    def __init__(own,param1,param2):
        own.name=param1
        own.grade=param2

    def prn(inh):
        print(inh.name,inh.grade)

obj=inhrt('karthkeyaa',"A++")   #passing values to class inhrt
obj.prn()                                  # calling function print(). Here it prints above given values

#create child class

class student(inhrt):
    pass


# Using child class we are accessing the parent class attibutes.
# Here it will inherit the __init__() function

child_obj=student("Sharatth","A+")

"""
Here we are passing values through child class student. so it inherits the values of parent class
by overreiding old values It is inheriting the __init__() function of parent class inhrt
"""
child_obj.prn()

karthkeyaa A++
Sharatth A+

In [ ]:
# using __init__() in child class

class person:
    def __init__(own,param1,param2):
        own.name=param1
        own.age=param2

    def __str__(own):
        a=own.name
        b=own.age
        c="Last Name not defined"
        return f"{a,b,c}"

obj_per=person("Shivaprrasad",45)  #calling parent class

print(obj_per)  #printing parent object reference


class change(person):
    def __init__(native,param3,param4):
        native.newname=param3
        native.newage=param4

    def __str__(inh):
        return f"{inh.newname,inh.newage}"
        #return f"{inh.newname},{inh.age}".
        #Gives an error because it cant access parent class variables
        #It can return only one return function

chl_obj=change("Karthkeyaa",2)  #calling child class by passing vairables to parent class..
print(chl_obj)                  # Here it activates child __init()__ function by over riding parent __init()__

('Shivaprrasad', 45, 'Last Name not defined')
Karthkeyaa

In [ ]:
# adding __init__() to child class

class person:
    def __init__(native,param1,param2):
        native.p_name=param1
        native.p_height=param2


class child(person):

    def __init__(cnative,param1,param2,param3):

        person.__init__(cnative,param1,param2)
        cnative.name=cnative.p_name
        cnative.age=param3
        cnative.height=cnative.p_height



    def __str__(inh):
        """
        inh.name=inh.name
        inh.age=inh.age
        inh.height=inh.height

        """

        return f"{(inh.name), inh.age,  (inh.height)}"
        # Here we have created a custom string. so it should return a value.If we do not return bedefault it return memory location of the object

obj=child("Shivaprrasad",6.5,46)

print(obj)

('Shivaprrasad', 46, 6.5)

In [ ]:
#super()

class parent_class:
    def __init__(parent,name,age):
        parent.p_name=name
        parent.p_age=age

# Above we are passing values of name,age to __init__(). parent is the instance variable of this __init__()
# then we defined p_name and p_age by its instance by assgning name and age
#parent.p_name=name
#parent.p_age=age

class child_class(parent_class):
    def __init__(child,c_name,c_age):
        super().__init__(c_name,c_age)

        child.c_name=child.p_name
        child.c_age=child.p_age

   # here we are creating child class by inheriting the class parent.
   # So child class can access funcitonality of parent class
   # Once we define __init__() in child class it over rides parent __init__()
   # In the child class __init__() we have defined child class instance  by "child" and passed the variables c_name,c_age
   # To access parent class methods and variable we are using super() method.
   # Here we re defined __init__() method using super() and passing and defined same variables c_name,c_age which are defined in child __init__()
   # Here in both the __init__() variables must be same values
   # Now to access variables of parent we are assigning c_name,c_age with child instance by accessing parent variables p_name,p_age
   # child.c_name=child.p_name   Here we are accessing parent varaible p_name with  with child instance to assign parent variable to child variable.
   # child.c_age=child.p_age   assigning parent vraible to child

    def __str__(inh):

        inh.name="RAM"
        inh.age=inh.c_age
        return f"{inh.name},{inh.age}"


    # Always string must return a value
    # Here we are passing child_class instance "child " to __str__() constrcutors
    # here we are passing our own functioning
    # in __str__() we have changed the value of name

obj=child_class("Shivaprrasad",33)

print(obj)

RAM,33

**Whenever we call a print() method  in python first ofit will check is there any __str__() method defined.if so it follows the custom __str__() method. else if not found it executes  default __str__() method defined in python

In [ ]:
#SUPER()
#super() class bydefault inherit allof its values from parent class

class student:
    def __init__(pnative,name,marks):
        pnative.s_name=name
        pnative.s_marks=marks
        pnative.ini_name="Sunkarranam"

class grade(student):
    def __init__(cnative,name,marks,grade):
        super().__init__(name,marks)

        cnative.grade=grade #local instance
        cnative.name=cnative.s_name #Accessing parent variable  with local instance
        cnative.marks=cnative.s_marks #Accessing parent variable  with local instance
        cnative.initials=cnative.ini_name #Accessing parent variable  with local instance
        middle_name="SS"

        print(" Name::",cnative.s_name,"\n","Initials::",cnative.initials, "\n",
              "Middle Name::", middle_name, "\n", "Marks::",cnative.marks,"\n","Grade::",grade)

    def __str__(inh):  #Defining local instance
        if (inh.marks) > 75:
           return f"Marks obtained are::{inh.marks} which are above 75. Hence {inh.name} Achieved Distinction"
        else:
           return f"Marks obtained are:: {inh.marks}  which are below  75. Hence Not achieved distinction"



casl_obj=grade("Shivaprrasad",85,"A++")
print(casl_obj)
print()

casl_obj=grade("Shivaprrasad",45,"A++")
print(casl_obj)
print()

'''casl_obj=grade(input("Enter Name"),int(input('Enter marks')),input("Enter Grade"))
print()
print(casl_obj)'''
print()

 Name:: Shivaprrasad
 Initials:: Sunkarranam
 Middle Name:: SS
 Marks:: 85
 Grade:: A++
Marks obtained are::85 which are above 75. Hence Shivaprrasad Achieved Distinction

 Name:: Shivaprrasad
 Initials:: Sunkarranam
 Middle Name:: SS
 Marks:: 45
 Grade:: A++
Marks obtained are:: 45  which are below  75. Hence Not achieved distinction

In [ ]:
#super()

class blood_test:
    def __init__(pnative,name,age,value):
        pnative.p_name=name
        pnative.p_age=age
        pnative.p_value=value

        if pnative.p_value>60:
            pnative.p_status="INFECTED"

        else:
            pnative.p_status="SAFE"

class blood_group(blood_test):
    def __init__(cnative,patient_name,patient_age,patient_value,patient_bgroup):
        super().__init__(patient_name,patient_age,patient_value)

        cnative.blood_group=patient_bgroup
        cnative.patient_name=cnative.p_name
        cnative.patient_age=cnative.p_age
        cnative.patient_value=cnative.p_value
        cnative.status=cnative.p_status



    def __str__(inh):

        inh.name=inh.patient_name
        inh.age=inh.patient_age
        inh.value=inh.patient_value
        inh.status=inh.p_status
        inh.blood_group=inh.blood_group

        return f"{inh.name}, {inh.age},{inh.value},{inh.status},{inh.blood_group}"


details=blood_group("RAM",46,33,"B+")

print(details)

RAM, 46,33,SAFE,B+

In [ ]:
#super()

class blood_test:
    def __init__(pnative,name,age,value):
        pnative.p_name="ANIL"
        pnative.p_age=age
        pnative.p_value=value

        if pnative.p_value>60:
            pnative.p_status="INFECTED"

        else:
            pnative.p_status="SAFE"

class blood_group(blood_test):
    def __init__(cnative,patient_name,patient_age,patient_value,patient_bgroup):
        super().__init__(patient_name,patient_age,patient_value)

        cnative.blood_group=patient_bgroup
        cnative.patient_name=cnative.p_name
        cnative.patient_age=cnative.p_age
        cnative.patient_value=cnative.p_value
        cnative.status=cnative.p_status



    def __str__(inh):

        inh.name=inh.patient_name
        inh.age=inh.patient_age
        inh.value=inh.patient_value
        inh.status=inh.p_status
        inh.blood_group=inh.blood_group

        return f"{inh.name}, {inh.age},{inh.value},{inh.status},{inh.blood_group}"


details=blood_group("Ram",46,33,"B+")

print(details)

ANIL, 46,33,SAFE,B+

In [ ]:
#writing custom  __init__() methods

class person:
    def __init__(self,name,age):
        self.__custom__(name,age)

class child(person):

    def __custom__(self,name,age):
        self.p_name=name
        self.p_age=age
    def __str__(self):
        return f'{self.p_name},{self.p_age}'

obj=child("SHIVA",36)
print(obj)

SHIVA,36

#ITERATORS

Iterator is an object that contains countablenumber of values

__next()__   and __iter()__  are methods

lists,tuples,sets,dictonaries are interable objects.internally they will call iterators methods

In [ ]:
#String as iter

x= "APPLE"
y=iter(x)   # iter methods takes the string x and creates object of ietr(x)=y

print(next(y))# It prints each character at once
print(next(y))
print(next(y))
print(next(y))
print(next(y))

A
P
P
L
E

**The difference betwen these two examples**

In the first method we have created an object by converting x to iterator.So everytime when we call it oves to next character.

But in below one we are creating or calling  iter() everytime  ,hence always it gives first letter only. because here we didnt create any object , so everytime iter() executes x and results 1st character only

In [ ]:
#example of iterator
x="APPLeS"

print(next(iter(x)))
print(next(iter(x)))
print(next(iter(x)))
print(next(iter(x)))

A
A
A
A

In [ ]:
#Lists as iter()

lst=["Apples","Bananas","Mangoes"]
i=iter(lst)   # Here i stores iteration list


print(next(i))  # By indexing methods it calls everytie we use next()
print(next(i))
print(next(i))

Apples
Bananas
Mangoes

In [ ]:
lst=["Apples","bananas","Mangoes"]
i=iter(lst)


y=next(i) # Here we are iterated only once
print(y)
print(y)
print(next(i))

Apples
Apples
bananas

In [ ]:
lst=["Apples","Bananas","Mangoes"]

i=iter(lst)
a=next(i)
b=next(iter(i))  # we are assinging to multiple variables
c=next(iter(i))
print(a)
print(b)
print(c)

Apples
Bananas
Mangoes

In [ ]:
lst=["Apples","Mangoes","Bananas"]
i=iter(lst)
a=next(i)
b=next(a)  # we cant assign to string next() works only to iter() "i" is iterator, but not "a"
c=next(b)

print(a), print(b),print(c)

TypeError: ignored

In [ ]:
lst=["Apples","Bananas","Mangoes"]

a=next(iter(lst))
b=next(iter(lst))
c=next(iter(lst))

print(a,b,c)
print(b)
print(c)


print(next(iter(lst)),next(iter(lst)),next(iter(lst)))

Apples Apples Apples
Apples
Apples
Apples Apples Apples

In [ ]:
x="Apples"
for i in x :
    print(i)

A
p
p
l
e
s

#creating Iterators

In [ ]:
# creates a to z alphabets

class alphbet:
    def __iter__(self):

        self.letter= ord('a')

        return self

    def __next__(self):


        character=self.letter
        self.letter += 1

        return chr(character)


my_class=alphbet()

obj=iter(my_class)

i=1
while i < 27:
    print(next(obj), end="   ")
    i += 1

a   b   c   d   e   f   g   h   i   j   k   l   m   n   o   p   q   r   s   t   u   v   w   x   y   z

In [ ]:
# creates numbers

class numbers:
    def __iter__(self):

        self.num= 1
        return self
    def __next__(self):
        self.value=self.num
        self.num += 1

        return self.value

my_class=numbers()

obj=iter(my_class)
i=1
while i<20:
    print(next(obj), end="  ")
    i +=1

1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19

In [ ]:
# Stop Iteration

class stp:
    def __iter__(self):

        self.num =1
        return self

    def __next__(self):

        if self.num < 10:
            x= self.num
            self.num += 1
            return x

        else:

            raise StopIteration

my_class=stp()

obj=iter(my_class)

for x in obj:
    print(x, end=" ")

1 2 3 4 5 6 7 8 9

#Polymorphism

Using the same object mutliple times is called as polymorphism.

To use the same code or methods multiple times with different functionality.. like len() function. we can use the same function for different objects like lists,tuples,dictionaries etc..

In [ ]:
# example
l=["apple","mangoes","bananas"]
t=("Apples","Bananas","Cherrys")
s={"Apples","Bananas"}
d={'type':'fruits','name':'Banana'}
len(l),len(t)
print(len(l))
print(len(t))
print(len(s))
print(len(d))

3
3
2
2

In [ ]:
#Polymorphism in classes

class cars:
    def __init__(self,model,name):
        self.bcompany="TATA"
        self.bmodel=model
        self.bname=name


    def prn(self):
        self.model=self.bmodel

        if self.model < 2008:
            print(self.bcompany,self.bname,self.model,"Banned")

        else:
            print("Can Use")

class  flights:
    def __init__(self,model,name):
        self.bcompany="Boeing"
        self.bmodel=model
        self.bname=name

    def prn(self):

        self.model =self.bmodel
        if self.model < 2000:
            print("Banned as per Air Authority Guidelines")

        else:
            print("Can Move forwarded")
class cruise:
    def __init__(self,model,name):
        self.bcompany="Atlanta"
        self.bmodel=model
        self.bname=name

    def prn(self):

        self.model=self.bmodel

        if self.model< 1990:
            print("Banned ,Cant use for Passenger Purpose")
        else:
            print("Valid until  further check")

car=cars(2000,"Indica")
flight=flights(2002,"A380")
ship=cruise(2019,"Titanic")


for x in (car,flight,ship):
    x.prn()

TATA Indica 2000 Banned
Can Move forwarded
Valid until  further check

In [ ]:
#Class Polymorphism

# In this example imusing classnames as variable name.
# but in program convention it is  better to use instance variable like self instead of class name

class fruits:
    def __init__(self,name,rate):

        fruits.name=name
        fruits.rate=rate

    def buy(self):
        print("fruit name ::", fruits.name,"fruit rate per kg::",fruits.rate)

class veg:
    def __init__(self,name,rate):
        veg.name=name
        veg.rate=rate

    def buy(self):
        print("Veggetable Name:: ",veg.name,"Vegetabe rate per kg::",veg.rate)

fruit=fruits("APPLES",120.65)
veg=veg("Spinach",52.65)

for x in fruit,veg:
    x.buy()

fruit name :: APPLES fruit rate per kg:: 120.65
Veggetable Name::  Spinach Vegetabe rate per kg:: 52.65

In [ ]:
# Polymorphism in classes

class fruits:
    def __init__(self,name,rate):

        self.name=name
        self.rate=rate

    def buy(self):
        print("fruit name ::", self.name,"fruit rate per kg::",self.rate)

class veg:
    def __init__(self,name,rate):
        self.name=name
        self.rate=rate

    def buy(self):
        print("Veggetable Name:: ",self.name,"Vegetabe rate per kg::",self.rate)

fruit=fruits("APPLES",120.65)
veg=veg("Spinach",52.65)

for x in fruit,veg:
    x.buy()

fruit name :: APPLES fruit rate per kg:: 120.65
Veggetable Name::  Spinach Vegetabe rate per kg:: 52.65

In [ ]:
# Inheritance in polymorphism

class fruits:
    def __init__(self,name,price):

        self.name="APPLE"
        self.price=255.26

    def prn(self):
        print("Name::",slef.name, "Price::",self.price)
        print("Fruits price may vary")

class child(fruits):

    def __init__(self,name,price):

        self.name=name
        self.price=price

    def prn(self):

        print("Name::",self.name,"Prices are::",self.price)
        print("prices are fixed")

obj=child("Mangoes",230.22)
obj.prn()

Name:: Mangoes Prices are:: 230.22
prices are fixed

In [ ]:
# Inheritance in polymorphism

class fruits:
    def __init__(self,name,price):

        self.name="APPLE"
        self.price=255.26

    def prn(self):
        print("Name::",self.name, "Price::",self.price)
        print("Fruits price may vary")

class child(fruits):

    def __init__(self,name,price):

        super().__init__(name,price)
        super().prn()
        self.name=self.name
        self.price=self.price

    def prn(self):

        print("Name::",self.name,"Prices are::",self.price)
        print("prices are fixed")

obj=child("Mangoes",230.22)
obj.prn()

Name:: APPLE Price:: 255.26
Fruits price may vary
Name:: APPLE Prices are:: 255.26
prices are fixed

#Scope of Variable

Global, local

**global**  keyword  to declare variable to access anywhere

In [ ]:
#examples
#global variable
a=50

def fun():
    print(a) # Global Access
fun()

50

In [ ]:
#example
#local variable

a=50
def fun():
    a=30
    print(a)  # local variable

fun()
print(a)  # global Access

30
50

In [ ]:
# Global variable declare

global a
a=100

def fun():

    print(a)

fun()

100

In [ ]:
#change global variableaccess

a=100
def fun():

    global a
    a=30

fun()
print(a)

30

In [ ]:
# changing global varibale value

a=100

def fun():
    global a
    a=30

print(a)  # calling before assigning to global
fun()  # calling after Assigned to global
print(a)  # changed value

100
30

#Python Modules

A python module is a set of functions which are required torun an application

the extension of python module is **.py**

How to create a module

* define a code and save it to .py extension

* then import using import command

In [ ]:
# example

def first():

    print("Welcome  to Python World::" +name)

saved the above file in myfirst.ipynb

ipynb is default  extension in colab and jupiter

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
%ls

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
'Copy of Untitled3.ipynb'                           pythonBasics.py
 custom.py                                          Untitled
'Data Analysis with Numpy Pandas by Scaler.ipynb'   Untitled0.ipynb
'descriptive statistics.ipynb'                      Untitled1.ipynb
 Git_Github.ipynb                                   Untitled2.ipynb
'introduction to ML Algos_scaler_26-sep.ipynb'      Untitled3.ipynb
 MatplotLib.ipynb                                   YBIfDSAINTERNC.ipynb
 myfirst.py

#Mount My drive to Google colab

---




1)   from google.colab import drive
drive.mount('/content/drive')

%ls

2)  dir

3)  cd drive/MyDrive


#Unmount

from google.colab import drive
drive.flush_and_unmount()

In [ ]:
dir

In [ ]:

cd //content/drive/MyDrive/Colab Notebooks

/content/drive/MyDrive/Colab Notebooks

In [ ]:
!ls

'Copy of Untitled3.ipynb'			    MatplotLib.ipynb   Untitled1.ipynb
'Data Analysis with Numpy Pandas by Scaler.ipynb'   myfirst.py	       Untitled2.ipynb
'descriptive statistics.ipynb'			    pythonBasics.py    Untitled3.ipynb
 Git_Github.ipynb				    Untitled	       YBIfDSAINTERNC.ipynb
'introduction to ML Algos_scaler_26-sep.ipynb'	    Untitled0.ipynb

In [ ]:
import  myfirst

myfirst.first("Shiva")

Welcome  to Python World::Shiva

#Rename a Module

you can use **as**  to access the module as alias also know an renaming

In [ ]:
#Renaming a module

import myfirst as mf

mf.first("India")

Welcome  to Python World::India

# dir() function

to import names and variables in a module

# import from



**from**  *module_name* **import**

Note to that while we are using import from  no need to use module name to call variables

In [ ]:
# dir() function

# to import names and variables in a module

import myfirst

print(dir(myfirst))

['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'first']

In [ ]:
# import  from
from myfirst import first

#myfirst is module   and first is function

first("SHIVAPRRASAD_SK")

Welcome  to Python World::SHIVAPRRASAD_SK

#Date Module

In [ ]:
import datetime
print(datetime.datetime.now())  #curent date time

2023-11-05 05:37:38.724864

In [ ]:
import datetime
x=datetime.datetime.now()  # current year
print(x.year)

2023

In [ ]:
#strftime()
#takes date format and return to readable string format

import datetime

x=datetime.datetime.now()

print(x.strftime("%B"))  #Returns month
print(x.strftime("%A")) # Returns Weekday
print(x.strftime("%C"))# Returns century
print(x.strftime("%a"))  #short weekday
print(x.strftime("%w"))  # Weekday in number
print(x.strftime("%d"))  # Day of month between 1-31
print(x.strftime("%b")) #Month name short
print(x.strftime("%m"))  # month as number
print(x.strftime("%y"))  # year last 2 digits
print(x.strftime("%Y")) # year Full
print(x.strftime("%H"))  # hour 24 hour format
print(x.strftime("%I"))  # hour 0-12 format
print(x.strftime("%p"))  # AM/PM
print(x.strftime("%M"))  #minute 0-59
print(x.strftime("%S"))   # Seconds 0-59
print(x.strftime("%f"))  # micros seconds
print(x.strftime("%z"))  # UTC
print(x.strftime("%Z"))  # time zone
print(x.strftime("%j"))  # day number 1-365
print(x.strftime("%U"))  # Week Number in year 52 weeks sunday start week 0
print(x.strftime("%W"))  # Week number if monday as start day of week
print(x.strftime("%c"))   # Localversion of date time
print(x.strftime("%X")) # local version of time
print(x.strftime("%%")) # to print %
print(x.strftime("%G"))  # ISO year start from 8601
print(x.strftime("%u"))  # week day of ISO 8601 1-7
print(x.strftime("%V"))  # Week number as per ISO 8601

November
Sunday
20
Sun
0
05
Nov
11
23
2023
07
07
AM
09
42
985136


309
45
44
Sun Nov  5 07:09:42 2023
07:09:42
%
2023
7
44

In [ ]:
#strftime()
#takes date format and return to readable string format

import datetime

x=datetime.datetime(2019,8,8)

print(x.strftime("%B"))  #Returns month
print(x.strftime("%A")) # Returns Weekday
print(x.strftime("%C"))# Returns century
print(x.strftime("%a"))  #short weekday
print(x.strftime("%w"))  # Weekday in number
print(x.strftime("%d"))  # Day of month between 1-31
print(x.strftime("%b")) #Month name short
print(x.strftime("%m"))  # month as number
print(x.strftime("%y"))  # year last 2 digits
print(x.strftime("%Y")) # year Full
print(x.strftime("%H"))  # hour 24 hour format
print(x.strftime("%I"))  # hour 0-12 format
print(x.strftime("%p"))  # AM/PM
print(x.strftime("%M"))  #minute 0-59
print(x.strftime("%S"))   # Seconds 0-59
print(x.strftime("%f"))  # micros seconds
print(x.strftime("%z"))  # UTC
print(x.strftime("%Z"))  # time zone
print(x.strftime("%j"))  # day number 1-365
print(x.strftime("%U"))  # Week Number in year 52 weeks sunday start week 0
print(x.strftime("%W"))  # Week number if monday as start day of week
print(x.strftime("%c"))   # Localversion of date time
print(x.strftime("%X")) # local version of time
print(x.strftime("%%")) # to print %
print(x.strftime("%G"))  # ISO year start from 8601
print(x.strftime("%u"))  # week day of ISO 8601 1-7
print(x.strftime("%V"))  # Week number as per ISO 8601

August
Thursday
20
Thu
4
08
Aug
08
19
2019
00
12
AM
00
00
000000


220
31
31
Thu Aug  8 00:00:00 2019
00:00:00
%
2019
4
32

#Math Module

In [ ]:
#math functions

a=min(4,5,22)
b=max(5,88,24)
c=abs(-5.2)
d=pow(4,5)

print(a,"",b,"",c,"",d)

4  88  5.2  1024

In [ ]:
#math modules

import math
print(math.sqrt(4))  # square root
print(math.ceil(1.5))  # upper value nearest
print(math.ceil(-1.4))
print(math.floor(1.4))  # lower nearest value
print(math.floor(-1.5))  #lower nearest value

2.0
2
-1
1
-2

#Python JSON

JAVASCRIPT Object Notation  is an array of ordered collection values.

JSON is text, written with java script object notation

JSON is used to store and exchange data

JSON Loads

**json.loads()**.. loads json string and converts to python

syntax must be enclosed with  **[ ]**  and **' '**

#Conversion from JSON to Python

In [ ]:
#Conversion from JSON to Python

import json

jsn_str='{"name":"Shiva", "age":40, "job":"Data Scientist"}'  #JSON string

py_dict=json.loads(jsn_str)  #Parses JSON string to Python using

print(py_dict["name"])
print(py_dict["age"])
print(py_dict["job"])

print(py_dict.items())

Shiva
40
Data Scientist
dict_items([('name', 'Shiva'), ('age', 40), ('job', 'Data Scientist')])

In [ ]:
import json

jsn_str='["Apples","Mangoes"]' #Json array

py_lst=json.loads(jsn_str)  # converts josn to python

print(py_lst[1])
print(py_lst)

Mangoes
['Apples', 'Mangoes']

In [ ]:
import json

jsn_tp='["Appes","Mangoes","Bananas"]'
jsn_str_st='{"fruit":"Apple","price":252.00}'

print(type(jsn_tp))
print(type(jsn_str_st))

x=json.loads(jsn_tp)  #conversion json topython
y=json.loads(jsn_str_st)  #conversion json to python
print()
print(type(x))
print(type(y))

print()
print(x[1],x)
print(y["fruit"])

<class 'str'>
<class 'str'>

<class 'list'>
<class 'dict'>

Mangoes ['Appes', 'Mangoes', 'Bananas']
Apple

#Conversion from Python to JSON

json.dumps()

In [ ]:
import json

x="String"

print(type(x))

y=json.dumps(x) #converts python to json
print(y)
print(type(y))

<class 'str'>
"String"
<class 'str'>

In [ ]:
import json

x={"f_name":"Shiva","l_name":"S","m_name":"Prrasad"}  #Python dictionary

print(type(x))

y=json.dumps(x) # Converts python to json

print(type(y))
print(y)
# print(y("f_name"))
#.Herewe cant access like this becuase not it is a string not a dictioanary.
#To access we need to parse this json string to python dictionary

<class 'dict'>
<class 'str'>
{"f_name": "Shiva", "l_name": "S", "m_name": "Prrasad"}

In [ ]:
#Convert Python object to  JSON strings

import json

print(json.dumps("String"))
print(json.dumps(["list1","list2"])) # converts list to json
print(json.dumps(("tupl1","tupl2"))) # converts tuple to json
print(json.dumps({"Name":"Shiva","Age":45})) # converts dictionsry to json
print(json.dumps(42424)) # converts int to number
print(json.dumps(125.4)) # converts float to Number
print(json.dumps(True))  # converts to boolean True
print(json.dumps(False))  # converts to bolean false
print(json.dumps(None))  # converts to null

"String"
["list1", "list2"]
["tupl1", "tupl2"]
{"Name": "Shiva", "Age": 45}
42424
125.4
true
false
null

In [ ]:
#Convert Python object to  JSON strings

import json

print(type(json.dumps("String")))
print(type(json.dumps(["list1","list2"]))) # converts list to json
print(type(json.dumps(("tupl1","tupl2")))) # converts tuple to json
print(type(json.dumps({"Name":"Shiva","Age":45}))) # converts dictionsry to json
print(type(json.dumps(42424))) # converts int to number
print(type(json.dumps(125.4))) # converts float to Number
print(type(json.dumps(True)))  # converts to boolean True
print(type(json.dumps(False)))  # converts to bolean false
print(type(json.dumps(None)))  # converts to null

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
#example

import json

x={"Name":"SP",'Age':36,"Married":True, "Own_house":False, "family_members":({"Wife":"SNS","Age":30},{"Son":"Karthkeyaa","Age":3}) } #tuple with nested dictionary
print(type(x))
print(x)
print()

y=json.dumps(x)

print(type(y))
print(y)

<class 'dict'>
{'Name': 'SP', 'Age': 36, 'Married': True, 'Own_house': False, 'family_members': ({'Wife': 'SNS', 'Age': 30}, {'Son': 'Karthkeyaa', 'Age': 3})}

<class 'str'>
{"Name": "SP", "Age": 36, "Married": true, "Own_house": false, "family_members": [{"Wife": "SNS", "Age": 30}, {"Son": "Karthkeyaa", "Age": 3}]}

In [ ]:
#example

import json

x={"Name":"SP",'Age':36,"Married":True, "Own_house":False,
   "family_members":{"Wife":"SNS","Age":30,"Son":"Karthkeyaa","Age":3 }} #nested dictionary
print(type(x))
print(x)
print()

y=json.dumps(x)

print(type(y))
print(y)

<class 'dict'>
{'Name': 'SP', 'Age': 36, 'Married': True, 'Own_house': False, 'family_members': {'Wife': 'SNS', 'Age': 3, 'Son': 'Karthkeyaa'}}

<class 'str'>
{"Name": "SP", "Age": 36, "Married": true, "Own_house": false, "family_members": {"Wife": "SNS", "Age": 3, "Son": "Karthkeyaa"}}

In [ ]:
#example

import json

x={"Name":"SP",'Age':36,"Married":True, "Own_house":False,
   "family_members_1":{"Wife":"SNS","Age":30},"family_members_2":{"Son":"Karthkeyaa","Age":3}} #nested dictionary
print(type(x))
print(x)
print()

y=json.dumps(x)

print(type(y))
print(y)

<class 'dict'>
{'Name': 'SP', 'Age': 36, 'Married': True, 'Own_house': False, 'family_members_1': {'Wife': 'SNS', 'Age': 30}, 'family_members_2': {'Son': 'Karthkeyaa', 'Age': 3}}

<class 'str'>
{"Name": "SP", "Age": 36, "Married": true, "Own_house": false, "family_members_1": {"Wife": "SNS", "Age": 30}, "family_members_2": {"Son": "Karthkeyaa", "Age": 3}}

In [ ]:
#format result

#syntax json.dumps(exp,indent=value)

#example

import json

x={"Name":"SP",'Age':36,"Married":True, "Own_house":False, "family_members":({"Wife":"SNS","Age":30},{"Son":"Karthkeyaa","Age":3}) }
print(type(x))
print(x)
print()

y=json.dumps(x,indent=8) #indent of each value

print(type(y))
print(y)

<class 'dict'>
{'Name': 'SP', 'Age': 36, 'Married': True, 'Own_house': False, 'family_members': ({'Wife': 'SNS', 'Age': 30}, {'Son': 'Karthkeyaa', 'Age': 3})}

<class 'str'>
{
        "Name": "SP",
        "Age": 36,
        "Married": true,
        "Own_house": false,
        "family_members": [
                {
                        "Wife": "SNS",
                        "Age": 30
                },
                {
                        "Son": "Karthkeyaa",
                        "Age": 3
                }
        ]
}

In [ ]:
#seperators

#example

import json

x={"Name":"SP",'Age':36,"Married":True, "Own_house":False, "family_members":({"Wife":"SNS","Age":30},{"Son":"Karthkeyaa","Age":3}) }
print(type(x))
print(x)
print()

y=json.dumps(x,indent=8, separators=("--","="))  # creates indent of 8 and seperators "--" and "="
print()
print(type(y))
print(y)
print()

z=json.dumps(x,indent=8, separators=("--","="),sort_keys=True) # sorts in ascending
print(type(z))
print(z)

<class 'dict'>
{'Name': 'SP', 'Age': 36, 'Married': True, 'Own_house': False, 'family_members': ({'Wife': 'SNS', 'Age': 30}, {'Son': 'Karthkeyaa', 'Age': 3})}


<class 'str'>
{
        "Name"="SP"--
        "Age"=36--
        "Married"=true--
        "Own_house"=false--
        "family_members"=[
                {
                        "Wife"="SNS"--
                        "Age"=30
                }--
                {
                        "Son"="Karthkeyaa"--
                        "Age"=3
                }
        ]
}

<class 'str'>
{
        "Age"=36--
        "Married"=true--
        "Name"="SP"--
        "Own_house"=false--
        "family_members"=[
                {
                        "Age"=30--
                        "Wife"="SNS"
                }--
                {
                        "Age"=3--
                        "Son"="Karthkeyaa"
                }
        ]
}

#PIP in Python

PIP is package manager forpython which hepstoinstalla package for python

A package normally contains all files which are required to run a module


*  pip --version    >> to check version of pip

*  pip install *packagae name*  >> to isntall package

    > pip install  *package name*  version
                > pip install python =3.14

                > pip install python >=3.0  , <= 3.7  
                            to install between versions
*  pip uninstall *packagename*  >to uninstalll package
*  pip list   > to list packages

* To installlist of packages in one attempt. we need to store in a
        .txt file  .eg..require.txt

        pip install -r filename
        pip install -r require.txt   
            require.txt contains allpackages name to  install. like numpy==1.2
            pandas==1.5  

            -r indicates requirements to install

* pip freeze > require.txt    to  share the file to  others
* pip install --upgrade *packagename*
        > pip install  --upgrade pandas  ---upgrades pandas  //    
                    upgrade package
        > pip install -r require.txt --upgrade   //  ugrade all     
                     packages in reuire,txt


* pip uninstall pandas  //unistallpackage
* pip help  
* pip list  // list all packages
* pip show *packagename*  e. pip show paandas  //summary of package

#Install PIP

* python3.14 -m ensurepip --default-pip
>>-m used torun module as script  
>>in the abive eg..ensurepip  is a module we are running it inside the script which is inside python

* to upgrade pip
>> pip install -upgrade pip *setuptools wheel*  setupttols , wheel
             are packages inside python

** install packages from github**

pip install git+https://github.com/ *location path*  @main
>> main is workig directory

In [ ]:
pip --version    # to check PIP version

pip 23.1.2 from /usr/local/lib/python3.10/dist-packages/pip (python 3.10)

#try..except..else..finally

**try**   to test the code of errors

**except** handle  the error

**else** executes the code if no error

**finally** executes the code by ignoring all above conditions

In [ ]:
#try

try:
    print("the Va;ue of X is..",x)

except:
    print("X Value not defined")

X Value not defined

In [ ]:
#try
try:
    x=5
    print("The Value of x is..",x)
except:
    print("The Value of x not defined")

The Value of x is.. 5

In [ ]:
#try

def main(x):
    val=x
    try:
        val == int(x)
        print("\nEntered Value is..",val)

    except:

        print("The Value is non numeric..",val)
        print()


    else:
        val1=int(val) ** 2
        print("Calculated value is::",val1)
        exit()


    finally:
            pass

obj=input("Enter the Value::")
main(obj)

obj1= input("Enter the Value:: ")
main(obj1)

Enter the Value::25

Entered Value is.. 25
Calculated value is:: 625
Enter the Value:: Shivaprrasad
The Value is non numeric.. Shivaprrasad

#Input()

input() is used to enter the input value dynamically

In [ ]:
#input

x=input("Enter The value of X::")
print("X Value is ::" +x)
print("X Value is ::",x)

Enter The value of X::ShivaPrrasad
X Value is ::ShivaPrrasad
X Value is :: ShivaPrrasad

#Python String Format

To access values dynamcially we use format() either from databse or manually

syntax for **{}**

In [ ]:
#string format

x=23.45

txt="The Value of X is {}"  # {} denotes dymanic access of values

print(txt.format(x))

The Value of X is 23.45

In [ ]:
# string format

x=23.45
y=45.55

txt="The values of {} and {}" #x and y are taken by sequentioally or indexing
print(txt.format(x,y))
print(txt.format(y,x))

The values of 23.45 and 45.55
The values of 45.55 and 23.45

In [ ]:
# indexing

f1="Shivaprrasd"
l1="SK"
m1=" "

txt="First Name is {0}, Last Name is {1}, middle Name is {2}"
txt1='last Name is {0},Middle Name is {1},First Name is {2}'
tx2="First Name is {2}, Last Name is {1}, middle Name is {0}" # wrong indexing

print(txt.format(f1,l1,m1))
print(txt1.format(l1,m1,f1))
print(txt.format(m1,l1,f1))

First Name is Shivaprrasd, Last Name is SK, middle Name is
last Name is SK,Middle Name is  ,First Name is Shivaprrasd
First Name is  , Last Name is SK, middle Name is Shivaprrasd

In [ ]:
# dymanic Format

op="Item Name is {itm_name} and item  Quantity is {itm_qty} and item price is {itm_rte}"

print(op.format(itm_qty=33, itm_rte=156.21, itm_name="Apples"))

Item Name is Apples and item  Quantity is 33 and item price is 156.21

#File Handling

Used to open , read, write for any web application or other softwares

* open() - to open a file
         * r-  to read file - opens a file
         * a- Appends a file
         * w- write to a file . if file doesnot exists it creates
         * x - creates a file

        **MODES**
        * t - text mode.by defaultit opens in text mode
        * b - Binary mode  for eg.images

In [ ]:
# to opean a file

file=open("/content/drive/MyDrive/Colab Notebooks/myfirst.py", "rt")

In [ ]:
# to read a file

file= open("/content/drive/MyDrive/Colab Notebooks/myfirst.py", "r")

print(file.read())  # reads the file and prints

def first(name):

    print("Welcome  to Python World::" +name)

In [ ]:
print(file.read(3))  # returns first 14 character of file

In [ ]:
# to readlines  readlines()

file =open("/content/drive/MyDrive/Colab Notebooks/myfirst.py", "rt")
print(file.readlines())    # read lines

['def first(name):\n', '\n', '    print("Welcome  to Python World::" +name)\n']

[]

In [ ]:
file =open("/content/drive/MyDrive/Colab Notebooks/myfirst.py", "rt")
file.readlines()

['def first(name):\n', '\n', '    print("Welcome  to Python World::" +name)\n']

In [ ]:
# to read line by line

file =open("/content/drive/MyDrive/Colab Notebooks/myfirst.py", "rt")

print(file.readline())
print(file.readline())
print(file.readline())
print(file.readline())

def first(name):



    print("Welcome  to Python World::" +name)

In [ ]:
# close file

file= open("/content/drive/MyDrive/Colab Notebooks/myfirst.py", "rt")

file.close()

file.readlines()   # throw error because file has been closed

ValueError: ignored

In [ ]:
# To write the file

# **a**  - to append the content to end of a file

file=open("/content/drive/MyDrive/Colab Notebooks/myfirst.py", "a")
file.write("End of the file")
file.close()

file=open("/content/drive/MyDrive/Colab Notebooks/myfirst.py", "rt")
print(file.read())

def first(name):

    print("Welcome  to Python World::" +name)
End of the file

In [ ]:
# to wrte content

file =open("/content/drive/MyDrive/Colab Notebooks/myfirst.py", "w")

file.write("deleted entire content")  # overwriting enitre file with this string

file.close()

file= open("/content/drive/MyDrive/Colab Notebooks/myfirst.py",'r')
print(file.read())  #reading file


file=open("/content/drive/MyDrive/Colab Notebooks/myfirst.py","w")

string= """def first(name):
            print("Welcome  to Python World::" +name)
            End of the file"""

file.write(string)

file.close()

file=open("/content/drive/MyDrive/Colab Notebooks/myfirst.py","r")
#file.read()
print(file.read())

deleted entire content
def first(name):
            print("Welcome  to Python World::" +name)
            End of the file

In [ ]:
# creat a new file

file1=open("my_file_x.txt","x")
file2=open("my_file_a.txt", "a")
file3=open("my_file_w.txt","w")

file1.write("file Created using x ")
file2.write("File created using a")
file3.write("Fule created using w")

file1.close()
file2.close()
file3.close()

"""file1=open("/content/my_file_x.txt","r")
file2=open("/content/my_file_a.txt","r")
file3=open("/content/my_file_w.txt","r")"""

print(open("/content/my_file_x.txt","r").read())
print(open("/content/my_file_a.txt","r").read())
print(open("/content/my_file_w.txt","r").read())

file Created using x
File created using a
Fule created using w

#Delete File or Folder

* To delete a file we need toimport **os**module

* os.remove(*filename*)    to remove a file
* os.rmdir(*foldername*)   to remove folder

In [ ]:
# to create a file

f1=open("Newfile.txt","x")
f1.write("New file created")

f1.close()
f1=open("/content/Newfile.txt","r")

print(f1.read())

New file created

In [ ]:
# te remove a file

import os

if os.path.exists("Newfile.txt"):
    os.remove("Newfile.txt")
    print("file removed")

else:
    print("file  does not exists")

file removed

#Python Built -In Functions

In [ ]:
#abs()
#Returns Absolute Value of number

x=abs(2.22)
y=abs(-4.55)
print(x," ",y)

2.22   4.55

In [ ]:
#all()
#Returns if all items are true


l=[True,True,1]    #list-iterable
s={True,1,0}   #set-iterable
t=(True,1,1)    #tuple-iterable
s={False,0,0,False}  #set-iterable

print(all(l))
print(all(s))
print(all(t))
print(all(s))

True
False
True
False

In [ ]:
#any()
#if any item is true

l=[True,0,False]
print(any(l))

True

In [ ]:
#Ascii()
#Returns readable version of any character
# replaces non ascii characters with escape

l="hello ~!/,."
print(ascii(l))

'hello \xae~!/,.'

In [ ]:
#bin()
# Returns binary version of number

x=2458
print(bin(x))

y="Hello"   #cant convert strings to binary
print(bin(y))

0b100110011010

TypeError: ignored

In [ ]:
#bool()
#Returns boolean Value
# by default it retirns true if object is not empty

a="Hello"
l=[a,33,0]
t=()
s={()}  # Here object is not empty.. returns True
z={}  #empty object

print(bool(a))
print(bool(l))
print(bool(t))
print(bool(s))
print(bool(z))

True
True
False
True
False

In [ ]:
#bytearray()
# Returns bytearray of any object

x=6
print(bytearray(x))

bytearray(b'\x00\x00\x00\x00\x00\x00')

In [ ]:
#bytes()
#Returns bytes object

print(bytes(4))

a=36
b="Hello"  # Not for strings
print(bytes(a))

b'\x00\x00\x00\x00'
b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'

In [ ]:
# callable()
# If object is callable returns true

x=5

def fn():
    a=6


obj=fn()

print(callable(x))
print(callable(a))
print(callable(obj))
print(callable(fn))

False
False
False
True

In [ ]:
#chr()
# Returns a character from Unicode UNICode

x=98
print(chr(x))
print(chr(98))

b
b

In [ ]:
#ord()
# Returns unicode of a charater

x="b"
print(ord(x))
print(ord("b"))

98
98

In [ ]:
# classmethod()
# Converts a method into class method

def fn():
    print("Hello")

cls_m=classmethod(fn)
print(type(cls_m))
print(type(fn))

<class 'classmethod'>
<class 'function'>

In [ ]:
#compile()
#compiles more than one statement

x = compile('print("Hello")\nprint(88)', 'test','exec')
exec(x)

Hello
88

In [ ]:
#complex()
#Returns complex number

x=complex(3,5)
y=complex(2+6j)


print(x,y)

(3+5j) (2+6j)

In [ ]:
#delattr()
#deletes specified Attribute
# USeful for classes

class person:
    name="Shiva"
    age=42

print(person.age)
print(person.name)

delattr(person,"name")

print(person.age)
print(person.name)

42
Shiva
42

AttributeError: ignored

In [ ]:
#dict()
#Returns a dictionary

a=dict(name="Shiva",age=39,city="AP")
print(a,type(a))

{'name': 'Shiva', 'age': 39, 'city': 'AP'} <class 'dict'>

In [ ]:
#dir()

#Returns all properties of a class or method

class person:
    name="Shiva"
    age=42
    city="VSP"

    def fn():
        popu=1245511
        country="India"
obj=person

print(dir(person))  #Calling class directly
print(dir(obj))   #calling Object  of class
print(dir(obj.fn())) # calling function through instance or object of the class

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'age', 'city', 'fn', 'name']
['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'age', 'city', 'fn', 'name']
['__bool__', '__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__']

In [ ]:
#divmod()
#display quotient and remainder

print(divmod(2,6))  # 2 dvide by 6 results quotient, remainder
print(divmod(5,2))  # 5 divide by 2

(0, 2)
(2, 1)

In [ ]:
#enumerate()
#Takes enumerate objects AND RETURNS to enumerate objects
# It helpsus to convert one data type to another datatype
x=(123,True,"Hello")
y=enumerate(x)  #enumerated object
print(y)
print(type(x),type(y))
a=list(y) #
print(a,type(a)) #converted enumerated object to list
print(list(y))

z=dict(y)  #creates empty dictionary
print(z)
print(dict(y))

dc={"Name":"Shivas","Age":42,"city":"VSP"}
en1=enumerate(dc)
en2=list(en1)
en3=tuple(en1)
str1=str(en1)
print(type(en2),en2)
print(type(en3),en3)
print(type(str1),str1)

<enumerate object at 0x7e6230083640>
<class 'tuple'> <class 'enumerate'>
[(0, 123), (1, True), (2, 'Hello')] <class 'list'>
[]
{}
{}
<class 'list'> [(0, 'Name'), (1, 'Age'), (2, 'city')]
<class 'tuple'> ()
<class 'str'> <enumerate object at 0x7e62302238c0>

In [ ]:
#eval()
#evaluate a function

a='print("Hello")'
eval(a)

b='(((22+56)**2)*2)'
eval(b)

Hello

12168

In [ ]:
#exec()
#exec specified  code

obj='name="Shiva",print(name)'

exec(obj)

def func():
    print("Welcome to pythonThe most popular language ")

obj1=func()
#exec("func()")
exec("obj1")

('Shiva', None)
Welcome to pythonThe most popular language

In [ ]:
#filter()
#filters the given value

num=[15,14,99,77,24,18,15,12,1,15,18,18]

def even(numbers):
    numb=numbers
    if numb % 2 == 0:

        return numb

    else:
        pass

obj=filter(even,num)

print(list(obj))

[14, 24, 18, 12, 18, 18]

In [ ]:
#float()
#Returns floating point number

a=54
print(float(a))

54.0

In [ ]:
#format()
#formats a value to a specified format numbers

a=format(2,"%")
b=format(22,"n")
c=format(98,"c")
d=format(343,"e")
e=format(44,"F")

print(a,b,c,d,e)

200.000000% 22 b 3.430000e+02 44.000000

In [ ]:
#frozenset()
#freezes the data type make it unchangeable

l1=['Shiva','karthkeyaa','Nandhini']
t1=(1,2,3,3,2)
a=frozenset(l1)
b=frozenset(t1)
print(a)
print(b)

print(type(l1),l1,'\n',type(t1),t1)

frozenset({'karthkeyaa', 'Shiva', 'Nandhini'})
frozenset({1, 2, 3})
<class 'list'> ['Shiva', 'karthkeyaa', 'Nandhini']
 <class 'tuple'> (1, 2, 3, 3, 2)

In [ ]:
#getattr()

#Returns the value of sepcified attribute of mentioned object

def fun():
    dct = {"Name": "Shivaprrasad", 'Age': 30, "city": "VSP"}
    return dct["city"]


x = getattr(fun(), "city", None)
print(x)

None

In [ ]:
#globals()
#Returns global suymbol table. A symbol table is current informtion of program

x=globals()
print(x)
print(x["__name__"])
print(x["__doc__"])

{'__name__': '__main__', '__doc__': ' Here a is first parameter\n    b is replaceable parameters\n    c is removable parameters\n', '__package__': None, '__loader__': None, '__spec__': None, '__builtin__': <module 'builtins' (built-in)>, '__builtins__': <module 'builtins' (built-in)>, '_ih': ['', '#abs()  Returns Absolute Value of number\n\nx=abs(2.22)\nprint(x)', '#abs()  Returns Absolute Value of number\n\nx=abs(2.22)\ny=abs(-4.55)\nprint(x,y)', '#abs()  Returns Absolute Value of number\n\nx=abs(2.22)\ny=abs(-4.55)\nprint(x," ",y)', '#all() Returns if all items are true\n\na=[True,True,1]\nb={True,1,0}\nc=(True,1,1)\nd={False,0,0,False}\n\nprint(a.all())', '#all() Returns if all items are true\n\na=[True,True,1]\nb={True,1,0}\nc=(True,1,1)\nd={False,0,0,False}\n\na.all()', '#all() Returns if all items are true\n\nl=[True,True,1]\ns={True,1,0}\nt=(True,1,1)\ns={False,0,0,False}\n\na=all(l)', '#all() Returns if all items are true\n\nl=[True,True,1]\ns={True,1,0}\nt=(True,1,1)\ns={False,0,0,False}\n\nprint(all(l))', '#all() Returns if all items are true\n\nl=[True,True,1]\ns={True,1,0}\nt=(True,1,1)\ns={False,0,0,False}\n\nprint(all(l))\nprint(all(s))\nprint(all(t))\nprint(all(s))', '#any() if any item is true\n\nl=[True,0,False]\nx=any(l)', '#any() if any item is true\n\nl=[True,0,False]\nprint(any(l))', '#Ascii()   Returns readable version of any character\n\nl="hello /,."\nprint(ascii(l))', '#Ascii()   Returns readable version of any character\n# replaces non ascii characters with escape\n\nl="hello ~!/,."\nprint(ascii(l))', '#Ascii()   Returns readable version of any character\n# replaces non ascii characters with escape\n\nl="hello ~!/,."\nprint(ascii(l))', '#bin() Returns binary version of number\n\nx="Hello"\nprint(bin(x))', '#bin() Returns binary version of number\n\nx=2458\nprint(bin(x))', '#bin() Returns binary version of number\n\nx=2458\nprint(bin(x))\n\ny="Hello"\nprint(bin(y))', '#bool()  Returns boolean Value\n# by default it retirns true if object is not empty\n\na="Hello"\nl=[a,33,0]\nt=()\ns={()}\n\nprint(bool(a))\nprint(bool(l))\nprint(bool(t))\nprint(bool(s))', '#bool()  Returns boolean Value\n# by default it retirns true if object is not empty\n\na="Hello"\nl=[a,33,0]\nt=()\ns={()}  # Here object is not empty.. returns True\nz={}\n\nprint(bool(a))\nprint(bool(l))\nprint(bool(t))\nprint(bool(s))\npritn(bool(z))', '#bool()  Returns boolean Value\n# by default it retirns true if object is not empty\n\na="Hello"\nl=[a,33,0]\nt=()\ns={()}  # Here object is not empty.. returns True\nz={}\n\nprint(bool(a))\nprint(bool(l))\nprint(bool(t))\nprint(bool(s))\nprint(bool(z))', '#bytearray()\n# Returns bytearray of any object\n\nx="hello"\nprint(bytearray(x))', '#bytearray()\n# Returns bytearray of any object\n\nx=6\nprint(bytearray(x))', '#bytes()\n#Returns bytes object\n\nprint(bytes(4))', '#bytes()\n#Returns bytes object\n\nprint(bytes(4))\n\na=Hello\nprint(bytes(a))', "#bytes()\n#Returns bytes object\n\nprint(bytes(4))\n\na='Hello'\nprint(bytes(a))", '#bytes()\n#Returns bytes object\n\nprint(bytes(4))\n\na=366\nb="Hello"\nprint(bytes(a,b))', '#bytes()\n#Returns bytes object\n\nprint(bytes(4))\n\na=366\nb="Hello"\nprint(bytes(a))', '#bytes()\n#Returns bytes object\n\nprint(bytes(4))\n\na=36\nb="Hello"\nprint(bytes(a))', '# callable()\n# If object is callable returns true\n\nx=5\n\ndef fn():\n    a=6\n    print(a)\n\nobj=fn()\n\nprint(callable(x))\nprint(callable(a))\nprint(callable(obj))', '# callable()\n# If object is callable returns true\n\nx=5\n\ndef fn():\n    a=6\n    print(a)\n\nobj=fn()\n\nprint(callable(x))\nprint(callable(a))\nprint(callable(obj))\nprint(callable(fn))', '# callable()\n# If object is callable returns true\n\nx=5\n\ndef fn():\n    a=6\n   \n\nobj=fn()\n\nprint(callable(x))  \nprint(callable(a))\nprint(callable(obj))\nprint(callable(fn))', '#chr()\n# Returns a character from Unicode UNICode\n\nx=98\nprint(chr(x))', '#ord()\n# Returns unicode of a charater\n\nx=98\nprint(ord(x))', '#ord()\n# Returns unicode of a charater\n\nx=98\nprint(x.ord())', '#ord()\n# Returns unicode of a charater\n\nx=98\nprint(ord(x))', '#ord()\n# Returns unicode of a charater\n\nx="b"\nprint(ord(x))', '#chr()\n# Returns a character from Unicode UNICode\n\nx=98\nprint(chr(x))\nprint(chr(98))', '#ord()\n# Returns unicode of a charater\n\nx="b"\nprint(ord(x))\nprint(ord("b"))', '# classmethod()\n# Converts a method into class method\n\ndef fn():\n    print("Hello")\n\ncls_m=fn.classmethod()', '# classmethod()\n# Converts a method into class method\n\ndef fn():\n    print("Hello")\n\ncls_m=classmethod(fn)', '# classmethod()\n# Converts a method into class method\n\ndef fn():\n    print("Hello")\n\ncls_m=classmethod(fn)\nprint9type(cls_m)', '# classmethod()\n# Converts a method into class method\n\ndef fn():\n    print("Hello")\n\ncls_m=classmethod(fn)\nprint(type(cls_m))', '# classmethod()\n# Converts a method into class method\n\ndef fn():\n    print("Hello")\n\ncls_m=classmethod(fn)\nprint(type(cls_m))\nprint(type(fn))', '#compile()\n#compiles more than one statement\n\nx=("Test",True,12,"Pass")\nprint(compile(x))', '#compile()\n#compiles more than one statement\n\nx=compile(print("test")," ",print(True)," ",print(1254))', '#compile()\n#compiles more than one statement\n\nx=compile(print("test")," ",print(True)," ",print(1254))\nexec(x)', '#compile()\n#compiles more than one statement\n\nx=compile(print("test")," \\n",print(True),"\\n",print(1254))\nexec(x)', '#compile()\n#compiles more than one statement\n\nx=compile(print("test"),"\\n",print(True),"\\n",print(1254))\nexec(x)', '#compile()\n#compiles more than one statement\n\nx=compile(print("test"),\\n,print(True),\\n,print(1254))\nexec(x)', '#compile()\n#compiles more than one statement\n\nx=compile(print("test"),\\nprint(True),\\nprint(1254))\nexec(x)', '#compile()\n#compiles more than one statement\n\nx=compile(print("test"),\\n print(True),\\nprint(1254))\nexec(x)', '#compile()\n#compiles more than one statement\n\nx=compile(print("test"),\\nprint(True),\\nprint(1254))\nexec(x)', '#compile()\n#compiles more than one statement\n\nx=compile("print("test")","\\nprint(True)",\'\\nprint(1254)\')\nexec(x)', '#compile()\n#compiles more than one statement\n\nx=compile("print(test)","\\nprint(True)",\'\\nprint(1254)\')\nexec(x)', '#compile()\n#compiles more than one statement\n\nx=compile("print(25)","\\nprint(True)",\'\\nprint(1254)\')\nexec(x)', '#compile()\n#compiles more than one statement\n\nx=compile("print(25)",\'print(1254)\')\nexec(x)', '#compile()\n#compiles more than one statement\n\nx=compile("print(25)","print(1254)")\nexec(x)', '#compile()\n#compiles more than one statement\n\nx=compile(print(25),print(1254))\nexec(x)', "#compile()\n#compiles more than one statement\n\nx=compile(p'rint(25)','print(1254)')\nexec(x)", "#compile()\n#compiles more than one statement\n\nx=compile('print(25)','print(1254)')\nexec(x)", "#compile()\n#compiles more than one statement\n\nx=compile('print(25)')\nexec(x)", '#compile()\n#compiles more than one statement\n\nx=compile(print(25))\nexec(x)', "#compile()\n#compiles more than one statement\n\nx = compile('print(55)\\nprint(88)', 'test', 'exec')\nexec(x)", "#compile()\n#compiles more than one statement\n\nx = compile('print('Hello')\\nprint(88)', 'test', 'exec')\nexec(x)", '#compile()\n#compiles more than one statement\n\nx = compile(\'print("Hello")\\nprint(88)\', \'test\', \'exec\')\nexec(x)', '#compile()\n#compiles more than one statement\n\nx = compile(\'print("Hello")\\nprint(88)\', \'test\')\nexec(x)', '#compile()\n#compiles more than one statement\n\nx = compile(\'print("Hello")\\nprint(88)\', \'test\',\'exec\')\nexec(x)', '#complex()\n#Returns complex number\n\nx=complex(3,5)\ny=complex(2+6j)\n\n\nprint(x,y', '#complex()\n#Returns complex number\n\nx=complex(3,5)\ny=complex(2+6j)\n\n\nprint(x,y)', '#delattr()\n#deletes specified Attribute\n\nx=["Name","Age",266]\n\ndelattr("Name",266)', '#delattr()\n#deletes specified Attribute\n\nx=["Name","Age"]\ny={"Name":"Shiva","Age":36}\n\nprint(delattr("Name"))\nprint(delattr("Name"))', '#delattr()\n#deletes specified Attribute\n\n\ny={"Name":"Shiva","Age":36}\n\n\nprint(delattr("Name","Shiva"))', '#delattr()\n#deletes specified Attribute\n# USeful for classes\n\nclass person:\n    name="Shiva"\n    age=42\n\nprint(delattr("person","name"))', '#delattr()\n#deletes specified Attribute\n# USeful for classes\n\nclass person:\n    name="Shiva"\n    age=42\n\ndelattr("person","name")', '#delattr()\n#deletes specified Attribute\n# USeful for classes\n\nclass person:\n    name="Shiva"\n    age=42\n\ndelattr(person,"name")', '#delattr()\n#deletes specified Attribute\n# USeful for classes\n\nclass person:\n    name="Shiva"\n    age=42\n\ndelattr(person,"name")\n\nprint(person)', '#delattr()\n#deletes specified Attribute\n# USeful for classes\n\nclass person:\n    name="Shiva"\n    age=42\n\ndelattr(person,"name")\n\nprint(person())', '#delattr()\n#deletes specified Attribute\n# USeful for classes\n\nclass person:\n    name="Shiva"\n    age=42\n\ndelattr(person,"name")\n\nprint(person.age)', '#delattr()\n#deletes specified Attribute\n# USeful for classes\n\nclass person:\n    name="Shiva"\n    age=42\n\ndelattr(person,"name")\n\nprint(person.age)\nprint(person.name)', '#delattr()\n#deletes specified Attribute\n# USeful for classes\n\nclass person:\n    name="Shiva"\n    age=42\n\nprint(person.age)\nprint(person.name)  \n\ndelattr(person,"name")\n\nprint(person.age)\nprint(person.name)  ', '#dict()\n#Returns a dictionary\n\na={"Name","Age"}\nprint(dict(a))', '#dict()\n#Returns a dictionary\n\na={"Name","Age","City"}\nprint(dict(a))', '#dict()\n#Returns a dictionary\n\na=(name="Shiva",age=39,city="AP")\nprint(dict(a))', '#dict()\n#Returns a dictionary\n\na=dict(name="Shiva",age=39,city="AP")\nprint(a,type(a))', '#dict()\n#Returns a dictionary\n\na=dict(name="Shiva",age=39,city="AP")\nprint(a,type(a))\n\nb=["Shiva",36,"AP"]\ndict(b)', '#dict()\n#Returns a dictionary\n\na=dict(name="Shiva",age=39,city="AP")\nprint(a,type(a))\n\nname="SHiva"\nage=36\ncity="AP"\n\nc=dict(name,age,city)\nprint(c)', '#dict()\n#Returns a dictionary\n\na=dict(name="Shiva",age=39,city="AP")\nprint(a,type(a))\n\ndef fun():\n    name="SHiva"\n    age=36\n    city="AP"\n\nc=dict(fun())\nprint(c)', '#dict()\n#Returns a dictionary\n\na=dict(name="Shiva",age=39,city="AP")\nprint(a,type(a))\n\ndef fun():\n    name="SHiva"\n    age=36\n    city="AP"\n\nc=dict(fun)\nprint(c)', '#dict()\n#Returns a dictionary\n\na=dict(name="Shiva",age=39,city="AP")\nprint(a,type(a))', '#dir()\n\n#Returns all properties of a class or method\n\nclass person:\n    name="Shiva"\n    age=42\n    city="VSP"\n\n    def fn():\n        popu=1245511\n        country="India"\n\nprint(dir(person))', '#dir()\n\n#Returns all properties of a class or method\n\nclass person:\n    name="Shiva"\n    age=42\n    city="VSP"\n\n    def fn():\n        popu=1245511\n        country="India"\nobj=fn()\n\nprint(dir(person))\nprint(dir(obj))', '#dir()\n\n#Returns all properties of a class or method\n\nclass person:\n    name="Shiva"\n    age=42\n    city="VSP"\n\n    def fn():\n        popu=1245511\n        country="India"\nobj=fn()\n\nprint(dir(person))\nprint(dir(obj))\nprint(dir(fn))', '#dir()\n\n#Returns all properties of a class or method\n\nclass person:\n    name="Shiva"\n    age=42\n    city="VSP"\n\n    def fn():\n        popu=1245511\n        country="India"\nobj=fn()\n\nprint(dir(person\\b))\nprint(dir(obj))\nprint(dir(fn))', '#dir()\n\n#Returns all properties of a class or method\n\nclass person:\n    name="Shiva"\n    age=42\n    city="VSP"\n\n    def fn():\n        popu=1245511\n        country="India"\nobj=fn()\n\nprint(dir(person,"\\b"))\nprint(dir(obj))\nprint(dir(fn))', '#dir()\n\n#Returns all properties of a class or method\n\nclass person:\n    name="Shiva"\n    age=42\n    city="VSP"\n\n    def fn():\n        popu=1245511\n        country="India"\nobj=fn()\n\nprint(dir(person),\\b)\nprint(dir(obj))\nprint(dir(fn))', '#dir()\n\n#Returns all properties of a class or method\n\nclass person:\n    name="Shiva"\n    age=42\n    city="VSP"\n\n    def fn():\n        popu=1245511\n        country="India"\nobj=fn()\n\nprint(dir(person),\'\\b\')\nprint(dir(obj))\nprint(dir(fn))', '#dir()\n\n#Returns all properties of a class or method\n\nclass person:\n    name="Shiva"\n    age=42\n    city="VSP"\n\n    def fn():\n        popu=1245511\n        country="India"\nobj=fn()\n\nprint(dir(person))\nprint(dir(obj))\nprint(dir(fn))', '#dir()\n\n#Returns all properties of a class or method\n\nclass person:\n    name="Shiva"\n    age=42\n    city="VSP"\n\n    def fn():\n        popu=1245511\n        country="India"\nobj=fn()\n\nprint(dir(person))\nprint(dir(obj))\nprint(dir(fn))', '#divmod()\n#display quotient and remainder\n\nprint(divmod(2,6))', '#divmod()\n#display quotient and remainder\n\nprint(divmod(2,6))  #\nprint(divmod(5,2))', 'x=(123,True,"Hello")\nprint(enumerate(x))', 'x=(123,True,"Hello")\ny=enumerate(x)', '#enumerate()\n#Takes enumerate objects AND RETURNS to enumerate objects\nx=(123,True,"Hello")\ny=enumerate(x)\nprint(y)\nprint(type(x),type(y))', '#enumerate()\n#Takes enumerate objects AND RETURNS to enumerate objects\nx=(123,True,"Hello")\ny=enumerate(x)\nprint(y)\nprint(y,2)\nprint(type(x),type(y))', '#enumerate()\n#Takes enumerate objects AND RETURNS to enumerate objects\nx=(123,True,"Hello")\ny=enumerate(x)\nprint(list(y))\nprint(list(y,2))\nprint(type(x),type(y))', '#enumerate()\n#Takes enumerate objects AND RETURNS to enumerate objects\nx=(123,True,"Hello")\ny=enumerate(x)\nprint(list(y))\nprint(list(y),2)\nprint(type(x),type(y))', '#enumerate()\n#Takes enumerate objects AND RETURNS to enumerate objects\nx=(123,True,"Hello")\ny=enumerate(x)\nprint(list(y))\nprint(list(y))\nprint(type(x),type(y))', '#enumerate()\n#Takes enumerate objects AND RETURNS to enumerate objects\nx=(123,True,"Hello")\ny=enumerate(x)\nprint(list(y))\n\nprint(type(x),type(y))', '#enumerate()\n#Takes enumerate objects AND RETURNS to enumerate objects\nx=(123,True,"Hello")\ny=enumerate(x)\nprint(list(list(y)))\n\nprint(type(x),type(y))', '#enumerate()\n#Takes enumerate objects AND RETURNS to enumerate objects\nx=(123,True,"Hello")\ny=enumerate(x)\nprint(list(list(list(y))))\n\nprint(type(x),type(y))', '#enumerate()\n#Takes enumerate objects AND RETURNS to enumerate objects\nx=(123,True,"Hello")\ny=enumerate(x)\nprint(tup(list(list(list(y)))))\n\nprint(type(x),type(y))', '#enumerate()\n#Takes enumerate objects AND RETURNS to enumerate objects\nx=(123,True,"Hello")\ny=enumerate(x)\nprint(tuple(list(list(list(y)))))\n\nprint(type(x),type(y))', '#enumerate()\n#Takes enumerate objects AND RETURNS to enumerate objects\nx=(123,True,"Hello")\ny=enumerate(x)\nprint(y)\n\nprint(type(x),type(y))', '#enumerate()\n#Takes enumerate objects AND RETURNS to enumerate objects\n# It helpsus to convert one data type to another datatype\nx=(123,True,"Hello")\ny=enumerate(x)  #enumerated object\nprint(y)\nprint(type(x),type(y))\na=list(y)\nprint(a,type(a))', '#enumerate()\n#Takes enumerate objects AND RETURNS to enumerate objects\n# It helpsus to convert one data type to another datatype\nx=(123,True,"Hello")\ny=enumerate(x)  #enumerated object\nprint(y)\nprint(type(x),type(y))\na=list(y) # \nprint(a,type(a)) #print(list(y))   converted enumerated object to list\n\nprint(dict(y))', '#enumerate()\n#Takes enumerate objects AND RETURNS to enumerate objects\n# It helpsus to convert one data type to another datatype\nx=(123,True,"Hello")\ny=enumerate(x)  #enumerated object\nprint(y)\nprint(type(x),type(y))\na=list(y) # \nprint(a,type(a)) #converted enumerated object to list\nprint(list(y))\nprint(dict(y))', '#enumerate()\n#Takes enumerate objects AND RETURNS to enumerate objects\n# It helpsus to convert one data type to another datatype\nx=(123,True,"Hello")\ny=enumerate(x)  #enumerated object\nprint(y)\nprint(type(x),type(y))\na=list(y) # \nprint(a,type(a)) #converted enumerated object to list\nprint(list(y))\n\nz=dict(y)\nprint(z)', '#enumerate()\n#Takes enumerate objects AND RETURNS to enumerate objects\n# It helpsus to convert one data type to another datatype\nx=(123,True,"Hello")\ny=enumerate(x)  #enumerated object\nprint(y)\nprint(type(x),type(y))\na=list(y) # \nprint(a,type(a)) #converted enumerated object to list\nprint(list(y))\n\nz=dict(y)\nprint(z)\nprint(dict(y))', '#enumerate()\n#Takes enumerate objects AND RETURNS to enumerate objects\n# It helpsus to convert one data type to another datatype\nx=(123,True,"Hello")\ny=enumerate(x)  #enumerated object\nprint(y)\nprint(type(x),type(y))\na=list(y) # \nprint(a,type(a)) #converted enumerated object to list\nprint(list(y))\n\nz=dict(y)  #creates empty dictionary \nprint(z)\nprint(dict(y))\n\ndc={"Name":"Shivas","Age":42,"city":"VSP"}\nenume1=enumerate(dc)\nprint(list(enume1))', '#enumerate()\n#Takes enumerate objects AND RETURNS to enumerate objects\n# It helpsus to convert one data type to another datatype\nx=(123,True,"Hello")\ny=enumerate(x)  #enumerated object\nprint(y)\nprint(type(x),type(y))\na=list(y) # \nprint(a,type(a)) #converted enumerated object to list\nprint(list(y))\n\nz=dict(y)  #creates empty dictionary \nprint(z)\nprint(dict(y))\n\ndc={"Name":"Shivas","Age":42,"city":"VSP"}\nen1=enumerate(dc)\nprint(list(en1))\nprint(tuple(en1))\nprint(str(en1))', '#enumerate()\n#Takes enumerate objects AND RETURNS to enumerate objects\n# It helpsus to convert one data type to another datatype\nx=(123,True,"Hello")\ny=enumerate(x)  #enumerated object\nprint(y)\nprint(type(x),type(y))\na=list(y) # \nprint(a,type(a)) #converted enumerated object to list\nprint(list(y))\n\nz=dict(y)  #creates empty dictionary \nprint(z)\nprint(dict(y))\n\ndc={"Name":"Shivas","Age":42,"city":"VSP"}\nen1=enumerate(dc)\nprint(list(en1))\nprint(tuple(en1))\nprint(str().en1)', '#enumerate()\n#Takes enumerate objects AND RETURNS to enumerate objects\n# It helpsus to convert one data type to another datatype\nx=(123,True,"Hello")\ny=enumerate(x)  #enumerated object\nprint(y)\nprint(type(x),type(y))\na=list(y) # \nprint(a,type(a)) #converted enumerated object to list\nprint(list(y))\n\nz=dict(y)  #creates empty dictionary \nprint(z)\nprint(dict(y))\n\ndc={"Name":"Shivas","Age":42,"city":"VSP"}\nen1=enumerate(dc)\nprint(list(en1))\nprint(tuple(en1))\nprint(str(en1))', '#enumerate()\n#Takes enumerate objects AND RETURNS to enumerate objects\n# It helpsus to convert one data type to another datatype\nx=(123,True,"Hello")\ny=enumerate(x)  #enumerated object\nprint(y)\nprint(type(x),type(y))\na=list(y) # \nprint(a,type(a)) #converted enumerated object to list\nprint(list(y))\n\nz=dict(y)  #creates empty dictionary \nprint(z)\nprint(dict(y))\n\ndc={"Name":"Shivas","Age":42,"city":"VSP"}\nen1=enumerate(dc)\nprint(list(en1))\nprint(tuple(en1))\nstr1=str(en1)\nprint(str(en1))\nprint(str1)  ', '#enumerate()\n#Takes enumerate objects AND RETURNS to enumerate objects\n# It helpsus to convert one data type to another datatype\nx=(123,True,"Hello")\ny=enumerate(x)  #enumerated object\nprint(y)\nprint(type(x),type(y))\na=list(y) # \nprint(a,type(a)) #converted enumerated object to list\nprint(list(y))\n\nz=dict(y)  #creates empty dictionary \nprint(z)\nprint(dict(y))\n\ndc={"Name":"Shivas","Age":42,"city":"VSP"}\nen1=enumerate(dc)\nen2=list(en1)\nen3=tuple(en1)\nstr1=str(en1)\nprint(type(en2),en2)\nprint(type(en3),en3)\nprint(type(str1),str1)  ', '#eval()\n#evaluate a function\n\na=eval(((55+26)**2)*2)\nprint(a)', '#eval()\n#evaluate a function\n\na=((55+26)**2)*2\nprint(eval(a))', '#eval()\n#evaluate a function\n\na=((55+26)**2)*2\neval(a)', '#eval()\n#evaluate a function\n\na=55+26**2*2\neval(a)', '#eval()\n#evaluate a function\n\na=55+26\neval(a)', '#eval()\n#evaluate a function\n\na=eval(((55+26)**2)*2)', '#eval()\n#evaluate a function\n\na=((55+26)**2)*2\nprint(eval(a))', '#eval()\n#evaluate a function\n\na=eval(print("Hello"))\nprint(a)', '#eval()\n#evaluate a function

In [ ]:
#hasattr()
#Returns if specified object has specified attribute

class person:
    name="Shiva"
    age=42

x=hasattr(person,'age')

print(x)

y=hasattr(person,'city')
print(y)

True
False

In [ ]:
#id()
#returns id of an object most fo the times it is memory address

l1=["Apples","Mangoes"]
id(l1)

138960179443200

In [ ]:
#input()
#Takees input from user


name=input('enter User Name')
print("hello " +name)

enter User NameSHIVAPRRASAD_SK
hello SHIVAPRRASAD_SK

In [ ]:
#int()
#Returns integer Number

print(int(3.55))

3

In [ ]:
#isinstance()

#CHecks whether given paratemeter is sepcified dataype
#syntax    isinstance(object,type)

x=isinstance(6,int)
print(x)

print(isinstance("python",(str,float,int)))


class person:
    def fun():
        name="Shiva"

obj=fun()
x=isinstance(obj,type(fun))
print(x)

cl=person()
print(isinstance(cl,type(person)))

True
True
False
False

In [ ]:
#issubclass()
#if specified class is subclass of a class

class person:
    print("Hello  Father")

class child(person):
    print("Hello Child")

print(issubclass(child,person))

Hello  Father
Hello Child
True

In [ ]:
#iter()
#Returns a iter object

lis=["Apples","Mangoes","Bananas"]
itr1=iter(lis)   #Itr1 is iter object. converted list to  iter
print(type(itr1))
print(next(itr1))
print(next(itr1))

tpl=("Apples","Mangoes","Bananas")
tpl1=iter(tpl)  # tpl1 is iterator of tpl

print(type(tpl1))
print(next(tpl1))
print(next(tpl1))
print(next(tpl1))

<class 'list_iterator'>
Apples
Mangoes
<class 'tuple_iterator'>
Apples
Mangoes
Bananas

In [ ]:
#len()
# Returns length of string

st="shiva"
l=["Apples","Banana"]
t=("Aples","Banana","Mango")
s={"A","b","c"}
d={"key1":"Val1","key2":"val2"}

print(len(st))
print(len(l))
print(len(t))
print(len(s))
print(len(d))

5
2
3
3
2

In [ ]:
#list()
#Returns a list

a=("S","A","B")
print(type(a)) #Tuple class

x=list(a)
print(type(x)) #converted to list class
print(x)

<class 'tuple'>
<class 'list'>
['S', 'A', 'B']

In [ ]:
#locals()
#Returns locals directory symbol table as table information

lcl=locals()
print(lcl,"\n")

print(type(lcl))

print(lcl.keys())
print(lcl.values())

{'__name__': '__main__', '__doc__': 'Automatically created module for IPython interactive environment', '__package__': None, '__loader__': None, '__spec__': None, '__builtin__': <module 'builtins' (built-in)>, '__builtins__': <module 'builtins' (built-in)>, '_ih': ['', '#iter()\n#Returns a iter object\n\nlis=["Apples","Mangoes","Bananas"]\nitr1=iter(lis)   #Itr1 is iter object. converted list to  iter\nprint(type(itr1))\nprint(next(itr1))\nprint(next(itr1))\n\ntpl=("Apples","Mangoes","Bananas")\ntpl1=iter(tpl)  # tpl1 is iterator of tpl\n\nprint(type(tpl1))\nprint(next(tpl1))\nprint(next(tpl1))\nprint(next(tpl1))', '#locals()\n#Returns locals directory symbol table as table information\n\nlcl=locals()\nprint(lcl,"\\n")\n\nprint(type(lcl))\n\nprint(lcl.keys())\nprint(lcl.values())'], '_oh': {}, '_dh': ['/content'], 'In': ['', '#iter()\n#Returns a iter object\n\nlis=["Apples","Mangoes","Bananas"]\nitr1=iter(lis)   #Itr1 is iter object. converted list to  iter\nprint(type(itr1))\nprint(next(itr1))\nprint(next(itr1))\n\ntpl=("Apples","Mangoes","Bananas")\ntpl1=iter(tpl)  # tpl1 is iterator of tpl\n\nprint(type(tpl1))\nprint(next(tpl1))\nprint(next(tpl1))\nprint(next(tpl1))', '#locals()\n#Returns locals directory symbol table as table information\n\nlcl=locals()\nprint(lcl,"\\n")\n\nprint(type(lcl))\n\nprint(lcl.keys())\nprint(lcl.values())'], 'Out': {}, 'get_ipython': <bound method InteractiveShell.get_ipython of <google.colab._shell.Shell object at 0x799c6481dfc0>>, 'exit': <IPython.core.autocall.ZMQExitAutocall object at 0x799c6481e9b0>, 'quit': <IPython.core.autocall.ZMQExitAutocall object at 0x799c6481e9b0>, '_': '', '__': '', '___': '', '_i': '#iter()\n#Returns a iter object\n\nlis=["Apples","Mangoes","Bananas"]\nitr1=iter(lis)   #Itr1 is iter object. converted list to  iter\nprint(type(itr1))\nprint(next(itr1))\nprint(next(itr1))\n\ntpl=("Apples","Mangoes","Bananas")\ntpl1=iter(tpl)  # tpl1 is iterator of tpl\n\nprint(type(tpl1))\nprint(next(tpl1))\nprint(next(tpl1))\nprint(next(tpl1))', '_ii': '', '_iii': '', '_i1': '#iter()\n#Returns a iter object\n\nlis=["Apples","Mangoes","Bananas"]\nitr1=iter(lis)   #Itr1 is iter object. converted list to  iter\nprint(type(itr1))\nprint(next(itr1))\nprint(next(itr1))\n\ntpl=("Apples","Mangoes","Bananas")\ntpl1=iter(tpl)  # tpl1 is iterator of tpl\n\nprint(type(tpl1))\nprint(next(tpl1))\nprint(next(tpl1))\nprint(next(tpl1))', 'lis': ['Apples', 'Mangoes', 'Bananas'], 'itr1': <list_iterator object at 0x799c500d2170>, 'tpl': ('Apples', 'Mangoes', 'Bananas'), 'tpl1': <tuple_iterator object at 0x799c500d15d0>, '_i2': '#locals()\n#Returns locals directory symbol table as table information\n\nlcl=locals()\nprint(lcl,"\\n")\n\nprint(type(lcl))\n\nprint(lcl.keys())\nprint(lcl.values())', 'lcl': {...}}

<class 'dict'>
dict_keys(['__name__', '__doc__', '__package__', '__loader__', '__spec__', '__builtin__', '__builtins__', '_ih', '_oh', '_dh', 'In', 'Out', 'get_ipython', 'exit', 'quit', '_', '__', '___', '_i', '_ii', '_iii', '_i1', 'lis', 'itr1', 'tpl', 'tpl1', '_i2', 'lcl'])
dict_values(['__main__', 'Automatically created module for IPython interactive environment', None, None, None, <module 'builtins' (built-in)>, <module 'builtins' (built-in)>, ['', '#iter()\n#Returns a iter object\n\nlis=["Apples","Mangoes","Bananas"]\nitr1=iter(lis)   #Itr1 is iter object. converted list to  iter\nprint(type(itr1))\nprint(next(itr1))\nprint(next(itr1))\n\ntpl=("Apples","Mangoes","Bananas")\ntpl1=iter(tpl)  # tpl1 is iterator of tpl\n\nprint(type(tpl1))\nprint(next(tpl1))\nprint(next(tpl1))\nprint(next(tpl1))', '#locals()\n#Returns locals directory symbol table as table information\n\nlcl=locals()\nprint(lcl,"\\n")\n\nprint(type(lcl))\n\nprint(lcl.keys())\nprint(lcl.values())'], {}, ['/content'], ['', '#iter()\n#Returns a iter object\n\nlis=["Apples","Mangoes","Bananas"]\nitr1=iter(lis)   #Itr1 is iter object. converted list to  iter\nprint(type(itr1))\nprint(next(itr1))\nprint(next(itr1))\n\ntpl=("Apples","Mangoes","Bananas")\ntpl1=iter(tpl)  # tpl1 is iterator of tpl\n\nprint(type(tpl1))\nprint(next(tpl1))\nprint(next(tpl1))\nprint(next(tpl1))', '#locals()\n#Returns locals directory symbol table as table information\n\nlcl=locals()\nprint(lcl,"\\n")\n\nprint(type(lcl))\n\nprint(lcl.keys())\nprint(lcl.values())'], {}, <bound method InteractiveShell.get_ipython of <google.colab._shell.Shell object at 0x799c6481dfc0>>, <IPython.core.autocall.ZMQExitAutocall object at 0x799c6481e9b0>, <IPython.core.autocall.ZMQExitAutocall object at 0x799c6481e9b0>, '', '', '', '#iter()\n#Returns a iter object\n\nlis=["Apples","Mangoes","Bananas"]\nitr1=iter(lis)   #Itr1 is iter object. converted list to  iter\nprint(type(itr1))\nprint(next(itr1))\nprint(next(itr1))\n\ntpl=("Apples","Mangoes","Bananas")\ntpl1=iter(tpl)  # tpl1 is iterator of tpl\n\nprint(type(tpl1))\nprint(next(tpl1))\nprint(next(tpl1))\nprint(next(tpl1))', '', '', '#iter()\n#Returns a iter object\n\nlis=["Apples","Mangoes","Bananas"]\nitr1=iter(lis)   #Itr1 is iter object. converted list to  iter\nprint(type(itr1))\nprint(next(itr1))\nprint(next(itr1))\n\ntpl=("Apples","Mangoes","Bananas")\ntpl1=iter(tpl)  # tpl1 is iterator of tpl\n\nprint(type(tpl1))\nprint(next(tpl1))\nprint(next(tpl1))\nprint(next(tpl1))', ['Apples', 'Mangoes', 'Bananas'], <list_iterator object at 0x799c500d2170>, ('Apples', 'Mangoes', 'Bananas'), <tuple_iterator object at 0x799c500d15d0>, '#locals()\n#Returns locals directory symbol table as table information\n\nlcl=locals()\nprint(lcl,"\\n")\n\nprint(type(lcl))\n\nprint(lcl.keys())\nprint(lcl.values())', {'__name__': '__main__', '__doc__': 'Automatically created module for IPython interactive environment', '__package__': None, '__loader__': None, '__spec__': None, '__builtin__': <module 'builtins' (built-in)>, '__builtins__': <module 'builtins' (built-in)>, '_ih': ['', '#iter()\n#Returns a iter object\n\nlis=["Apples","Mangoes","Bananas"]\nitr1=iter(lis)   #Itr1 is iter object. converted list to  iter\nprint(type(itr1))\nprint(next(itr1))\nprint(next(itr1))\n\ntpl=("Apples","Mangoes","Bananas")\ntpl1=iter(tpl)  # tpl1 is iterator of tpl\n\nprint(type(tpl1))\nprint(next(tpl1))\nprint(next(tpl1))\nprint(next(tpl1))', '#locals()\n#Returns locals directory symbol table as table information\n\nlcl=locals()\nprint(lcl,"\\n")\n\nprint(type(lcl))\n\nprint(lcl.keys())\nprint(lcl.values())'], '_oh': {}, '_dh': ['/content'], 'In': ['', '#iter()\n#Returns a iter object\n\nlis=["Apples","Mangoes","Bananas"]\nitr1=iter(lis)   #Itr1 is iter object. converted list to  iter\nprint(type(itr1))\nprint(next(itr1))\nprint(next(itr1))\n\ntpl=("Apples","Mangoes","Bananas")\ntpl1=iter(tpl)  # tpl1 is iterator of tpl\n\nprint(type(tpl1))\nprint(next(tpl1))\nprint(next(tpl1))\nprint(next(tpl1))', '#locals()\n#Returns locals directory symbol table as table information\n\nlcl=locals()\nprint(lcl,"\\n")\n\nprint(type(lcl))\n\nprint(lcl.keys())\nprint(lcl.values())'], 'Out': {}, 'get_ipython': <bound method InteractiveShell.get_ipython of <google.colab._shell.Shell object at 0x799c6481dfc0>>, 'exit': <IPython.core.autocall.ZMQExitAutocall object at 0x799c6481e9b0>, 'quit': <IPython.core.autocall.ZMQExitAutocall object at 0x799c6481e9b0>, '_': '', '__': '', '___': '', '_i': '#iter()\n#Returns a iter object\n\nlis=["Apples","Mangoes","Bananas"]\nitr1=iter(lis)   #Itr1 is iter object. converted list to  iter\nprint(type(itr1))\nprint(next(itr1))\nprint(next(itr1))\n\ntpl=("Apples","Mangoes","Bananas")\ntpl1=iter(tpl)  # tpl1 is iterator of tpl\n\nprint(type(tpl1))\nprint(next(tpl1))\nprint(next(tpl1))\nprint(next(tpl1))', '_ii': '', '_iii': '', '_i1': '#iter()\n#Returns a iter object\n\nlis=["Apples","Mangoes","Bananas"]\nitr1=iter(lis)   #Itr1 is iter object. converted list to  iter\nprint(type(itr1))\nprint(next(itr1))\nprint(next(itr1))\n\ntpl=("Apples","Mangoes","Bananas")\ntpl1=iter(tpl)  # tpl1 is iterator of tpl\n\nprint(type(tpl1))\nprint(next(tpl1))\nprint(next(tpl1))\nprint(next(tpl1))', 'lis': ['Apples', 'Mangoes', 'Bananas'], 'itr1': <list_iterator object at 0x799c500d2170>, 'tpl': ('Apples', 'Mangoes', 'Bananas'), 'tpl1': <tuple_iterator object at 0x799c500d15d0>, '_i2': '#locals()\n#Returns locals directory symbol table as table information\n\nlcl=locals()\nprint(lcl,"\\n")\n\nprint(type(lcl))\n\nprint(lcl.keys())\nprint(lcl.values())', 'lcl': {...}}])

In [ ]:
#map()
# Returns an mapping object

def func(a,b):
    return a+b

a=["A","B","C"]
b=["a","b","c"]

x=map(func,a,b)  #returns mapping object
y=list(x)
z=tuple(x)
d=dict(x)
v=set(x)
m=str(x)
print(x)
print(y)
print(z)
print(d)
print(v)
print(m)

<map object at 0x7ded6d80d870>
['Aa', 'Bb', 'Cc']
()
{}
set()
<map object at 0x7ded6d80d870>

In [ ]:
#max()
#returns max value
print(max(4,6))

6

In [ ]:
#min()
#Returns minimum Value

print(min(1,1.1))

1

In [ ]:
#memoryview()

x=b"Hello"
print(memoryview(b'x'))
print(x[0]) #unicode value of charater at [0]

<memory at 0x7ded6d820ac0>
72

In [ ]:
#next()
#Returns next item of an iterable object

mytup=iter(("A","B","C"))
print(next(mytup))
print(next(mytup))
print(next(mytup))

A
B
C

In [ ]:
#object()
#Returns Object
x=object()
print(type(x))

def func():
    print('hello')
    x=5
    return x

ob=func()
print(type(ob))
print(ob)

<class 'object'>
hello
<class 'int'>
5

In [ ]:
#oct()
#converts a number to octal

print(oct(5))
print(oct(ord('b')))

0o5
0o142

In [ ]:
#open()
#Opens a file and return fileobject

fil=open("/content/sample_data/README.md","r")
#fil.read() # reads file Information
print(fil.read()) # prints file content

This directory includes a few sample datasets to get you started.

*   `california_housing_data*.csv` is California housing data from the 1990 US
    Census; more information is available at:
    https://developers.google.com/machine-learning/crash-course/california-housing-data-description

*   `mnist_*.csv` is a small sample of the
    [MNIST database](https://en.wikipedia.org/wiki/MNIST_database), which is
    described at: http://yann.lecun.com/exdb/mnist/

*   `anscombe.json` contains a copy of
    [Anscombe's quartet](https://en.wikipedia.org/wiki/Anscombe%27s_quartet); it
    was originally described in

    Anscombe, F. J. (1973). 'Graphs in Statistical Analysis'. American
    Statistician. 27 (1): 17-21. JSTOR 2682899.

    and our copy was prepared by the
    [vega_datasets library](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/_data/anscombe.json).

In [ ]:
#odr()
#converts unicode character

print(ord('b'))

98

In [ ]:
#pow()
#Returns power of a number

print(pow(3,2)) # 3 power 2

9

In [ ]:
#print()
#prints output

print("Hello")

Hello

In [ ]:
#range()
#Returns a range

for x in range(0,20,4):
    print(x)

0
4
8
12
16

In [ ]:
#reversed()
#Returns a reversed of iter

l=["Shiva","Karthik","Srn"]

x=reversed(l)
for a in x:
    print(a)
print("\n\n")

s="Shiva"
for x in reversed(s):
    print(x)

Srn
Karthik
Shiva



a
v
i
h
S

In [ ]:
#round()
#round the numbers to

x=round(5.2458)
x
print(round(5.2459))

print(round(5.2145,3))

5
5.215

In [ ]:
#set()
#Returns new set object

a=["x","y","z"]
b=("l","m",'n')
c={"A","B","C"}
d={"name":"Shiva","Age":5}


print(type(a),set(a),type(set(a)))
print(type(b),set(b),type(set(b)))
print(type(c),set(c),type(set(c)))
print(type(d),set(d),type(set(d)))

<class 'list'> {'x', 'z', 'y'} <class 'set'>
<class 'tuple'> {'n', 'm', 'l'} <class 'set'>
<class 'set'> {'C', 'A', 'B'} <class 'set'>
<class 'dict'> {'name', 'Age'} <class 'set'>

In [ ]:
#setattr()
#sets the attribute of a object

class person:
    name="Shiva"
    age=45

    print(name,age)

setattr(person,"name","Karthkeyaa")

obj=person
print(obj.name)
print(obj.age)

Shiva 45
Karthkeyaa
45

In [ ]:
#slice()
#Use to get specified no of tiems

lt=["a","b",'c','d','e','f','g']
x=slice(3)  #prints first [0],[1],[2]  items
print(lt[x])

x=slice(3,6) # prints [3],[4] ,[5]
print(lt[x])

x=slice(1,7,2)  # prints stpe of 2 upto 7 i.e [1],[3],[5]
print(lt[x])

['a', 'b', 'c']
['d', 'e', 'f']
['b', 'd', 'f']

In [ ]:
#sorted()

lst=['a','b','c','d','e','f']

x=sorted(lst)
print(x)
y=sorted(lst,reverse=True)
print(y)

st="SHIVA"
print(sorted(st))
st1=sorted(st,reverse=True)
print(st1)

"""here sorted() always returns a list. so when we use sorted() to a string it returns a list
with ascending order.When we use reverse=True it sets to descending order"""

print()

['a', 'b', 'c', 'd', 'e', 'f']
['f', 'e', 'd', 'c', 'b', 'a']
['A', 'H', 'I', 'S', 'V']
['V', 'S', 'I', 'H', 'A']

In [ ]:
#str()
#returns a string object

x=2.1
y=-2.1
z=["a","b"]
print(type(x),type(y),type(z))
print(str(x),str(y),str(z))
print(type(str(x)),type(str(y)),type(str(z)))

<class 'float'> <class 'float'> <class 'list'>
2.1 -2.1 ['a', 'b']
<class 'str'> <class 'str'> <class 'str'>

In [ ]:
#sum()
# sum  of elements in a iterable object
a=(1,2,3,4,5,6)
sum(a)   # a is tuple
sum(a,4)  # adds 4 to sum

25

In [ ]:
#super()

class parent:
    def __init__(self):
        self.name="Shiva"

class child(parent):
    def __init__(self):
        super().__init__()
        self.name=self.name
        print(super())
        print(type(super()))

    def __str__(self):
        return self.name

obj=child()
obj
print(obj)

<super: <class 'child'>, <child object>>
<class 'super'>
Shiva

In [ ]:
# tuple()
#creates a tuple function

a=["apple","banana","cherry"]
print(type(a))
b=tuple(a)
print(type(b))
print(b)

<class 'list'>
<class 'tuple'>
('apple', 'banana', 'cherry')

In [ ]:
#type()
#datatype of object

a=["a",'b','c']
b=("a","b","c")
c={'a','b','c'}
d=True
print(type(a),type(b),type(c),type(d))

<class 'list'> <class 'tuple'> <class 'set'> <class 'bool'>

In [ ]:
#vars()
#Return dictionary attribute of a object

class person:
    def fun():
        Name="Shiva"
        Age=46
        print(vars(fun))

person

__main__.person

In [ ]:
#zip()

#Returns a combination of iterator
# Wemust use any type of iterator like list,tuple  to get desired output

a="Shiva"
b="Prrasad"

x=zip(a,b)
print(x)
print(tuple(x))

l1=["Shiva","Ram","Kar"]
l2=["Prrasad","A","S"]
z=zip(l1,l2)
print(z)
print(list(z))
print(tuple(zip(l1,l2)))

<zip object at 0x78ccf0e82b40>
(('S', 'P'), ('h', 'r'), ('i', 'r'), ('v', 'a'), ('a', 's'))
<zip object at 0x78ccf0e82e80>
[('Shiva', 'Prrasad'), ('Ram', 'A'), ('Kar', 'S')]
(('Shiva', 'Prrasad'), ('Ram', 'A'), ('Kar', 'S'))

In [ ]:
import copy
original_list = [[1, 2, 3], [4, 5, 6]]
copy_copy = copy. copy(original_list)

original_list[0][0] = 99
print(copy_copy)  # Output: [[99, 2, 3], [4, 5, 6]]
print(original_list)

[[99, 2, 3], [4, 5, 6]]
[[99, 2, 3], [4, 5, 6]]

In [ ]:
import copy
original_list = [[1, 2, 3], [4, 5, 6]]
deep_copy = copy.deepcopy(original_list)

original_list[0][0] = 99
print(deep_copy)  # Output: [[1, 2, 3], [4, 5, 6]]
print(original_list)

[[1, 2, 3], [4, 5, 6]]
[[99, 2, 3], [4, 5, 6]]

In [ ]:
spam={'x':'cat'}
print('cat' in spam)     #By default it checks key only
print('cat' in spam.values()) # it checks key values only

spam={'cat':'x'}
print('cat' in spam)   # By defaultit checks keys only
print('cat' in spam.values())  # Here it checks key value

False
True
True
False